---
group: Examples
title: IDS Prototype
layout: ids_website/v1/views/_master_for_website_pages
theme: ids
---


{% block pageContent %} 

    {% from "components/header/_macro.njk" import onsHeader %}

    {{
        onsHeader({
            "title": 'ONS Service',
            "variants": 'neutral',
            "classes": "ons-u-bb",
            "noMasthead": true,
            "orgLogoHref": '#0',
            "titleLogo": 'ids-logo-en',
            "titleLogoMobile": 'ids-logo-en-mobile',
            "titleLogoClasses": 'ons-u-mt-s ons-u-mb-m',
            "titleLogoMobileClasses": 'ons-u-mt-xs ons-u-mb-s',
            "titleLogoHref": '/',
            "titleLogoAlt": 'Integrated Data Service',
            "navigation": {
                "id": 'main-nav',
                "ariaLabel": 'Main menu',
                "currentPath": 'none',
                "currentPageTitle": 'Design system',
                "itemsList": [
                     {
                        "title": 'Home',
                        "url": 'website_landingpage.html'
                    },
                    {
                        "title": 'About the IDS',
                        "url": 'about.html'
                    },
                    {
                        "title": 'Keeping data secure',
                        "url": 'secure.html'
                    }
                ],
                "toggleNavigationButton": {
                    "text": 'Menu',
                    "ariaLabel": 'Toggle main menu'
                }
            }
        })
    }}
    

    <div class="ons-page__container ons-container">
        <nav class="ons-breadcrumb" aria-label="Breadcrumbs">
            <ol class="ons-breadcrumb__items ons-u-fs-s">
                <li class="ons-breadcrumb__item" id="breadcrumb-1">
                    <a class="ons-breadcrumb__link" href="website_landingpage.html">Home</a> 
                    <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                    </svg>
                </li>
            </ol>
        </nav>
        <div class="ons-grid">
            <div class="ons-grid__col ons-col-8@m">
                <main id="main-content" class="ons-page__main">
                    <h1 class="ons-u-mb-l ons-u-fs-xxl">Current data in the Integrated Data Service</h1>
                    <div class="ons-page__body"><h2>
                        <strong>Annual Survey of Hours and Earnings (ASHE)</strong></h2>
                        <p>The Annual Survey of Hours and Earnings, de-identified, provides information about the levels, distribution and make-up of earnings and hours paid for employees within the UK by sex, and full-time and part-time working from 1990 to 2020 down to postcode level geography.</p>
                        <h2><strong>BBC News Sentiment Analysis</strong></h2>
                        <p>BBC News Regional Text Analysis January 2019 to October 2021.</p>
                        <h2><strong>Energy Performance Certificates for Domestic Buildings</strong></h2>
                        <p>DLUHC Open Data Energy Performance Certificates (EPC) issued for domestic buildings constructed, sold or let since 2008. This data has been matched to the ONS Address index Matching Service.</p>
                        <h2><strong>Mid Year Population Estimates</strong></h2>
                        <p>Mid-year population estimates as 30 June, by age, sex and local authority for 20th June 2012 to 30th June 2020.</p>
                        <h2><strong>Birth Estimates</strong></h2>
                        <p>Birth's data that has been aggregated by age/sex to local authority (2021 definition) with disclosure control applied in England and Wales for 2012 to 2020 including sex of child, age of mother at time of birth, disclosure controlled through aggregation into 18 and below and 40 and above and count of birth within group.</p>
                        <h2><strong>Death Estimates</strong></h2>
                        <p>Death's data that has been aggregated by age/sex to local authority with disclosure control applied in England and Wales for 2012 to 2020 including age at death, sex coded to M=Male or F=Female and count within group.</p>
                    </div>
                </main>
            </div>
        </div>
    </div>

    <br>


    {% from "components/footer/_macro.njk" import onsFooter %}
        {{
            onsFooter({
                "poweredBy": {
                    "logo": 'hm-gov-logo-en',
                    "alt": 'Her Majesty’s Government',
                    "partnership": 'In partnership with'
                },
                "legal": [
                    {
                        "itemsList": [
                            {
                                "text": 'Cookies',
                                "url": 'cookies.html'
                            },
                            {
                                "text": 'Accessibility statement',
                                "url": 'accessibility.html'
                            },
                            {
                                "text": 'Privacy and data protection',
                                "url": 'privacy.html'
                            }
                        ]
                    }
                ],
                "OGLLink": true
            })
        }}

            
 
{% endblock %}