---
group: Hub
title: Hub Prototypes
layout: ids_hub/vision/invitation/v1/views/_master_for_directory_page_option_a
---

{% from "components/button/_macro.njk" import onsButton %}

{% block pageContent %}
    
<!-- Body starts here -->

<div class="ons-page__container ons-container ons-container--wide">
    <main id="main-content" class="ons-page__main" style="margin-top: 20px;margin-bottom:100px;">

        <!-- Full column starts here -->

        <!-- Breadcrumbs -->

        <nav class="ons-breadcrumb" aria-label="Breadcrumbs" style="padding-bottom: 20px;padding-top:0px;">
          <ol class="ons-breadcrumb__items ons-u-fs-s">
            <li class="ons-breadcrumb__item" id="breadcrumb-1">
              <a class="ons-breadcrumb__link" href="dashboard.html">Dashboard</a>
              <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="#0" focusable="false" fill="currentColor">
                <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
              </svg>
            </li>
            <li class="ons-breadcrumb__item" id="breadcrumb-2">
               <a class="ons-breadcrumb__link" href="#0">People directory</a>
              <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="#0" focusable="false" fill="currentColor">
                <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
              </svg>
            </li>
          </ol>
        </nav>

         <!-- Lorum -->

        <h1 class="ons-u-fs-xl" style="margin-bottom: 10px; padding-top: 10px;">People directory</h1>

        <div class="ons-panel ons-panel--branded" style="padding: 20px;background: #f5f5f6;margin-top: 20px; margin-bottom: 20px;">
            <label class="ons-label ons-u-pb-xxs ons-u-mb-no" for="search-field">
                Search for people 
                <!--
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                Filter table view by 
                -->
            </label>
            <div class="ons-field ons-grid--flex ons-search">
                <span class="ons-grid--flex ons-search">
                    <div class="ons-search-component">
                    <input type="search" id="search-field" class="ons-input ons-input--text ons-input-type__input ons-search__input" style="background: #ffffff; width: 500px;" placeholder="Search by name or AR number">
                    <button type="submit" class="ons-btn ons-search__btn ons-u-mt-xs@xxs@s ons-btn--small">
                        <span class="ons-btn__inner">
                        <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor">
                            <path d="M11.86 10.23 8.62 6.99a4.63 4.63 0 1 0-6.34 1.64 4.55 4.55 0 0 0 2.36.64 4.65 4.65 0 0 0 2.33-.65l3.24 3.23a.46.46 0 0 0 .65 0l1-1a.48.48 0 0 0 0-.62Zm-5-3.32a3.28 3.28 0 0 1-2.31.93 3.22 3.22 0 1 1 2.35-.93Z" />
                        </svg>
                        <span class="ons-btn__text ons-u-vh@xxs@s"><span class="ons-u-vh">Search</span></span>
                        </span>
                    </button>
                    </div>
                </span>
                <!--
                <span style="padding-right: 60px;"></span>
                <select id="select" name="select" class="ons-input ons-input--select">
                    <option value="1" selected disabled>All</option>
                    <option value="2">Accredited government researchers (2134)</option>
                    <option value="3">Accredited academia researchers (745)</option>
                    <option value="4">Other accredited researchers (113)</option>
                    <option value="5">Non-accredited reviewers (89)</option>
                </select>
                -->
                <span style="padding-right: 40px;"></span>
                <span style="margin-top:5px;">
                    <a style="color: #206095;" class="text_container" id="show">Show/hide filters</a>
                </span>

                <!-- Reveal more filters -->

                <div class="menu ons-btn-group" style="display: none;margin-top: 20px;">
                    <style>
                        .ons-btn-group {
                        margin-bottom: 0.5rem !important;
                        }
                    </style>
                    <span style="padding-bottom: 10px;"><strong>Filter table by</strong></span>
                    <span style="padding-right: 800px;"></span>
                    <select id="select" name="select" class="ons-input ons-input--select">
                        <option value="1" selected disabled>Example 1</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                    </select>
                    <span style="padding-right: 20px;"></span>
                    <select id="select" name="select" class="ons-input ons-input--select">
                        <option value="1" selected disabled>Example 2</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                    </select>
                    <span style="padding-right: 20px;"></span>
                    <select id="select" name="select" class="ons-input ons-input--select">
                        <option value="1" selected disabled>Example 3</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                    </select>
                    <br><br>
                    <select id="select" name="select" class="ons-input ons-input--select">
                        <option value="1" selected disabled>Example 4</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                    </select>
                    <span style="padding-right: 20px;"></span>
                    <select id="select" name="select" class="ons-input ons-input--select">
                        <option value="1" selected disabled>Example 5</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                    </select>
                    <span style="padding-right: 20px;"></span>
                    <select id="select" name="select" class="ons-input ons-input--select">
                        <option value="1" selected disabled>Example 6</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                    </select>
                    <span style="padding-right: 1200px;"></span>
                    <div class="ons-btn-group" style="margin-bottom: 0px!important;margin-top:20px;">
                        <a href="directory_option_a_filtered.html" style="margin-bottom: 0px;">
                            <button type="button" class="ons-btn ons-btn--small" style="margin-bottom: 0px;margin-top: 10px;margin-right:0px;">
                            <span class="ons-btn__inner">
                                <span class="ons-btn__text">Apply filters</span>
                            </span>
                            </button>
                        </a>
                        <a href="directory_option_a.html" style="margin-bottom: 0px;">
                            <button type="button" class="ons-btn ons-btn--secondary ons-btn--small" style="margin-bottom: 0px;margin-top: 10px;">
                            <span class="ons-btn__inner"><span class="ons-btn__text">Clear filters</span></span>
                            </button>
                        </a>
                        </div>
                </div>
            
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

                <script>
                    $(document).ready(function(){
                        $('#show').click(function() {
                        $('.menu').toggle("slide");
                        });
                    });
                </script>

                <!-- Enf of more filters -->

                <!--
                <span class="ons-checkboxes__item ons-checkboxes__item--no-border" style="margin-top:5px;">
                    <span class="ons-checkbox  ons-checkbox--no-border">
                        <input type="checkbox" id="data" class="ons-checkbox__input ons-js-checkbox" value="data">
                        <label class=" ons-checkbox__label " for="data" id="data-label">Display people in projects only</label>
                    </span>
                </span>
                -->
            </div> 
        </div>

        <!-- People -->

        <span><strong>Showing 1 to 10 of 1355 results</strong></span>

        <table id="basic-table" class="ons-table" style="margin-top: 5px;">
            <thead class="ons-table__head">
                <tr class="ons-table__row">
                    <th scope="col" class="ons-table__header" width="300">
                        <span>Name</span>
                    </th>
                    <th scope="col" class="ons-table__header" width="150">
                        <span>AR number</span>
                    </th>
                    <th scope="col" class="ons-table__header" width="350">
                        <span>AR type</span>
                    </th>
                    <th scope="col" class="ons-table__header" width="400">
                        <span>Organisation</span>
                    </th>
                    <th scope="col" class="ons-table__header" width="200">
                        <span>Sector</span>
                    </th>
                    <th scope="col" class="ons-table__header" width="150">
                        <span>Projects</span>
                    </th>
                </tr>
            </thead>
            <tbody class="ons-table__body">
                <tr class="ons-table__row">
                    <td class="ons-table__cell" name="cell-name">
                        <a href="directory_profile_miles_a.html" style="color: #206095;">Miles Coward</a>
                    </td>
                    <td class="ons-table__cell">
                        1582
                    </td>
                    <td class="ons-table__cell">
                        Government researcher
                    </td>
                    <td class="ons-table__cell">
                        HMRC
                    </td>
                    <td class="ons-table__cell">
                        Government
                    </td>
                    <td class="ons-table__cell">
                        5
                    </td>
                </tr>
                <tr class="ons-table__row">
                    <td class="ons-table__cell" name="cell-name">
                        <a href="directory_profile_sonia_a.html" style="color: #206095;">Sonia Turkey</a>
                    </td>
                    <td class="ons-table__cell">
                        1632
                    </td>
                    <td class="ons-table__cell">
                        Government researcher
                    </td>
                    <td class="ons-table__cell">
                        HMRC
                    </td>
                    <td class="ons-table__cell">
                        Government
                    </td>
                    <td class="ons-table__cell">
                        2
                    </td>
                </tr>
                <tr class="ons-table__row">
                    <td class="ons-table__cell" name="cell-name">
                        <a href="#0" style="color: #206095;">Anna Wilkinson-Smith</a>
                    </td>
                    <td class="ons-table__cell">
                        1284
                    </td>
                    <td class="ons-table__cell">
                        Academia researcher
                    </td>
                    <td class="ons-table__cell">
                        University of Croydon
                    </td>
                    <td class="ons-table__cell">
                        Academia
                    </td>
                    <td class="ons-table__cell">
                        0
                    </td>
                </tr>
                <tr class="ons-table__row">
                    <td class="ons-table__cell" name="cell-name">
                        <a href="#0" style="color: #206095;">Edward Sinclair</a>
                    </td>
                    <td class="ons-table__cell">
                        1903
                    </td>
                    <td class="ons-table__cell">
                        Government researcher
                    </td>
                    <td class="ons-table__cell">
                        Ministry of Justice
                    </td>
                    <td class="ons-table__cell">
                        Government
                    </td>
                    <td class="ons-table__cell">
                        2
                    </td>
                </tr>
                <tr class="ons-table__row">
                    <td class="ons-table__cell" name="cell-name">
                        <a href="#0" style="color: #206095;">Peter Lamper</a>
                    </td>
                    <td class="ons-table__cell">
                        1685
                    </td>
                    <td class="ons-table__cell">
                        Other researcher
                    </td>
                    <td class="ons-table__cell">
                        Bank of England
                    </td>
                    <td class="ons-table__cell">
                        Private
                    </td>
                    <td class="ons-table__cell">
                        1
                    </td>
                </tr>
                <tr class="ons-table__row">
                    <td class="ons-table__cell" name="cell-name">
                        <a href="#0" style="color: #206095;">Mike Sugar</a>
                    </td>
                    <td class="ons-table__cell">
                        1892
                    </td>
                    <td class="ons-table__cell">
                        Government researcher
                    </td>
                    <td class="ons-table__cell">
                        Ministry of Defence
                    </td>
                    <td class="ons-table__cell">
                        Government
                    </td>
                    <td class="ons-table__cell">
                        1
                    </td>
                </tr>
                <tr class="ons-table__row">
                    <td class="ons-table__cell" name="cell-name">
                        <a href="#0" style="color: #206095;">Maria Savanotich</a>
                    </td>
                    <td class="ons-table__cell">
                        1731
                    </td>
                    <td class="ons-table__cell">
                        Government researcher
                    </td>
                    <td class="ons-table__cell">
                        Cabinet Office
                    </td>
                    <td class="ons-table__cell">
                        Government
                    </td>
                    <td class="ons-table__cell">
                        0
                    </td>
                </tr>
                <tr class="ons-table__row">
                    <td class="ons-table__cell" name="cell-name">
                        <a href="#0" style="color: #206095;">Madhu Bali</a>
                    </td>
                    <td class="ons-table__cell">
                        1759
                    </td>
                    <td class="ons-table__cell">
                        Government researcher
                    </td>
                    <td class="ons-table__cell">
                        Home Office
                    </td>
                    <td class="ons-table__cell">
                        Government
                    </td>
                    <td class="ons-table__cell">
                        2
                    </td>
                </tr>
                <tr class="ons-table__row">
                    <td class="ons-table__cell" name="cell-name">
                        <a href="#0" style="color: #206095;">John Corrugate Collins</a>
                    </td>
                    <td class="ons-table__cell">
                        1043
                    </td>
                    <td class="ons-table__cell">
                        Other researcher
                    </td>
                    <td class="ons-table__cell">
                        Johnson & Johnson
                    </td>
                    <td class="ons-table__cell">
                        Private
                    </td>
                    <td class="ons-table__cell">
                        1
                    </td>
                </tr>
                <tr class="ons-table__row">
                    <td class="ons-table__cell" name="cell-name">
                        <a href="#0" style="color: #206095;">Sonia Bragado</a>
                    </td>
                    <td class="ons-table__cell">
                        1563
                    </td>
                    <td class="ons-table__cell">
                        Non-accredited reviewer
                    </td>
                    <td class="ons-table__cell">
                        Defra
                    </td>
                    <td class="ons-table__cell">
                        Government
                    </td>
                    <td class="ons-table__cell">
                        1
                    </td>
                </tr>
                <tr class="ons-table__row">
                    <td></td>
                </tr>
            </tbody>
        </table>

        <nav class="ons-pagination " aria-label="Pagination (Page 5 of 35)">
            <!--<div class="ons-pagination__position">Page 1 of 135</div>-->
            <ul class="ons-pagination__items">
                <!--
                <li class="ons-pagination__item ons-pagination__item--previous">
                <a href="#0" class="ons-pagination__link" rel="prev" aria-label="Go to the previous page (Page 4)">Previous</a>
                </li>
                -->
                <li class="ons-pagination__item" style="padding-right:20px;">Page 1 of 135</li>
                <li class="ons-pagination__item ons-pagination__item--current" style="padding-left:10px;">
                <a href="#0" class="ons-pagination__link" aria-label="Go to the first page (Page 1)">1</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to page 2">2</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to page 3">3</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to page 4" rel="prev">4</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-current="true" aria-label="Current page (Page 5 of 35)">5</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to page 6" rel="next">6</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to page 7">7</a>
                </li>
                <li class="ons-pagination__item ons-pagination__item--gap">&hellip;</li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to the last page (Page 35)">135</a>
                </li>
                <li class="ons-pagination__item ons-pagination__item--next">
                <a href="#0" class="ons-pagination__link" rel="next" aria-label="Go to the next page (Page 6)">Next</a>
                </li>
            </ul>
        </nav>

        <!--
        <nav class="ons-pagination " aria-label="Pagination (Page 5 of 35)">
            <div class="ons-pagination__position">Page 1 of 135</div>
            <ul class="ons-pagination__items">
                <li class="ons-pagination__item ons-pagination__item--current">
                <a href="#0" class="ons-pagination__link" aria-label="Go to the first page (Page 1)">1</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to page 2">2</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to page 3">3</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to page 4" rel="prev">4</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-current="true" aria-label="Current page (Page 5 of 35)">5</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to page 6" rel="next">6</a>
                </li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to page 7">7</a>
                </li>
                <li class="ons-pagination__item ons-pagination__item--gap">&hellip;</li>
                <li class="ons-pagination__item">
                <a href="#0" class="ons-pagination__link" aria-label="Go to the last page (Page 35)">135</a>
                </li>
                <li class="ons-pagination__item ons-pagination__item--next">
                <a href="#0" class="ons-pagination__link" rel="next" aria-label="Go to the next page (Page 6)">Next</a>
                </li>
            </ul>
        </nav>
        -->

        <div class="ons-grid">

            <!-- 2/3 column starts here -->

            <div class="ons-grid__col ons-col-8@m ons-u-mt-l ons-u-mb-l" style="margin-top: 30px!important;">
                <main id="main-content" class="ons-page__main" style="margin-top: 0px;margin-bottom:0px;">

                    <!-- Section -->                                 

                </main>
            </div>
            
            <!-- 2/3 column finish here -->

            <!-- Side column -->

            <div class="ons-grid__col ons-col-4@m ons-u-mt-l ons-u-mb-l" style="margin-top: 20px!important;">

                <!-- Side content start here -->

            </div>

            <!-- Side column finish here -->

        </div>

        <!-- Main finish here -->

    </main>
</div>

<!-- Body finish here -->


<!-- Body finish here -->

{% include "../../../../../includes/footer_hub_wide.html" %}

{% endblock %}
