---
group: Hub
title: Hub Prototypes
layout: ids_hub/vision/invitation/v1/views/_master_for_project_pages
---

{% from "components/button/_macro.njk" import onsButton %}

{% block pageContent %}
    
<!-- Body starts here -->

<div class="ons-page__container ons-container ons-container--wide">
    <main id="main-content" class="ons-page__main" style="margin-top: 20px;margin-bottom:100px;">

        <!-- Full column starts here -->

        <!-- Breadcrumbs -->

        <nav class="ons-breadcrumb" aria-label="Breadcrumbs" style="padding-bottom: 0px;padding-top:0px;">
          <ol class="ons-breadcrumb__items ons-u-fs-s">
            <li class="ons-breadcrumb__item" id="breadcrumb-1">
              <a class="ons-breadcrumb__link" href="dashboard.html">Dashboard</a>
              <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="#0" focusable="false" fill="currentColor">
                <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
              </svg>
            </li>
            <li class="ons-breadcrumb__item" id="breadcrumb-2">
              <a class="ons-breadcrumb__link" href="ids_projects.html">IDS projects</a>
              <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="#0" focusable="false" fill="currentColor">
                <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
              </svg>
            </li>
            <li class="ons-breadcrumb__item" id="breadcrumb-2">
              <a class="ons-breadcrumb__link" href="project_1.html">HMRC Pension Scheme</a>
              <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
              </svg>
            </li>
          </ol>
        </nav>

        <!-- Notifications -->

        <div class="ons-panel ons-panel--info ons-panel--no-title" style="margin-top: 30px;">
            <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
            <div class="ons-panel__body">
                You are about to request to RAS to add a new team member to project <strong>HMRC Pension Scheme</strong>. <a href="#0">View project members guidance</a>
            </div>
        </div>

         <!-- Lorum -->

        <!--
        <h1 class="ons-u-fs-xl" style="margin-bottom: 0px; padding-top: 10px;">
         Miles Smith
        </h1>
        -->

        <div class="ons-grid">

            <!-- 2/3 column starts here -->

            <div class="ons-grid__col ons-col-8@m ons-u-mt-l ons-u-mb-l" style="margin-top: 20px!important;">
                <main id="main-content" class="ons-page__main" style="margin-top: 0px;margin-bottom:0px;">

                    <!-- Profile -->

                    <!--
                    <span style="color: #ffffff; font-size: 14px; background-color: #1f84d8; vertical-align: middle; padding:2px;">&nbsp;HMRC Pension Scheme&nbsp;</span>
                    -->

                    <!--
                    <h3 class="ons-u-fs-m" style="margin-bottom: 0px; padding-top: 5px;color:#777777; font-weight: 400;">
                        HMRC Pension Scheme
                    </h3>
                    -->

                    <h3 class="ons-u-fs-l" style="margin-bottom: 20px; padding-top: 0px;">
                        Request add a new team member to HMRC Pension Scheme
                    </h3>

                    <span><label class="ons-label ons-u-pb-xxs ons-u-mb-no" for="search-field">1. Select person</label></span>

                    <div class="ons-grid ons-grid--gutterless" style="margin-bottom: 20px;">
                        <div class="ons-grid__col ons-col-8@m">
                            <div id="country-of-birth-container" class="ons-js-autosuggest   ons-autosuggest-input" data-instructions="Use up and down keys to navigate suggestions once you&#39;ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures." data-aria-you-have-selected="You have selected" data-min-chars="" data-aria-min-chars="Enter 3 or more characters for suggestions." data-aria-one-result="There is one suggestion available." data-aria-n-results="There are {n} suggestions available." data-aria-limited-results="Results have been limited to 10 suggestions. Type more characters to improve your search" data-more-results="Continue entering to improve suggestions" data-results-title="Suggestions" data-no-results="No suggestions found. You can enter your own answer" data-type-more="Continue entering to get suggestions" 
                            data-autosuggest-data="https://gist.githubusercontent.com/Delorenzo1000/eaab32af1392180a97e013524e8adca9/raw/ad5ca12796b7298a6b384d058fe928d1c3e010e7/name.json">
                                <div class="ons-field">
                                    <!--<label class="ons-label ons-label--with-description" aria-describedby="country-of-birth-label-description-hint" for="country-of-birth" id="country-of-birth-label">Current name of country</label>-->
                                    <!--<span id="country-of-birth-label-description-hint" class="ons-label__description  ons-input--with-description" style="font-size: 18px;">Enter your own answer or select from suggestions</span>-->
                                    <input type="text" id="country-of-birth" class="ons-input ons-input--text ons-input-type__input ons-js-autosuggest-input " autocomplete="off" aria-describedby="country-of-birth-label-description-hint" style="width: 550px;">
                                </div>
                                <div class="ons-autosuggest-input__results ons-js-autosuggest-results">
                                    <header id="country-of-birth-suggestions" class="ons-autosuggest-input__results-title ons-u-fs-s">Suggestions</header>
                                    <ul class="ons-autosuggest-input__listbox ons-js-autosuggest-listbox" title="Suggestions" role="listbox" id="country-of-birth-listbox" tabindex="-1"></ul>
                                </div>
                                <div class="ons-autosuggest-input__instructions ons-u-vh ons-js-autosuggest-instructions" id="country-of-birth-instructions" tabindex="-1">Use up and down keys to navigate suggestions once you&#39;ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.</div>
                                <div class="ons-autosuggest-input__status ons-u-vh ons-js-autosuggest-aria-status" aria-live="assertive" role="status" tabindex="-1"></div>
                            </div>
                        </div>
                        <div class="ons-grid__col ons-col-4@m" style="padding-left: 10px;">
                            <button type="submit" class="ons-btn ons-search__btn ons-u-mt-xs@xxs@s ons-btn--small" onclick="window.location.href='invite_member_populated.html';">
                                <span class="ons-btn__inner">
                                    <span class="ons-btn__text">Select</span>
                                </span>
                            </button>
                        </div>
                    </div>

                    <div class="ons-text-indent" style="padding-top: 10px;padding-bottom: 10px;margin-bottom: 0px;">
                            <h3 class="ons-u-fs-l" style="padding-top: 0px;margin-bottom: 10px;">
                                <a href="project_1.html" style="text-decoration: none;color: #000000;">Piort Kawoski</a>
                            </h3>
                            <dl class="ons-metadata ons-metadata__list ons-grid ons-grid--gutterless ons-u-cf ons-u-mb-no" title="Information about this business and its survey requirements" aria-label="Information about this business and its survey requirements">
                                <dt class="ons-metadata__term ons-grid__col ons-col-3@m">IDS user:</dt>
                                <dd class="ons-metadata__value ons-grid__col ons-col-9@m">Accredited academia researcher</dd>
                                <dt class="ons-metadata__term ons-grid__col ons-col-3@m">AR number:</dt>
                                <dd class="ons-metadata__value ons-grid__col ons-col-9@m">3562</dd>
                                <dt class="ons-metadata__term ons-grid__col ons-col-3@m">Organisation:</dt>
                                <dd class="ons-metadata__value ons-grid__col ons-col-9@m">University of Croydon</dd>
                                <dt class="ons-metadata__term ons-grid__col ons-col-3@m">Sector:</dt>
                                <dd class="ons-metadata__value ons-grid__col ons-col-9@m">Academia</dd>
                            </dl>
                    </div>

                    <!--
                    <div class="ons-panel ons-panel--branded" style="padding: 20px;background: #f5f5f6;width: 600px;">
                        <h3 class="ons-u-fs-l" style="padding-top: 0px;margin-bottom: 10px;">
                            <a href="project_1.html" style="text-decoration: none;color: #000000;">Piort Kawoski</a>
                        </h3>
                        <dl class="ons-metadata ons-metadata__list ons-grid ons-grid--gutterless ons-u-cf ons-u-mb-no" title="Information about this business and its survey requirements" aria-label="Information about this business and its survey requirements">
                            <dt class="ons-metadata__term ons-grid__col ons-col-3@m">IDS user:</dt>
                            <dd class="ons-metadata__value ons-grid__col ons-col-9@m">Accredited academia researcher</dd>
                            <dt class="ons-metadata__term ons-grid__col ons-col-3@m">ER number:</dt>
                            <dd class="ons-metadata__value ons-grid__col ons-col-9@m">3562</dd>
                            <dt class="ons-metadata__term ons-grid__col ons-col-3@m">Organisation:</dt>
                            <dd class="ons-metadata__value ons-grid__col ons-col-9@m">University of Croydon</dd>
                            <dt class="ons-metadata__term ons-grid__col ons-col-3@m">Sector:</dt>
                            <dd class="ons-metadata__value ons-grid__col ons-col-9@m">Academia</dd>
                        </dl>
                    </div>
                    -->

                    <!--
                    <div class="ons-field">
                        <label class="ons-label ons-label--placeholder" for="search-field">Search people</label>
                        <span class="ons-grid--flex ons-search">
                            <div class="ons-search-component">
                                <input type="search" id="search-field" class="ons-input ons-input--text ons-input-type__input ons-search__input ons-input--placeholder" placeholder="Search this service" style="width: 400px;">
                                <button type="submit" class="ons-btn ons-search__btn ons-u-mt-xs@xxs@s ons-btn--small" onclick="window.location.href='invite_member_populated.html';">
                                    <span class="ons-btn__inner"><span class="ons-btn__text">Select</span>
                                    </span>
                                </button>
                            </div>
                        </span>
                    </div>

                    -->

                    <br>

                    <span><label class="ons-label ons-u-pb-xxs ons-u-mb-no" for="search-field">2. Select person role in project</label></span>
                    <fieldset class="ons-fieldset">
                        <div class="ons-radios__items">
                            <span class="ons-radios__item ons-radios__item--no-border">
                                <span class="ons-radio ons-radio--no-border">
                                    <input type="radio" id="post" class="ons-radio__input ons-js-radio" value="post" name="contact" disabled>
                                    <label class=" ons-radio__label " for="post" id="post-label">Project Lead</label>
                                </span>
                            </span>
                            <br>
                            <span class="ons-radios__item ons-radios__item--no-border">
                                <span class="ons-radio ons-radio--no-border">
                                    <input type="radio" id="email" class="ons-radio__input ons-js-radio" value="email" name="contact" disabled>
                                    <label class=" ons-radio__label " for="email" id="email-label">Deputy Project Lead</label>
                                </span>
                            </span>
                            <br>
                            <span class="ons-radios__item ons-radios__item--no-border">
                                <span class="ons-radio ons-radio--no-border">
                                    <input type="radio" id="email" class="ons-radio__input ons-js-radio" value="email" name="contact">
                                    <label class=" ons-radio__label " for="email" id="email-label">Analyst</label>
                                </span>
                            </span>
                            <br>
                            <span class="ons-radios__item ons-radios__item--no-border">
                                <span class="ons-radio ons-radio--no-border">
                                    <input type="radio" id="email" class="ons-radio__input ons-js-radio" value="email" name="contact" disabled>
                                    <label class=" ons-radio__label " for="email" id="email-label">Enhanced Analyst</label>
                                </span>
                            </span>
                            <br>
                            <span class="ons-radios__item ons-radios__item--no-border">
                                <span class="ons-radio ons-radio--no-border">
                                    <input type="radio" id="email" class="ons-radio__input ons-js-radio" value="email" name="contact">
                                    <label class=" ons-radio__label " for="email" id="email-label">Peer Reviewer</label>
                                </span>
                            </span>
                            <br>
                            <span class="ons-radios__item ons-radios__item--no-border">
                                <span class="ons-radio ons-radio--no-border">
                                    <input type="radio" id="phone" class="ons-radio__input ons-js-radio ons-js-other" value="phone" name="contact" aria-controls="phone-other-wrap" aria-haspopup="true">
                                    <label class=" ons-radio__label " for="phone" id="phone-label">Other</label>
                                    <span class="ons-radio__other" id="phone-other-wrap">
                                    <fieldset id="phone-time" class="ons-fieldset ons-js-other-fieldset-radio">
                                        <legend class="ons-fieldset__legend  ons-u-mb-xs"><span class="ons-fieldset__legend-title ons-u-pb-no">Enter role</span></legend>
                                        <div class="ons-radios__items">
                                        <span class="ons-radios__item ons-radios__item--no-border">
                                            <span class="ons-radio ons-radio--no-border">
                                            <input type="text" id="text" class="ons-input ons-input--text ons-input-type__input" />
                                            </span>
                                        </span>
                                        </div>
                                    </fieldset>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </fieldset>

                    <br>

                    <span><label class="ons-label ons-u-pb-xxs ons-u-mb-no" for="search-field">3. Explain why you want to add this person to the project</label></span>
                    <div class="ons-field">
                        <span id="description-hint" class="ons-label__description  ons-input--with-description" style="font-size: 18px;">Enter as many details as possible to support RAS to assess your request. </span>
                        <textarea id="textarea" class="ons-input ons-input--textarea   " name="feedback" rows="8"></textarea>
                    </div>

                    <br>

                    <span><label class="ons-label ons-u-pb-xxs ons-u-mb-no" for="search-field">4. Confirmation</label></span>
                    <div class="ons-field">
                        <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                            <span class="ons-checkbox  ons-checkbox--no-border">
                                <input type="checkbox" id="publications" class="ons-checkbox__input ons-js-checkbox" value="publications">
                                <label class=" ons-checkbox__label " for="publications" id="publications-label">I confirm I want to request to RAS to add this person to the project </label>
                            </span>
                        </span>
                    </div>

                    <!--

                    <br>
                    
                    <a href="project_1_notification.html">
                        <button type="button" class="ons-btn ons-btn--small" style="margin-top:10px;">
                            <span class="ons-btn__inner"><span class="ons-btn__text">Send request</span>
                            </span>
                        </button>
                    </a>

                    -->

                    <br>

                    <div class="ons-btn-group">
                        <a href="project_1_notification.html" style="margin-top: 10px; margin-right: 10px;">
                            <button type="button" class="ons-btn ons-btn--small">
                                <span class="ons-btn__inner"><span class="ons-btn__text">Send request</span>
                                </span>
                            </button>
                        </a>
                        <a href="#0">Cancel request</a>
                    </div>
                    
                    
                </main>
            </div>
            
            <!-- 2/3 column finish here -->

            <!-- Side column -->

            <div class="ons-grid__col ons-col-4@m ons-u-mt-l ons-u-mb-l" style="margin-top: 30px!important;">

                <!-- Side content start here -->

                <!-- Contact details -->

                <div class="ons-panel ons-panel--branded" style="background: #f5f5f6;padding-bottom: 10px;">
                    <span class="ons-panel__assistive-text ons-u-vh">Useful information: </span>
                    <h3 class="ons-u-fs-l" style="padding-left: 17px;padding-top: 20px;margin-bottom: 10px;">Useful information</h3>
                    <div class="ons-panel__body" style="padding-top: 0px;">
                      <ul class="ons-list ons-list--bare">
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link">Adding members in projects</a>
                        </li>
                        <li class="ons-list__item">
                         <a href="#0" class="ons-external-link">Removing members from projects</a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link">RAS change requests</a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link">Other</a>
                        </li>
                      </ul>
                    </div>
                </div> 

            </div>

            <!-- Side column finish here -->

        </div>

        <!-- Main finish here -->

    </main>
</div>

<!-- Body finish here -->


<!-- Body finish here -->

{% include "../../../../../includes/footer_hub_wide.html" %}

{% endblock %}
