{% extends "layout/_template.njk" %}

{% set pageConfig = {
    "header": {
        "logoHref": '/',
        "titleLogoHref": pageInfo.rootPath + '#0'
    },
    "title": "Prototype example",
    "breadcrumbs": {
        "ariaLabel": 'Breadcrumbs',
        "itemsList": [
            {
                "linkClasses": 'js-previous' if prevPage else '',
                "url": pageInfo.rootPath + "/" + prevPage + '.html',
                "text": 'Previous'
            }
        ]
    }
} %}

{% block head %}
    <link rel="stylesheet" href="styles.css" />
{% endblock %}

{% block preMain %}
{% endblock %}

{% block header %}
        
{% endblock %}

{% block main %}
{% endblock %}

{% block bodyEnd %}
    <script src="/prototypes/example/index.js"></script>
{% endblock %}
