---
group: Hub
title: Hub Prototypes
layout: ids_hub/vision/views/_master_for_project_landingpage
---
{% from "components/button/_macro.njk" import onsButton %}

{% block pageContent %}
    
<!-- Body starts here -->

<div class="ons-page__container ons-container">
  <div class="ons-grid">
    <div class="ons-grid__col ons-col-12@m">
      <main id="main-content" class="ons-page__main" style="margin-top: 0px;">

      <!-- Content starts here -->

        <!-- Breadcrumbs -->

        <nav class="ons-breadcrumb" aria-label="Breadcrumbs" style="padding-bottom: 0px;">
        <ol class="ons-breadcrumb__items ons-u-fs-s">
          <li class="ons-breadcrumb__item" id="breadcrumb-1">
            <a class="ons-breadcrumb__link" href="hub_dashboard.html">Dashboard</a>
            <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="#0" focusable="false" fill="currentColor">
              <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
            </svg>
          </li>
          <li class="ons-breadcrumb__item" id="breadcrumb-2">
            <a class="ons-breadcrumb__link" href="#0">My projects</a>
            <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="#0" focusable="false" fill="currentColor">
              <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
            </svg>
          </li>
          <li class="ons-breadcrumb__item" id="breadcrumb-2">
            <a class="ons-breadcrumb__link" href="#0">Project Red Apples</a>
            <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="#0" focusable="false" fill="currentColor">
              <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
            </svg>
          </li>
        </ol>
        </nav>

        <!-- End breadcrumbs -->

        <br>

        <!-- Notifications -->

        <div class="ons-panel ons-panel--branded ons-panel--no-title" style="background: #fde8dd; border-color: #e77023;">
          <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
          <div class="ons-panel__body">
            Red Apples project has been <strong>granted access to Apple Juice</strong> data product.
          </div>
        </div>

        <div class="ons-panel ons-panel--branded ons-panel--no-title" style="background: #fde8dd; border-color: #e77023;">
          <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
          <div class="ons-panel__body">
            <strong>Project Fruits responded a project inquiry</strong> to support Red Apples project analysing Cider data product.
          </div>
        </div>

        <!--
        <div class="ons-panel ons-panel--branded ons-panel--no-title" style="background: #fde8dd; border-color: #e77023;">
          <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
          <div class="ons-panel__body">
            <strong>Tara Long</strong> joined as Collaborator to Red Apples project to support the analysis of Cider data product.
          </div>
        </div>
        -->

        <!-- End notifications -->

        <!-- Columns -->

        <div class="ons-grid">

          <div class="ons-grid__col ons-col-12@m" style="padding-top: 30px;">
            <h1 style="margin-bottom: 0px;">Project Red Apples </h1>
          </div>

          <!-- Tabs -->

          <div class="ons-grid__col ons-col-12@m" style="padding-top: 30px;margin-bottom: 0px;">
            <section class="ons-tabs">
              <h2 class="ons-tabs__title">Tabs</h2>
              <ul class="ons-tabs__list">
                <li id="tabId2Item" class="ons-tab__list-item"><a href="#tabId2" class="ons-tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Vacancy survey" data-ga-label="Show: Vacancy survey">Summary</a></li>
                <li id="tabId3Item" class="ons-tab__list-item"><a href="#tabId3" class="ons-tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Monthly Business Survey" data-ga-label="Show: Monthly Business Survey">Team work space</a></li>
                <li id="tabId4Item" class="ons-tab__list-item"><a href="#tabId4" class="ons-tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Monthly Business Survey" data-ga-label="Show: Monthly Business Survey">Team forums</a></li>
                <li id="tabId5Item" class="ons-tab__list-item"><a href="#tabId5" class="ons-tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Monthly Business Survey" data-ga-label="Show: Monthly Business Survey">Project activity</a></li>
              </ul>
              <section id="tabId2" class="ons-tabs__panel"></section>
              <section id="tabId3" class="ons-tabs__panel"></section>
              <section id="tabId4" class="ons-tabs__panel"></section>
              <section id="tabId5" class="ons-tabs__panel"></section>
            </section>
          </div>

          <!-- End tabs  -->

          <!-- Left column -->

          <div class="ons-grid__col ons-col-8@m">
            
            <!-- Project details -->

            <div class="ons-pl-grid-col" style="margin-top:0px!important;">

              <div class="ons-card" aria-describedBy="text1" style="background: #f5f5f6;padding: 20px;">
                <h3 style="margin-bottom: 10px;"><a href="hub_project_landingpage_vision.html" style="text-decoration: none;color: #000000;">Project details</a></h3>
                <span class="ons-status ons-status--success" style="font-size:16px;">Active</span>
                <br>
                <div style="font-size:16px;padding-top: 10px;">
                  <span>Red Apple amet consectetur adipiscing elit sed in nisi volutpat niras porttitor est <br>luctus diam blandit praesent pulvinar consensual est pensare columpias depalos aqua setium aliquam sumus.</span>
                </div>
                <div style="font-size:16px;padding-top: 10px;">
                  <span><strong>Project tags:</strong> Consectetur, volutpat, porttitor, blandit and pulvinar.</span>
                </div>
                <div style="font-size:16px;padding-top: 10px;">
                  <span><strong>Project summary:</strong></span>
                </div>
                <!--
                <ul class="ons-list" style="font-size:16px;padding-top: 10px;padding-left: 18px;">
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>My role:</strong> Project Contributor
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>Project Manager:</strong> Imran Edwards
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>Lead researcher:</strong> Miles Coward
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>Active from:</strong> 14 November 2021
                  </li>
                </ul>
                -->

                <div class="row" style="padding-top:0px;">
                    <div class="column" style="float: left;width: 50%;">
                      <ul class="ons-list" style="font-size:16px;padding-top: 10px;padding-left: 18px;margin-bottom: 0px;">
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          <strong>My role:</strong> Project Contributor
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          <strong>Project Manager:</strong> Imran Edwards
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          <strong>Lead researcher:</strong> Miles Coward
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          <strong>Number of members:</strong> 7
                        </li>
                      </ul>
                    </div>
                    <div class="column">
                      <ul class="ons-list" style="font-size:16px;padding-top: 10px;padding-left: 18px;">
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          <strong>Active from:</strong> 14 November 2021
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          <strong>Data products in project:</strong> 5
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          <strong>Pre-published work:</strong> 3
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          <strong>Published reports:</strong> 2
                        </li>
                      </ul>
                    </div>
                </div>

              </div>

            </div>

            <!-- End project details -->


            <!-- Data products  -->

            <div class="ons-pl-grid-col" style="margin-top:20px!important;">

              <div class="ons-panel ons-panel--branded" style="background: #e7eee8;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 10px;">Project data products </h3>
                    <div class="ons-panel__body" style="padding-left: 20px;padding-top: 0px;font-size: 16px;font-weight: 400;">
                      <table class="ons-table ons-table--responsive">
                        <thead class="ons-table__head">
                          <tr class="ons-table__row">
                            <th scope="col" class="ons-table__header" width="250">
                              <span>Data product</span>
                            </th>
                            <th scope="col" class="ons-table__header" width="250">
                              <span>Data Domain</span>
                            </th>
                            <th scope="col" class="ons-table__header" width="400">
                              <span>Location</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ons-table__body">
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" width="250">
                              <a href="#0" style="text-decoration: none;">Red Apples</a>
                            </td>
                            <td class="ons-table__cell" width="250">
                              <a href="#0" style="text-decoration: none;">Fruit</a>
                            </td>
                            <td class="ons-table__cell" width="400">
                              <a href="#0" style="text-decoration: none;">s3://lorum-ipsum-est</a>
                            </td>
                            <!--
                            <td class="ons-table__cell" width="300">
                              <a href="#0" class="ons-external-link" rel="noopener" style="text-decoration: none;">
                              <span class="ons-external-link__text">Lorum ipsum</span>
                              <span class="ons-external-link__icon">&nbsp;
                                <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                  <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                  <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                                </svg>
                              </span>
                              <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                              </a>
                            </td>
                            -->
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Hereford cider tree</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Trees and plants</a>
                            </td>
                            <td class="ons-table__cell" width="400">
                              <a href="#0" style="text-decoration: none;">s3://lorum-ipsum-est</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Apples juice</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Juices</a>
                            </td>
                            <td class="ons-table__cell" width="400">
                              <a href="#0" style="text-decoration: none;">s3://apago-sepulta-sempre</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Apple cake</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Food</a>
                            </td>
                            <td class="ons-table__cell" width="400">
                              <a href="#0" style="text-decoration: none;">s3://picola-resulta-setra-illa</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Just apples</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Fruit</a>
                            </td>
                            <td class="ons-table__cell" width="400">
                              <a href="#0" style="text-decoration: none;">s3://carpenta-totale</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row"></tr>
                        </tbody>
                      </table>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;margin-top: 10px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Request data products</span>
                        </span>
                      </button>
                      <!--
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;margin-top: 10px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Analyse data</span>
                        </span>
                      </button>
                      -->
                    </div>
                  </div>
  
            </div>

            <!-- End data products -->


            <!-- Team work -->

            <div class="ons-pl-grid-col" style="margin-top:20px!important;">

              <div class="ons-panel ons-panel--branded" style="background: #f5f5f6;padding-bottom: 0px;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 10px;">Team's work</h3>
                    <div class="ons-panel__body" style="padding-left: 20px;padding-top: 0px;font-size: 16px;font-weight: 400;">
                      <table class="ons-table ons-table--responsive">
                        <thead class="ons-table__head">
                          <tr class="ons-table__row">
                            <th scope="col" class="ons-table__header" width="240">
                              <span>Method</span>
                            </th>
                            <th scope="col" class="ons-table__header" width="180">
                              <span>Code repository</span>
                            </th>
                            <th scope="col" class="ons-table__header" width="300">
                              <span>Storage</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ons-table__body">
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" width="240">
                              <a href="#0" style="text-decoration: none;">Lorum colabra est</a>
                            </td>
                            <td class="ons-table__cell" width="180">
                              <a href="#0" style="text-decoration: none;">Lagunas</a>
                            </td>
                            <td class="ons-table__cell" width="300">
                              <a href="#0" style="text-decoration: none;">s3://tetra-pensares</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Vinculas sempre</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Atrias salutes</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">s3://saguntas-calopias-est</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Colabra salutias estas</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Lagunas</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">s3://ecolas-vitorious</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Pencatore et sopra</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Atrias salutes</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">s3://colabra-penta-samae</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Aliaquam surgeris boras</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Atrias salutes</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">s3://aliquam-tentare-illas</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Palotas et Cupas</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Lagunas</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">s3://caesar-romanus-sigma</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Mandatore sugestae</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Atrias salutes</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">s3://Sandala-et-supras</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Catonisas saprunas pinae</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Lagunas</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">s3://vilas-cupra-est</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Pelicanus exporas</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Lagunas</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">s3://carpenta-totale</a>
                            </td>
                          </tr>
                          <tr class="ons-table__row" style="margin-bottom: 20px;"></tr>
                        </tbody>
                      </table>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;margin-top: 10px;">
                        <span class="ons-btn__inner">
                          <span class="ons-btn__text">See all team work</span>
                        </span>
                      </button>
                    </div>
                  </div>
  
            </div>

            <!-- End Team work -->


            <!-- Project inquiries to service desk -->

            <div class="ons-pl-grid-col" style="margin-top:20px!important;">

              <div class="ons-panel ons-panel--branded" style="background: #fff9e2;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 10px;">Project inquiries to Service desk </h3>
                    <!--
                    <div style="padding-left: 20px;padding-top: 10px;margin-bottom: 5px;">
                      <span><strong>Service Desk's inquiries (8)</strong></span>
                    </div>
                    -->
                    <div class="ons-panel__body" style="padding-left: 20px;padding-top: 0px;font-size: 16px;font-weight: 400;">
                      <table class="ons-table ons-table--responsive">
                        <thead class="ons-table__head">
                          <tr class="ons-table__row">
                            <th scope="col" class="ons-table__header">
                              <span>Ticket</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Type</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Description</span>
                            </th>
                            <th scope="col" class="ons-table__header" width="180">
                              <span>Status</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ons-table__body">
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">35246148</a>
                            </td>
                            <td class="ons-table__cell">
                              Albertis
                            </td>
                            <td class="ons-table__cell">
                              Lorum vinculas sempre
                            </td>
                            <td class="ons-table__cell" data-sort-value="0">
                              <span class='ons-status ons-status--dead'>Not started</span>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">85626753</a>
                            </td>
                            <td class="ons-table__cell">
                              Coranda
                            </td>
                            <td class="ons-table__cell">
                              Romanus senatus sumus doloris
                            </td>
                            <td class="ons-table__cell" data-sort-value="1">
                              <span class='ons-status ons-status--success'>In progress</span>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">20848837</a>
                            </td>
                            <td class="ons-table__cell">
                              Peculia
                            </td>
                            <td class="ons-table__cell">
                              Aliquam versatilas
                            </td>
                            <td class="ons-table__cell" data-sort-value="2">
                              <span class='ons-status ons-status--success'>In progress</span>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">63502647</a>
                            </td>
                            <td class="ons-table__cell">
                              Castras
                            </td>
                            <td class="ons-table__cell">
                              Columbias et pensare populas...
                            </td>
                            <td class="ons-table__cell" data-sort-value="3">
                              <span class='ons-status ons-status--error'>Waiting action</span>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">76345219</a>
                            </td>
                            <td class="ons-table__cell">
                              Alias
                            </td>
                            <td class="ons-table__cell">
                              Romanus et Cualos
                            </td>
                            <td class="ons-table__cell" data-sort-value="0">
                              <span class='ons-status ons-status--info'>Resolved</span>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">90358124</a>
                            </td>
                            <td class="ons-table__cell">
                              Sopranus
                            </td>
                            <td class="ons-table__cell">
                              Vinceras mandiatis per seculas...
                            </td>
                            <td class="ons-table__cell" data-sort-value="1">
                              <span class='ons-status ons-status--info'>Resolved</span>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">24739577</a>
                            </td>
                            <td class="ons-table__cell">
                              Mantas
                            </td>
                            <td class="ons-table__cell">
                              Mandatore secuestras sempre
                            </td>
                            <td class="ons-table__cell" data-sort-value="2">
                              <span class='ons-status ons-status--info'>Resolved</span>
                            </td>
                          </tr>
                          <!--
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">61093596</a>
                            </td>
                            <td class="ons-table__cell">
                              Pendola
                            </td>
                            <td class="ons-table__cell">
                              Doloris perpetua aiquam sentare...
                            </td>
                            <td class="ons-table__cell" data-sort-value="3">
                              <span class='ons-status ons-status--info'>Resolved</span>
                            </td>
                          </tr>
                          -->
                          <tr class="ons-table__row"></tr>
                        </tbody>
                      </table>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;margin-top: 10px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Make new enquiry</span>
                        </span>
                      </button>
                    </div>
              </div>

            </div>

            <!-- End project inquiries -->


            <!-- Project project chats with IDS projects -->

            <div class="ons-pl-grid-col" style="margin-top:20px!important;">

              <div class="ons-panel ons-panel--branded" style="background: #f5f5f6;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 10px;">Project chats with other IDS projects</h3>
                    <!--
                    <div style="padding-left: 20px;padding-top: 10px;margin-bottom: 5px;">
                      <span><strong>Service Desk's inquiries (8)</strong></span>
                    </div>
                    -->
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <!--
                    <div style="padding-left: 20px;padding-top: 20px;margin-bottom: 5px;">
                      <span><strong>Inquiries between projects (4)</strong></span>
                    </div>
                    -->
                    <div class="ons-panel__body" style="padding-top: 0px;font-size: 16px;font-weight: 400;">
                      <table class="ons-table ons-table--responsive">
                        <thead class="ons-table__head">
                          <tr class="ons-table__row">
                            <th scope="col" class="ons-table__header">
                              <span>Channel</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Channel description</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Project</span>
                            </th>
                            <th scope="col" class="ons-table__header" width="100">
                              <span>Chats</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ons-table__body">
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">#caesar</a>
                            </td>
                            <td class="ons-table__cell">
                              Vinculas octopusa est
                            </td>
                            <td class="ons-table__cell">
                              Fruit Juice
                            </td>
                            <td class="ons-table__cell">
                              19
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">#romanus</a>
                            </td>
                            <td class="ons-table__cell">
                              Caesar emperator 
                            </td>
                            <td class="ons-table__cell">
                              Juices and more
                            </td>
                            <td class="ons-table__cell">
                              34
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">#colabra</a>
                            </td>
                            <td class="ons-table__cell">
                              Divulgas confluare et colapsa...
                            </td>
                            <td class="ons-table__cell">
                              Applemania
                            </td>
                            <td class="ons-table__cell">
                              4
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">#magneto</a>
                            </td>
                            <td class="ons-table__cell">
                              Antiqua perpetuas silas
                            </td>
                            <td class="ons-table__cell">
                              Apples and fruits
                            </td>
                            <td class="ons-table__cell">
                              7
                            </td>
                          </tr>
                          <tr class="ons-table__row"></tr>
                        </tbody>
                      </table>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;margin-top: 10px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Add new channel</span>
                        </span>
                      </button>
                    </div>
              </div>

            </div>

            <!-- project chats with IDS projects -->


            <!-- Project project chats with IDS researchers -->

            <div class="ons-pl-grid-col" style="margin-top:20px!important;">

              <div class="ons-panel ons-panel--branded" style="background: #f5f5f6;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 10px;">Project messages with IDS researchers</h3>
                    <!--
                    <div style="padding-left: 20px;padding-top: 10px;margin-bottom: 5px;">
                      <span><strong>Service Desk's inquiries (8)</strong></span>
                    </div>
                    -->
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <!--
                    <div style="padding-left: 20px;padding-top: 20px;margin-bottom: 5px;">
                      <span><strong>Inquiries to IDS researchers (2)</strong></span>
                    </div>
                    -->
                    <div class="ons-panel__body" style="padding-top: 0px;font-size: 16px;font-weight: 400;">
                      <table class="ons-table ons-table--responsive">
                        <thead class="ons-table__head">
                          <tr class="ons-table__row">
                            <th scope="col" class="ons-table__header" width="120">
                              <span>Researcher</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Initial message</span>
                            </th>
                            <th scope="col" class="ons-table__header" width="100">
                              <span>Responses</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ons-table__body">
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Peter Valls</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Vinculas octopusa est colabra sentias sempre?</a>
                            </td>
                            <td class="ons-table__cell">
                              11
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Maria Sabatini</a>
                            </td>
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">Caesar emperator et sampias tentare?</a>
                            </td>
                            <td class="ons-table__cell">
                              6
                            </td>
                          </tr>
                          <tr class="ons-table__row"></tr>
                        </tbody>
                      </table>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;margin-top: 10px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Create new message</span>
                        </span>
                      </button>
                    </div>
              </div>

            </div>

            <!-- End of project chats with IDS researchers -->

          </div>

          <!-- End Left column -->


          <!-- Right column -->

          <div class="ons-grid__col ons-col-4@m">

            <!-- Published reports -->

            <div class="ons-pl-grid-col" style="padding-top:0px;">

                  <div class="ons-panel ons-panel--branded" style="background: #e7f1f8;padding-bottom: 20px;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 18px;padding-top: 20px;margin-bottom: 10px;">Published reports</h3>
                    <div class="ons-panel__body" style="padding-left: 20px;padding-top: 0px; padding-bottom: 10px;font-size: 16px;">
                      <ul class="ons-list ons-list--bare">
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Caesar romanus est</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="#0" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Colabra et dolore provocaras</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="#0" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
              
            </div>

            <!-- End published reports -->


            <!-- Pre-published work -->

            <div class="ons-pl-grid-col" style="padding-top:20px;">

                  <div class="ons-panel ons-panel--branded" style="background: #fff9e2;padding-bottom: 20px;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 18px;padding-top: 20px;margin-bottom: 10px;">Pre-published work</h3>
                    <div class="ons-panel__body" style="padding-left: 20px;padding-top: 0px; padding-bottom: 10px;font-size: 16px;">
                      <ul class="ons-list ons-list--bare">
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Lorum ipsum est</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="#0" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Tentare colabra momentum</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="#0" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Vincolas setrum</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="#0" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
              
            </div>

            <!-- End pre-published work -->


            <!-- Analytical tools -->

            <div class="ons-pl-grid-col" style="padding-top:20px;">

                  <div class="ons-panel ons-panel--branded" style="background: #f8f0fd;padding-bottom: 20px;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 18px;padding-top: 20px;margin-bottom: 10px;">Analytical tools</h3>
                    <div class="ons-panel__body" style="padding-left: 20px;padding-top: 0px; padding-bottom: 10px;font-size: 16px;">
                      <ul class="ons-list ons-list--bare">
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Project Code Repositiory</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="#0" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Methods Library</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="#0" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Project Report Storage</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="#0" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Allocated Notebooks</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="#0" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Looker (visualisation)</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="#0" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Work Station</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="#0" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
              
            </div>

            <!-- End analytical tools -->

            <!-- Data products requests -->

            <div class="ons-pl-grid-col" style="margin-top:20px!important;">

                <div class="ons-panel ons-panel--branded" style="background: #e7f1f8;padding-bottom: 0px;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 17px;padding-top: 20px;padding-bottom: 10px;margin-bottom: 10px;">Project requests</h3>
                    <div class="ons-panel__body" style="padding-top: 0px; padding-bottom: 30px;font-size: 16px;">
                      <div style="padding-bottom: 5px;">
                        <span><strong>Data products access (3)</strong></span>
                      </div>
                      <ul class="ons-list ons-list--bare">
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" rel="noopener">
                            <span class="ons-external-link__text">Calendula Illas apricotas</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                            </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" rel="noopener">
                            <span class="ons-external-link__text">Violetas nefartatus</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                            </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" rel="noopener">
                            <span class="ons-external-link__text">Cobayas senterum opias</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                            </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ons-panel__body" style="padding-top: 0px; padding-bottom: 30px;font-size: 16px;">
                      <div style="padding-bottom: 5px;">
                        <span><strong>Requested new data (2)</strong></span>
                      </div>
                      <ul class="ons-list ons-list--bare">
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" rel="noopener">
                            <span class="ons-external-link__text">Aliquam pensare sentras</span></a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" rel="noopener">
                            <span class="ons-external-link__text">Tertulias apestares</span></a>
                        </li>
                      </ul>
                    </div>
                    <div class="ons-panel__body" style="padding-top: 0px; padding-bottom: 30px;font-size: 16px;">
                      <div style="padding-bottom: 5px;">
                        <span><strong>Analytical tools (2)</strong></span>
                      </div>
                      <ul class="ons-list ons-list--bare">
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" rel="noopener">
                            <span class="ons-external-link__text">Lorum ipsum est</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                            </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" rel="noopener">
                            <span class="ons-external-link__text">Vinculas sempreas aquaticas</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                            </a>
                        </li>
                      </ul>
                    </div>
                    <div class="ons-panel__body" style="padding-top: 0px; padding-bottom: 30px;font-size: 16px;">
                      <div style="padding-bottom: 5px;">
                        <span><strong>Packages (1)</strong></span>
                      </div>
                      <ul class="ons-list ons-list--bare">
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" rel="noopener">
                            <span class="ons-external-link__text">Columpias pateras</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                            </a>
                        </li>
                      </ul> 
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:0px;margin-top: 20px;">
                        <span class="ons-btn__inner">
                          <span class="ons-btn__text">Make new request</span>
                        </span>
                      </button>
                    </div>
                </div>

            </div>

            <!-- End tools request -->


            <!-- Project members  -->

            <div class="ons-pl-grid-col" style="margin-top:20px!important;">

              <div class="ons-panel ons-panel--branded" style="background: #f5f5f6;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 10px;">Project members</h3>
                    <div class="ons-panel__body" style="padding-left: 20px;padding-top: 0px;font-size: 16px;font-weight: 400;">
                      <table class="ons-table ons-table--responsive">
                        <thead class="ons-table__head">
                          <tr class="ons-table__row">
                            <th scope="col" class="ons-table__header" width="200">
                              <span>Name and role in project</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ons-table__body">
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" width="200">
                              <a href="#0" style="text-decoration: none;">Imran Edwards</a><br>Project Manager
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" width="200">
                              <a href="#0" style="text-decoration: none;">Miles Coward</a><br>Contributor (Lead Researcher)
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" width="200">
                              <a href="#0" style="text-decoration: none;">Clair Johnson</a><br>Contributor
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" width="200">
                              <a href="#0" style="text-decoration: none;">Tom Ellis</a><br>Contributor
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" width="200">
                              <a href="#0" style="text-decoration: none;">William Willets</a><br>Contributor
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" width="200">
                              <a href="#0" style="text-decoration: none;">Tara Long</a><br>Collaborator
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" width="200">
                              <a href="#0" style="text-decoration: none;">Steve Everton</a><br>External Expert
                            </td>
                          </tr>
                          <tr class="ons-table__row"></tr>
                        </tbody>
                      </table>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;margin-top: 10px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Invite a new member</span>
                        </span>
                      </button>
                    </div>
                  </div>
  
            </div>

            <!-- End project participants -->

          </div>

          <!-- End right column -->

        </div>

        <!-- End columns -->


        <!-- Content ends here -->

      </main>
    </div>
  </div>
</div>

<!-- Body finish here -->

{% include "../../../includes/footer.html" %}

{% endblock %}
