{% from "components/lists/_macro.njk" import onsList %}

{% set pageConfig = {
  "title": "IDS Hub Prototypes"
} %}
{% block pageContent %}

  <!-- Body starts here -->

  <div class="ons-page__container ons-container ">
    <div class="ons-grid">
      <div class="ons-grid__col ons-col-12@m">
        <main id="main-content" class="ons-page__main" style="margin-top: 0px;margin-bottom: 0px;">

          {% include "../../includes/back_home.html" %}

          <br>

          <!-- Content starts here -->
    
          <h2 style="margin-bottom: 5px;">Development prototypes</h2>
          <table class="ons-table ons-table--responsive">
            <caption class="ons-u-ta-left">Latest Hub development prototypes with the newest at the top</caption>
            <thead class="ons-table__head">
              <tr class="ons-table__row">
                <th scope="col" class="ons-table__header" width="410">
                  <span>Description</span>
                </th>
                <th scope="col" class="ons-table__header" width="70">
                  <span>Sprint</span>
                </th>
                <th scope="col" class="ons-table__header" width="120">
                  <span>Last change</span>
                </th>
                <th scope="col" class="ons-table__header ons-table__header--numeric" width="100">
                  <span>Versions</span>
                </th>
              </tr>
            </thead>
            <tbody class="ons-table__body">
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                March Development Prototype
              </td>
                <td class="ons-table__cell" data-th="Sprint">
                Sprint 8
              </td>
                <td class="ons-table__cell" data-th="Last change">
                20 Jan 23
              </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="developers/sprint_8/v1/dashboard_a.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                FPB Green Prototype
              </td>
                <td class="ons-table__cell" data-th="Sprint">
                Sprint 7
              </td>
                <td class="ons-table__cell" data-th="Last change">
                12 Dec 22
              </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="developers/sprint_7/v3/dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v3</a>
                    <a href="developers/sprint_7/v2/dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v2</a>
                    <a href="developers/sprint_7/v1/dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                Add project landing page with some components from vision
              </td>
                <td class="ons-table__cell" data-th="Sprint">
                Sprint 6
              </td>
                <td class="ons-table__cell" data-th="Last change">
                05 Oct 22
              </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="developers/sprint_6/v1/signin.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                Existing hub landing page with new brand
              </td>
                <td class="ons-table__cell" data-th="Sprint">
                Sprint 5
              </td>
                <td class="ons-table__cell" data-th="Last change">
                30 Sep 22
              </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="developers/sprint_5/v1/dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
            </tbody>
          </table>

          <br>
          <h2 style="margin-bottom: 5px;">Vision prototypes</h2>
          <table class="ons-table ons-table--responsive">
            <caption class="ons-u-ta-left">Latest Vision development prototypes with the newest at the top</caption>
            <thead class="ons-table__head">
              <tr class="ons-table__row">
                <th scope="col" class="ons-table__header" width="410">
                  <span>Description</span>
                </th>
                <th scope="col" class="ons-table__header" width="70">
                  <span>Sprint</span>
                </th>
                <th scope="col" class="ons-table__header" width="120">
                  <span>Last change</span>
                </th>
                <th scope="col" class="ons-table__header ons-table__header--numeric" width="110">
                  <span>Versions</span>
                </th>
              </tr>
            </thead>
            <tbody class="ons-table__body">
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Updated vision with multi-roles + Directory + Join project
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  20 Jan 23
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <!-- <a href="vision/invitation/v2/dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v2</a> -->
                    <a href="vision/invitation/v2/dashboard_3.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v3</a>
                    <a href="vision/invitation/v2/dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v2</a>
                    <a href="vision/invitation/v1/dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Data catalogue (filters on the right)
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  18 Jan 23
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="vision/search/v5/datacatalogue.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v2</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Data catalogue
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  18 Jan 23
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="vision/search/v6/datacatalogue.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Updated vision with multi-roles + Directory 
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  08 Dec 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="vision/directory/v1/dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Updated vision with multi-roles (matching code with dev version)
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  29 Nov 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="vision/updated/v1/dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Search 
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  21 Nov 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions" style="padding-left:0px;">
                    <a href="vision/search/v4/dashboard.html" style="text-decoration:none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v4</a>
                    <a href="vision/search/v3/dashboard.html" style="text-decoration:none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v3</a>
                    <a href="vision/search/v2/dashboard.html" style="text-decoration:none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v2</a>
                    <a href="vision/search/v1/dashboard.html" style="text-decoration:none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Multi-role scenario (Project Lead, Analyst & Reviewer)
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  09 Nov 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="multirole/v1/dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Hub dashboard - Scenario 1: Access to the hub for first time
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 1
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  22 Sep 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="vision/v2/scenario_1_website.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v2</a>
                    <a href="vision/v1/scenario_1_website.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Hub dashboard - Scenario 2: Busy activity in multiple projects
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 1
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  22 Sep 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="vision/v2/scenario_2_website.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v2</a>
                    <a href="vision/v1/scenario_2_website.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Hub dashboard - Scenario 3: No projects but active in the hub
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 1
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  06 Oct 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="vision/v2/scenario_3_website.html" style="text-decoration:none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v2</a>
                    <a href="vision/v1/scenario_3_website.html" style="text-decoration:none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Dynamic layout for the visualisation of multiple projects
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 1
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  25 Aug 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="vision/v1/projects_visualisation_in_dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Initial concept for the IDS Hub
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 0
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  22 Jul 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                    <a href="vision/concept/hub_dashboard.html" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              <!--
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Description
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint x
                </td>
                <td class="ons-table__cell" data-th="Last change">
                  06 Oct 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <a href="#0" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v3</a>
                  <a href="#0" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v2</a>
                  <a href="#0" style="text-decoration: none; color:#FFFFFF; background-color:#206095;padding: 2px 8px 2px 8px; display: inline-block;">v1</a>
                </td>
              </tr>
              -->
            </tbody>
          </table>

          <br>
          <br>
          <br>
          <br>

          <!-- Content ends here -->

        </main>
      </div>
    </div>
  </div>

  <!-- Body finish here -->

{% endblock %}