---
group: Hub
title: Hub Prototypes
layout: ids_hub/vision/directory/v1/views/_master_for_directory_page
---

{% from "components/button/_macro.njk" import onsButton %}

{% block pageContent %}
    
<!-- Body starts here -->

<div class="ons-page__container ons-container ons-container--wide">
    <main id="main-content" class="ons-page__main" style="margin-top: 20px;margin-bottom:100px;">

        <!-- Full column starts here -->

        <!-- Breadcrumbs -->

        <nav class="ons-breadcrumb" aria-label="Breadcrumbs" style="padding-bottom: 20px;padding-top:0px;">
          <ol class="ons-breadcrumb__items ons-u-fs-s">
            <li class="ons-breadcrumb__item" id="breadcrumb-1">
              <a class="ons-breadcrumb__link" href="dashboard.html">Dashboard</a>
              <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="#0" focusable="false" fill="currentColor">
                <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
              </svg>
            </li>
            <li class="ons-breadcrumb__item" id="breadcrumb-2">
               <a class="ons-breadcrumb__link" href="#0">IDS Directory</a>
              <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="#0" focusable="false" fill="currentColor">
                <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
              </svg>
            </li>
          </ol>
        </nav>

         <!-- Lorum -->

        <!--
        <h1 class="ons-u-fs-xl" style="margin-bottom: 0px; padding-top: 10px;">
         Directory
        </h1>
        -->

        <div class="ons-grid">

            <!-- 2/3 column starts here -->

            <div class="ons-grid__col ons-col-8@m ons-u-mt-l ons-u-mb-l" style="margin-top: 30px!important;">
                <main id="main-content" class="ons-page__main" style="margin-top: 0px;margin-bottom:0px;">

                    <!-- Projects and Boards -->
                    
                    <div class="ons-panel ons-panel--branded" style="padding: 20px;background: #f5f5f6;">
                        <h3 class="ons-u-fs-l" style="padding-top: 0px;margin-bottom: 10px;">
                            <a href="directory_government.html" style="text-decoration: none;color: #000000;">Government accredited researchers</a>
                            &nbsp;
                            <span style="color: #ffffff; font-size: 14px; background-color: #1f84d8; vertical-align: middle; padding:2px;">&nbsp;2674 PEOPLE&nbsp;</span>
                        </h3>
                        <span style="padding-top:10px;margin-bottom:20px;">
                            Government researchers accredited for IDS research purposes</span>
                        <br>
                        <ul class="ons-list ons-list--bare" style="padding-left: 5px;padding-top:10px;margin-bottom: 5px">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <a href="directory_government.html" class="ons-list__link">View full list</a>
                            </li>
                        </ul>
                    </div>   

                    <div class="ons-panel ons-panel--branded" style="padding: 20px;background: #f5f5f6;margin-top: 20px;">
                        <h3 class="ons-u-fs-l" style="padding-top: 0px;margin-bottom: 10px;">
                            <a href="#0" style="text-decoration: none;color: #000000;">Academia accredited researchers</a>
                            &nbsp;
                            <span style="color: #ffffff; font-size: 14px; background-color: #1f84d8; vertical-align: middle; padding:2px;">&nbsp;469 PEOPLE&nbsp;</span>
                        </h3>
                        <span style="padding-top:10px;margin-bottom:20px;">
                            Academia researchers accredited for IDS research purposes</span>
                        <br>
                        <ul class="ons-list ons-list--bare" style="padding-left: 5px;padding-top:10px;margin-bottom: 5px">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <a href="#0" class="ons-list__link">View full list</a>
                            </li>
                        </ul>
                    </div>

                    <div class="ons-panel ons-panel--branded" style="padding: 20px;background: #f5f5f6;margin-top: 20px;">
                        <h3 class="ons-u-fs-l" style="padding-top: 0px;margin-bottom: 10px;">
                            <a href="#0" style="text-decoration: none;color: #000000;">Other accredited researchers</a>
                            &nbsp;
                            <span style="color: #ffffff; font-size: 14px; background-color: #1f84d8; vertical-align: middle; padding:2px;">&nbsp;83 PEOPLE&nbsp;</span>
                        </h3>
                        <span style="padding-top:10px;margin-bottom:20px;">
                            Non-government or academia researchers accredited for IDS research purposes</span>
                        <br>
                        <ul class="ons-list ons-list--bare" style="padding-left: 5px;padding-top:10px;margin-bottom: 5px">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <a href="#0" class="ons-list__link">View full list</a>
                            </li>
                        </ul>
                    </div>

                    <div class="ons-panel ons-panel--branded" style="padding: 20px;background: #f5f5f6;margin-top: 20px;">
                        <h3 class="ons-u-fs-l" style="padding-top: 0px;margin-bottom: 10px;">
                            <a href="#0" style="text-decoration: none;color: #000000;">Non-accredited approved reviewers</a>
                            &nbsp;
                            <span style="color: #ffffff; font-size: 14px; background-color: #1f84d8; vertical-align: middle; padding:2px;">&nbsp;56 PEOPLE&nbsp;</span>
                        </h3>
                        <span style="padding-top:10px;margin-bottom:20px;">
                            Non-accredited professionals approved to review IDS research outputs</span>
                        <br>
                        <ul class="ons-list ons-list--bare" style="padding-left: 5px;padding-top:10px;margin-bottom: 5px">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <a href="#0" class="ons-list__link">View full list</a>
                            </li>
                        </ul>
                    </div>                 

                </main>
            </div>
            
            <!-- 2/3 column finish here -->

            <!-- Side column -->

            <div class="ons-grid__col ons-col-4@m ons-u-mt-l ons-u-mb-l" style="margin-top: 20px!important;">

                <!-- Side content start here -->

            </div>

            <!-- Side column finish here -->

        </div>

        <!-- Main finish here -->

    </main>
</div>

<!-- Body finish here -->


<!-- Body finish here -->

{% include "../../../../../includes/footer_hub_wide.html" %}

{% endblock %}
