---
group: Hub
title: Hub Prototypes
layout: ids_hub/vision/search/v5/views/_master_for_datacatalogue_pages
---

{% from "components/button/_macro.njk" import onsButton %}

{% block pageContent %}



<!-- Body starts here -->

<div class="ons-page__container ons-container ons-container--wide">

    <main id="main-content" class="ons-page__main" style="margin-top: 20px;margin-bottom:100px;">
      <br>
      <br>
   <!-- Search -->
        <div class="ons-field">
          <label class="ons-label ons-label--placeholder" for="search-field">Search this service</label>
          <span class="ons-grid--flex ons-search">
            <div class="ons-search-component">
              <input type="search" id="search-field" class="ons-input ons-input--text ons-input-type__input ons-search__input ons-input--placeholder" placeholder="Search this service" />
              <button type="submit" class="ons-btn ons-search__btn ons-u-mt-xs@xxs@s ons-btn--small">
                <span class="ons-btn__inner">
                  <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor">
                    <path d="M11.86 10.23 8.62 6.99a4.63 4.63 0 1 0-6.34 1.64 4.55 4.55 0 0 0 2.36.64 4.65 4.65 0 0 0 2.33-.65l3.24 3.23a.46.46 0 0 0 .65 0l1-1a.48.48 0 0 0 0-.62Zm-5-3.32a3.28 3.28 0 0 1-2.31.93 3.22 3.22 0 1 1 2.35-.93Z" />
                  </svg>
                  <span class="ons-btn__text ons-u-vh@xxs@s"><span class="ons-u-vh">Search</span></span>
                </span>
              </button>
            </div>
          </span>
        </div>
        
        <br>
            
        <div class="ons-grid">

          <!-- Start of main column container -->
          <div class="ons-grid__col ons-col-8@m">

            <!-- Main column results and sort by -->
            <div class="ons-adv-filter__results-options">
              <div class="ons-adv-filter__results-count">
                <span class="ons-js-adv-filter__results-count">9</span> results of 7
              </div>
              <div class="ons-adv-filter__results-sort">
                <label class="ons-label" for="sort">Sort by</label>
                <select class="ons-input ons-input--select" id="sort" name="sort" aria-controls="adv-filter-gallery" data-sort="true">
                  <option value="index" data-sort-number="true">Latest</option>
                  <option value="index" data-sort-order="desc" data-sort-number="true">Oldest</option>
                </select>
              </div>
            </div>

            <!-- Main column results list -->
            <ul id="adv-filter-gallery" class="ons-document-list ons-adv-filter__gallery ons-js-adv-filter__gallery" data-filter-animation="off">
              
              <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                
                <div class="ons-document-list__item-content">
                  <div class="ons-document-list__item-header">
                    <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                      <a href= "#0">Annual Survey of Hours and Earnings (ASHE)
                        <span class="ons-u-vh">  
                        </span>
                      </a>
                    </h2>
                    <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                      <li class="ons-document-list__item-attribute ons-u-mr-no">
                        <span>Hours and Earnings</span>
                      </li>
                      <li class="ons-document-list__item-attribute" aria-hidden="true">
                        
                      </li>
                    </ul>
                  </div>
                  <div class="ons-document-list__item-description">De-identified data on hours worked and earnings foremployees by sex, full-time and part-time, and postcode level geography, 1990 to 2020.</div>
                </div>

              </li>
              
              <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="2">
                
                <div class="ons-document-list__item-content">
                  <div class="ons-document-list__item-header">
                    <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                      <a href="#0">BBC News Sentiment Analysis
                        <span class="ons-u-vh">
                        BBC, Sentiment Analysis
                        </span></a>
                    </h2>
                    <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                      <li class="ons-document-list__item-attribute ons-u-mr-no">
                        <span>BBC,</span>
                      </li>
                      <li class="ons-document-list__item-attribute" aria-hidden="true"> 
                          Sentiment Analysis
                      </li>
                    </ul>
                  </div>
                  <div class="ons-document-list__item-description">BBC News regional text analysis, January 2019 to October 2021.</div>
                </div>

              </li> 

            </ul>

          </div>
 
          <!-- Start of right sidebar column -->
          <div class="ons-grid__col ons-col-4@m">
            <aside class="ons-page__aside"> 

              <!-- Accordion -->           
              <div id="accordion" class="ons-accordion">
                
                <button type="button" class="ons-btn ons-js-accordion-all ons-u-mb-s ons-btn--secondary ons-btn--small" data-close-all="Hide all" data-group="accordion" data-ga-label="Hide all" aria-expanded="false">
                  <span class="ons-btn__inner ons-js-accordion-all-inner">Show all</span>          
                </button>

                <!--Start filter 1 here-->         
                <details id="accordion-1" class="ons-collapsible ons-js-collapsible ons-collapsible--accordion" data-group="accordion">

                  <summary class="ons-collapsible__heading ons-js-collapsible-heading" data-ga-action="Close panel">
                    <h2 class="ons-collapsible__title">Total</h2>
                    <span class="ons-collapsible__icon">
                      <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                          <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                      </svg>       
                    </span>
                  </summary>

                  <div id="accordion-1-content" class="ons-collapsible__content ons-js-collapsible-content">
                    
                    <div class="ons-list">
                      <div class="ons-field">
                        <label class="ons-label" for="select">Topic</label>
                        <select id="select" name="select" class="ons-input ons-input--select">
                          <option value="" selected disabled>data</option>
                          <option value="1">General</option>
                          <option value="people-who-live-here">People who live here</option>
                          <option value="visitors">Visitors</option>
                          <option value="household-accommodation">Household and accommodation</option>
                          <option value="personal-details">Personal details</option>
                          <option value="health">Health</option>
                          <option value="qualifications">Qualifications</option>
                          <option value="employment">Employment</option>
                        </select>
                      </div>
                    </div>
                    <div class="ons-list">
                      <div class="ons-field">
                        <label class="ons-label" for="select">Sub-topic</label>
                        <select id="select" name="select" class="ons-input ons-input--select">
                          <option value="" selected disabled>All sub-topics</option>
                          <option value="1">General</option>
                          <option value="people-who-live-here">People who live here</option>
                          <option value="visitors">Visitors</option>
                          <option value="household-accommodation">Household and accommodation</option>
                          <option value="personal-details">Personal details</option>
                          <option value="health">Health</option>
                          <option value="qualifications">Qualifications</option>
                          <option value="employment">Employment</option>
                        </select>
                      </div>
                    </div>

                  </div>
    
                </details> 
                <!--end filter 1 here--> 

                <!--Begin filter 2 here-->            
                <details id="accordion-2" class="ons-collapsible ons-js-collapsible ons-collapsible--accordion" data-group="accordion">

                  <summary class="ons-collapsible__heading ons-js-collapsible-heading" data-ga-action="Close panel">
                    <h2 class="ons-collapsible__title">Content type</h2>
                    <span class="ons-collapsible__icon">    
                      <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                          <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                      </svg>   
                    </span>
                  </summary>

                  <div id="accordion-2-content" class="ons-collapsible__content ons-js-collapsible-content">

                    <fieldset class="ons-fieldset ons-u-mt-s ons-u-mb-m">

                      <!--Autosuggest starts here--> 
                      <div class="ons-grid ons-grid--gutterless ons-u-mb-m">

                        <div class="ons-grid__col ons-col-8@m">
                          <div id="country-of-birth-container" class="ons-js-autosuggest   ons-autosuggest-input" data-instructions="Use up and down keys to navigate suggestions once you&#39;ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures." data-aria-you-have-selected="You have selected" data-min-chars="" data-aria-min-chars="Enter 3 or more characters for suggestions." data-aria-one-result="There is one suggestion available." data-aria-n-results="There are {n} suggestions available." data-aria-limited-results="Results have been limited to 10 suggestions. Type more characters to improve your search" data-more-results="Continue entering to improve suggestions" data-results-title="Suggestions" data-no-results="No suggestions found. You can enter your own answer" data-type-more="Continue entering to get suggestions" data-autosuggest-data="/examples/data/country-of-birth.json">
                            <div class="ons-field">
                              <input type="text" id="country-of-birth" class="ons-input ons-input--text ons-input-type__input ons-js-autosuggest-input " autocomplete="off" aria-describedby="country-of-birth-label-description-hint" />
                            </div>
                            <div class="ons-autosuggest-input__results ons-js-autosuggest-results">
                              <header id="country-of-birth-suggestions" class="ons-autosuggest-input__results-title ons-u-fs-s">Suggestions</header>
                              <ul class="ons-autosuggest-input__listbox ons-js-autosuggest-listbox" title="Suggestions" role="listbox" id="country-of-birth-listbox" tabindex="-1"></ul>
                            </div>
                            <div class="ons-autosuggest-input__instructions ons-u-vh ons-js-autosuggest-instructions" id="country-of-birth-instructions" tabindex="-1">Use up and down keys to navigate suggestions once you&#39;ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.</div>
                            <div class="ons-autosuggest-input__status ons-u-vh ons-js-autosuggest-aria-status" aria-live="assertive" role="status" tabindex="-1"></div>
                          </div>
                        </div>

                      </div>
                      <!--Autosuggest end here--> 

                      <!-- Begin Checkbox here -->
                        <div class="ons-checkboxes__items">
                          <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                            <span class="ons-checkbox  ons-checkbox--no-border">
                              <input type="checkbox" id="booklet" class="ons-checkbox__input ons-js-checkbox" value="booklet">
                              <label class=" ons-checkbox__label " for="booklet" id="booklet-label">Booklet</label>
                            </span>
                          </span>
                          <br>
                          <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                            <span class="ons-checkbox  ons-checkbox--no-border">
                              <input type="checkbox" id="logo" class="ons-checkbox__input ons-js-checkbox" value="logo">
                              <label class=" ons-checkbox__label " for="logo" id="logo-label">Logo</label>
                            </span>
                          </span>
                          <br>
                          <span class="ons-checkboxes__item ons-checkboxes__item--no-border">
                            <span class="ons-checkbox  ons-checkbox--no-border">
                              <input type="checkbox" id="poster" class="ons-checkbox__input ons-js-checkbox" value="poster">
                              <label class=" ons-checkbox__label " for="poster" id="poster-label">Poster</label>
                            </span>
                          </span>
                        </div>
                      <!-- end Checkbox here -->

                    </fieldset>

                  </div>
                            
                </details>
                <!-- end of filter2 here-->

<!--Begin filter 3 here--> 
    <details id="accordion-3" class="ons-collapsible ons-js-collapsible ons-collapsible--accordion" data-group="accordion">
        <summary class="ons-collapsible__heading ons-js-collapsible-heading" data-ga-action="Close panel">
                
                <h2 class="ons-collapsible__title">Updated</h2>
                <span class="ons-collapsible__icon">    
    
        <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
            <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
        </svg>
    
</span>
        </summary>
        < id="accordion-3-content" class="ons-collapsible__content ons-js-collapsible-content">
           <div class="ons-grid ons-grid--gutterless">
  <!-- Begin Autosagest1 -->
  <div class="ons-grid__col ons-col-8@m">
    <div id="country-of-birth-container" class="ons-js-autosuggest   ons-autosuggest-input" data-instructions="Use up and down keys to navigate suggestions once you&#39;ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures." data-aria-you-have-selected="You have selected" data-min-chars="" data-aria-min-chars="Enter 3 or more characters for suggestions." data-aria-one-result="There is one suggestion available." data-aria-n-results="There are {n} suggestions available." data-aria-limited-results="Results have been limited to 10 suggestions. Type more characters to improve your search" data-more-results="Continue entering to improve suggestions" data-results-title="Suggestions" data-no-results="No suggestions found. You can enter your own answer" data-type-more="Continue entering to get suggestions" data-autosuggest-data="/examples/data/country-of-birth.json">
      <div class="ons-field">
        <label class="ons-label ons-label--with-description" aria-describedby="country-of-birth-label-description-hint" for="country-of-birth" id="country-of-birth-label">Current name of country</label>
        <span id="country-of-birth-label-description-hint" class="ons-label__description  ons-input--with-description">Enter your own answer or select from suggestions</span>
        <input type="text" id="country-of-birth" class="ons-input ons-input--text ons-input-type__input ons-js-autosuggest-input " autocomplete="off" aria-describedby="country-of-birth-label-description-hint" />
      </div>
      <div class="ons-autosuggest-input__results ons-js-autosuggest-results">
        <header id="country-of-birth-suggestions" class="ons-autosuggest-input__results-title ons-u-fs-s">Suggestions</header>
        <ul class="ons-autosuggest-input__listbox ons-js-autosuggest-listbox" title="Suggestions" role="listbox" id="country-of-birth-listbox" tabindex="-1"></ul>
      </div>
      <div class="ons-autosuggest-input__instructions ons-u-vh ons-js-autosuggest-instructions" id="country-of-birth-instructions" tabindex="-1">Use up and down keys to navigate suggestions once you&#39;ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.</div>
      <div class="ons-autosuggest-input__status ons-u-vh ons-js-autosuggest-aria-status" aria-live="assertive" role="status" tabindex="-1"></div>
    </div>
  </div>
</div>
        
          <!-- End Autosagest1 -->
           <div class="ons-grid__col ons-col-8@m">
    <div id="country-of-birth-container" class="ons-js-autosuggest   ons-autosuggest-input" data-instructions="Use up and down keys to navigate suggestions once you&#39;ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures." data-aria-you-have-selected="You have selected" data-min-chars="" data-aria-min-chars="Enter 3 or more characters for suggestions." data-aria-one-result="There is one suggestion available." data-aria-n-results="There are {n} suggestions available." data-aria-limited-results="Results have been limited to 10 suggestions. Type more characters to improve your search" data-more-results="Continue entering to improve suggestions" data-results-title="Suggestions" data-no-results="No suggestions found. You can enter your own answer" data-type-more="Continue entering to get suggestions" data-autosuggest-data="/examples/data/country-of-birth.json">
      <div class="ons-field">
        <label class="ons-label ons-label--with-description" aria-describedby="country-of-birth-label-description-hint" for="country-of-birth" id="country-of-birth-label">Current name of country</label>
        <span id="country-of-birth-label-description-hint" class="ons-label__description  ons-input--with-description">Enter your own answer or select from suggestions</span>
        <input type="text" id="country-of-birth" class="ons-input ons-input--text ons-input-type__input ons-js-autosuggest-input " autocomplete="off" aria-describedby="country-of-birth-label-description-hint" />
      </div>
      <div class="ons-autosuggest-input__results ons-js-autosuggest-results">
        <header id="country-of-birth-suggestions" class="ons-autosuggest-input__results-title ons-u-fs-s">Suggestions</header>
        <ul class="ons-autosuggest-input__listbox ons-js-autosuggest-listbox" title="Suggestions" role="listbox" id="country-of-birth-listbox" tabindex="-1"></ul>
      </div>
      <div class="ons-autosuggest-input__instructions ons-u-vh ons-js-autosuggest-instructions" id="country-of-birth-instructions" tabindex="-1">Use up and down keys to navigate suggestions once you&#39;ve typed more than two characters. Use the enter key to select a suggestion. Touch device users, explore by touch or with swipe gestures.</div>
      <div class="ons-autosuggest-input__status ons-u-vh ons-js-autosuggest-aria-status" aria-live="assertive" role="status" tabindex="-1"></div>
    </div>
  </div>
</div>
        </div>

    </details>

        
    </div>

              </aside>
            </div>
            
<!--Customised page template end --> 



           
        
        </div>     
    </main>
</div>
<!-- Body finish here -->


{% include "../../../../../includes/footer_hub_wide.html" %}

{% endblock %}
