---
group: Examples
title: IDS Prototype
layout: ids_website/v1/views/_master_for_website_pages
theme: ids
---

 

{% block pageContent %} 

    <div class="ons-page__container ons-container">
        <nav class="ons-breadcrumb" aria-label="Breadcrumbs">
            <ol class="ons-breadcrumb__items ons-u-fs-s">
                <li class="ons-breadcrumb__item" id="breadcrumb-1">
                    <a class="ons-breadcrumb__link" href="website_landingpage.html">Home</a> 
                    <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                    </svg>
                </li>
            </ol>
        </nav>
        <div class="ons-grid">
            <div class="ons-grid__col ons-col-8@m">
                <main id="main-content" class="ons-page__main">
                    <div class="ons-page__body">
                        <h1 class="ons-u-mb-l ons-u-fs-xxl">Cookies on integrateddataservice.gov.uk</h1>
                        <div class="ons-panel ons-panel--success ons-panel--no-title ons-u-mb-m ons-u-d-no ons-cookies-confirmation-message">
                            <span class="ons-panel__assistive-text ons-u-vh">Completed: </span>
                            <span class="ons-panel__icon ons-u-fs-xl">
                                <svg class="ons-svg-icon ons-svg-icon--xl" viewBox="0 0 13 10" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                <path d="M14.35,3.9l-.71-.71a.5.5,0,0,0-.71,0h0L5.79,10.34,3.07,7.61a.51.51,0,0,0-.71,0l-.71.71a.51.51,0,0,0,0,.71l3.78,3.78a.5.5,0,0,0,.71,0h0L14.35,4.6A.5.5,0,0,0,14.35,3.9Z" transform="translate(-1.51 -3.04)"></path>
                                </svg>
                            </span>
                            <div class="ons-panel__body ons-svg-icon-margin--xl">
                                <h2>Your cookie settings have been saved</h2>
                                <p class="ons-u-mb-no">Some parts of integrateddataservice.gov.uk may use additional cookies and will have their own cookie policy and banner.</p>
                                <a class="ons-js-return-link ons-u-mt-s ons-u-dib" href="#0">Return to previous page</a>
                            </div>
                        </div>
                        <p>Cookies are small files stored on your phone, tablet or computer when you visit a website.</p>
                        <p>We use cookies and similar technologies to store information about how you use integrateddataservice.gov.uk, such as the pages you visit.</p>
                        <p>From now we will use the single term “cookies” to refer to cookies and similar technologies.</p>
                        <h2>Cookie settings</h2>
                        <div class="ons-u-db-no-js_enabled">
                            <p>We use JavaScript to set our cookies. Javascript is not running on your browser so you cannot change your settings.</p>
                            <p>You can try:</p>
                            <ul>
                                <li>turning on JavaScript in your browser</li>
                                <li>reloading the page in case there was a temporary fault with JavaScript</li>
                            </ul>
                        </div>
                        <div class="ons-u-db-no-js_disabled">
                            <p>We use three types of cookie. You can choose which cookies you're happy for us to use.</p>
                            <form data-module="cookie-settings">
                                <h3>Cookies that help with our communications</h3>
                                <p>Some of our pages may contain content from other sites, like YouTube, which may set their own cookies. These sites are sometimes called “third party” services. This tells us how many people are seeing the content and whether it’s useful.</p>
                                <p>In addition, if you share a link to a integrateddataservice.gov.uk page, the service you share it on may set a cookie. We have no control over cookies set on other websites – you can turn them off, but not through us.</p>
                                <h4>YouTube videos</h4>
                                <p>We use YouTube to show videos on some integrateddataservice.gov.uk pages. YouTube sets cookies when you visit one of these pages.</p>
                                <div id="cookies-measure-website-comms-details" class="ons-collapsible ons-js-collapsible ons-u-mb-s ons-collapsible--initialised" data-btn-close="Hide this" role="group">
                                    <div class="ons-collapsible__heading ons-js-collapsible-heading" role="link" aria-controls="cookies-measure-website-comms-details" tabindex="0" aria-expanded="false" data-ga-action="Close panel">
                                        <div class="ons-collapsible__controls">
                                            <h2 class="ons-collapsible__title">Learn more about these YouTube cookies</h2>
                                            <span class="ons-collapsible__icon">
                                                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                                    <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div id="cookies-measure-website-comms-details-content" class="ons-collapsible__content ons-js-collapsible-content" aria-hidden="true">
                                        <table class="ons-table">
                                            <thead class="ons-table__head">
                                                <tr class="ons-table__row">
                                                    <th scope="col" class="ons-table__header">
                                                        <span>Name</span>
                                                    </th>
                                                    <th scope="col" class="ons-table__header">
                                                        <span>Purpose</span>
                                                    </th>
                                                    <th scope="col" class="ons-table__header">
                                                        <span>Expires</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="ons-table__body">
                                                <tr class="ons-table__row">
                                                    <td class="ons-table__cell">
                                                        <code>_use_hitbox</code>
                                                    </td>
                                                    <td class="ons-table__cell">This is a randomly generated number that identifies your browser</td>
                                                    <td class="ons-table__cell">When you close your browser</td>
                                                </tr>
                                                <tr class="ons-table__row">
                                                    <td class="ons-table__cell">
                                                        <code>VISITOR_INFO1_LIVE</code>
                                                    </td>
                                                    <td class="ons-table__cell">Lets Youtube count the views of embedded Youtube videos</td>
                                                    <td class="ons-table__cell">9 months</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="button" class="ons-btn ons-js-collapsible-button ons-btn--secondary ons-btn--small" aria-controls="cookies-measure-website-comms-details" data-ga-action="Close panel">
                                            <span class="ons-btn__inner ons-js-collapsible-button-inner">
                                                <span class="ons-btn__text">Hide this</span>
                                            </span>
                                            <span class="ons-btn__context ons-u-vh">Learn more about these YouTube cookies content</span>
                                        </button>
                                    </div>
                                </div>
                                <fieldset id="cookies-measure-website-comms" class="ons-fieldset">
                                    <legend class="ons-fieldset__legend ons-u-vh">
                                        <span class="ons-fieldset__legend-title">Do you want to allow communications tracking?</span>
                                    </legend>
                                    <div class="ons-radios__items">
                                        <span class="ons-radios__item">
                                            <span class="ons-radio">
                                                <input type="radio" id="on-2" class="ons-radio__input ons-js-radio" value="on" name="cookies-campaigns"> 
                                                <label class="ons-radio__label" for="on-2" id="on-2-label">On</label>
                                            </span>
                                        </span>
                                        <br>
                                        <span class="ons-radios__item">
                                            <span class="ons-radio">
                                                <input type="radio" id="off-2" class="ons-radio__input ons-js-radio" value="off" name="cookies-campaigns"> 
                                                <label class="ons-radio__label" for="off-2" id="off-2-label">Off</label>
                                            </span>
                                        </span>
                                    </div>
                                </fieldset>
                                <h3>Cookies that remember your settings</h3>
                                <p>These cookies do things like remember your preferences and the choices you make, to personalise your experience of using the site.</p>
                                <fieldset id="cookies-measure-website-settings" class="ons-fieldset">
                                    <legend class="ons-fieldset__legend ons-u-vh">
                                        <span class="ons-fieldset__legend-title">Do you want to allow settings?</span>
                                    </legend>
                                    <div class="ons-radios__items">
                                        <span class="ons-radios__item">
                                            <span class="ons-radio">
                                                <input type="radio" id="on-3" class="ons-radio__input ons-js-radio" value="on" name="cookies-settings"> 
                                                <label class="ons-radio__label" for="on-3" id="on-3-label">On</label>
                                            </span>
                                        </span>
                                        <br>
                                        <span class="ons-radios__item">
                                            <span class="ons-radio">
                                                <input type="radio" id="off-3" class="ons-radio__input ons-js-radio" value="off" name="cookies-settings"> 
                                                <label class="ons-radio__label" for="off-3" id="off-3-label">Off</label>
                                            </span>
                                        </span>
                                    </div>
                                </fieldset>
                                <h3>Strictly necessary cookies</h3>
                                <p>These essential cookies do things like:</p>
                                <ul>
                                    <li>remember the notifications you've seen so we do not show them to you again</li>
                                </ul>
                                <p>They always need to be on.</p>
                                <div id="cookies-essential-details" class="ons-collapsible ons-js-collapsible ons-u-mb-l ons-collapsible--initialised" data-btn-close="Hide this" role="group">
                                    <div class="ons-collapsible__heading ons-js-collapsible-heading" role="link" aria-controls="cookies-essential-details" tabindex="0" aria-expanded="false" data-ga-action="Close panel">
                                        <div class="ons-collapsible__controls">
                                            <h2 class="ons-collapsible__title">Learn more about these essential cookies</h2>
                                            <span class="ons-collapsible__icon">
                                                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                                    <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                    <div id="cookies-essential-details-content" class="ons-collapsible__content ons-js-collapsible-content" aria-hidden="true">
                                        <h4>Cookie message</h4>
                                        <p>You may see a banner when you visit integrateddataservice.gov.uk inviting you to accept cookies or review your settings. We’ll set cookies so that your computer knows you’ve seen it and not to show it again, and also to store your settings.</p>
                                        <table class="ons-table">
                                            <thead class="ons-table__head">
                                                <tr class="ons-table__row">
                                                    <th scope="col" class="ons-table__header">
                                                        <span>Name</span>
                                                    </th>
                                                    <th scope="col" class="ons-table__header">
                                                        <span>Purpose</span>
                                                    </th>
                                                    <th scope="col" class="ons-table__header">
                                                        <span>Expires</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody class="ons-table__body">
                                                <tr class="ons-table__row">
                                                    <td class="ons-table__cell">
                                                        <code>ons_cookie_message_displayed</code>
                                                    </td>
                                                    <td class="ons-table__cell">Lets us know that you’ve seen our cookie message</td>
                                                    <td class="ons-table__cell">1 year</td>
                                                </tr>
                                                <tr class="ons-table__row">
                                                    <td class="ons-table__cell">
                                                        <code>ons_cookie_policy</code>
                                                    </td>
                                                    <td class="ons-table__cell">Saves your cookie consent settings</td>
                                                    <td class="ons-table__cell">1 year</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="button" class="ons-btn ons-js-collapsible-button ons-btn--secondary ons-btn--small" aria-controls="cookies-essential-details" data-ga-action="Close panel">
                                            <span class="ons-btn__inner ons-js-collapsible-button-inner">
                                                <span class="ons-btn__text">Hide this</span>
                                            </span>
                                            <span class="ons-btn__context ons-u-vh">Learn more about these essential cookies content</span>
                                        </button>
                                    </div>
                                </div>
                                <button type="submit" class="ons-btn">
                                    <span class="ons-btn__inner">
                                        <span class="ons-btn__text">Save changes</span>
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

    {% from "components/footer/_macro.njk" import onsFooter %}
        {{
            onsFooter({
                "poweredBy": {
                    "logo": 'hm-gov-logo-en',
                    "alt": 'Her Majesty’s Government',
                    "partnership": 'In partnership with'
                },
                "legal": [
                    {
                        "itemsList": [
                            {
                                "text": 'Cookies',
                                "url": '#'
                            },
                            {
                                "text": 'Accessibility statement',
                                "url": 'accessibility.html'
                            },
                            {
                                "text": 'Privacy and data protection',
                                "url": 'privacy.html'
                            }
                        ]
                    }
                ],
                "OGLLink": true
            })
        }}

            
 
{% endblock %}