---
group: Hub
title: Hub Prototypes
layout: ids_hub/v1/views/_master_for_dashboard_visualisation

---

{% from "components/button/_macro.njk" import onsButton %}

{% block pageContent %}
    
<!-- 1 project only -->

<div class="ons-page__container ons-container ons-container--wide">
    <main id="main-content" class="ons-page__main" style="margin-top: 30px;margin-bottom:100px;">

        <!-- Full column starts here -->

        <div style="text-align:center;">
            <span style="font-size:16px;text-align:center;"><strong>1 project only</strong></span>
        </div>

        <aside class="ons-toc-container" style="padding-top: 0px!important;margin-bottom:0px;"></aside>

        <!-- Projects -->

        <div class="ons-container ons-container--wide" style="padding-right: 0px;padding-left: 0px;">
            <div class="ons-grid ons-grid--column@xxs@s ons-u-mt-l ons-u-mb-l@m" style="margin-top: 30px!important;margin-bottom: 20px!important;">

                <div class="ons-grid__col ons-col-4@m">
                    <div class="ons-card" style="padding: 20px;background: #f5f5f6;">
                        <span style="font-size:14px;">PROJECT </span>
                        <h3 style="margin-bottom: 10px;"><a href="journey_project_1.html" style="text-decoration: none;color: #000000;">HMRC Pension Scheme</a></h3>
                        <span class="ons-status ons-status--success">Analysing data</span>
                        <br>
                        <ul class="ons-list" style=";padding-top: 10px;padding-left: 20px;margin-bottom: 10px;">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>My role:</strong> Project Manager
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Project Manager:</strong> <a href="#0">Miles Coward</a>
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Lead researcher:</strong> <a href="#0">Anna Silverstone</a>
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Project members:</strong> 7
                            </li>
                        </ul>
                        <ul class="ons-list ons-list--bare" style="padding-left: 5px;margin-bottom: 5px">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <a href="journey_project_1.html" class="ons-list__link">Project details</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="ons-grid__col ons-col-4@m">
                    <div class="ons-card" style="padding: 20px;background: #f5f5f6;">
                        <span style="font-size:14px;">PROJECT </span>
                        <h3 style="margin-bottom: 10px;"><a href="#0" style="text-decoration: none;color: #000000;">Armed Forces Pension</a></h3>
                        <span class="ons-status ons-status--success">Pre-publishing data</span>
                        <br>
                        <ul class="ons-list" style=";padding-top: 10px;padding-left: 20px;margin-bottom: 10px;">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>My role:</strong> Project Contributor
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Project Manager:</strong> <a href="#0">Susan Hopkins</a>
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Lead researcher:</strong> <a href="#0">Miles Coward</a>
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Project members:</strong> 9
                            </li>
                        </ul>
                        <ul class="ons-list ons-list--bare" style="padding-left: 5px;margin-bottom: 5px">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <a href="#0" class="ons-list__link">Project details</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- Full column finish here -->

        <!-- Main starts here -->

        <div class="ons-grid">

            <!-- 2/3 column starts here -->

            <div class="ons-grid__col ons-col-8@m ons-u-mt-l ons-u-mb-l" style="margin-top: 0px!important;">
                <main id="main-content" class="ons-page__main" style="margin-top: 0px;margin-bottom:0px;">

                    <!-- Panel here -->

                

                    <!-- No more sections -->

                </main>
            </div>

            <!-- 2/3 column finish here -->

            <!-- Side column -->

            <div class="ons-grid__col ons-col-4@m ons-u-mt-l ons-u-mb-l" style="margin-top: 0px!important;">

                <!-- Side content start here -->

                <!-- Panel here -->

                

                <!-- No more sections -->

            </div>

            <!-- Side column finish here -->

        </div>

        <!-- Main finish here -->

    </main>
</div>

<!-- Body finish here -->


<!-- 1 project only -->

<div class="ons-page__container ons-container ons-container--wide">
    <main id="main-content" class="ons-page__main" style="margin-top: 30px;margin-bottom:100px;">

        <!-- Full column starts here -->

        <div style="text-align:center;">
            <span style="font-size:16px;text-align:center;"><strong>1 project only</strong></span>
        </div>

        <aside class="ons-toc-container" style="padding-top: 0px!important;margin-bottom:0px;"></aside>

        <!-- Projects -->

        <div class="ons-container ons-container--wide" style="padding-right: 0px;padding-left: 0px;">
            <div class="ons-grid ons-grid--column@xxs@s ons-u-mt-l ons-u-mb-l@m" style="margin-top: 30px!important;margin-bottom: 20px!important;">

                <div class="ons-grid__col ons-col-4@m">
                    <div class="ons-card" style="padding: 20px;background: #f5f5f6;">
                        <span style="font-size:14px;">PROJECT </span>
                        <h3 style="margin-bottom: 10px;"><a href="journey_project_1.html" style="text-decoration: none;color: #000000;">HMRC Pension Scheme</a></h3>
                        <span class="ons-status ons-status--success">Analysing data</span>
                        <br>
                        <ul class="ons-list" style=";padding-top: 10px;padding-left: 20px;margin-bottom: 10px;">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>My role:</strong> Project Manager
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Project Manager:</strong> <a href="#0">Miles Coward</a>
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Lead researcher:</strong> <a href="#0">Anna Silverstone</a>
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Project members:</strong> 7
                            </li>
                        </ul>
                        <ul class="ons-list ons-list--bare" style="padding-left: 5px;margin-bottom: 5px">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <a href="journey_project_1.html" class="ons-list__link">Project details</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="ons-grid__col ons-col-4@m">
                    <div class="ons-card" style="padding: 20px;background: #f5f5f6;">
                        <span style="font-size:14px;">PROJECT </span>
                        <h3 style="margin-bottom: 10px;"><a href="#0" style="text-decoration: none;color: #000000;">Armed Forces Pension</a></h3>
                        <span class="ons-status ons-status--success">Pre-publishing data</span>
                        <br>
                        <ul class="ons-list" style=";padding-top: 10px;padding-left: 20px;margin-bottom: 10px;">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>My role:</strong> Project Contributor
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Project Manager:</strong> <a href="#0">Susan Hopkins</a>
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Lead researcher:</strong> <a href="#0">Miles Coward</a>
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Project members:</strong> 9
                            </li>
                        </ul>
                        <ul class="ons-list ons-list--bare" style="padding-left: 5px;margin-bottom: 5px">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <a href="#0" class="ons-list__link">Project details</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="ons-grid__col ons-col-4@m">
                    <div class="ons-card" style="padding: 20px;background: #f5f5f6;">
                        <span style="font-size:14px;">PROJECT </span>
                        <h3 style="margin-bottom: 10px;"><a href="#0" style="text-decoration: none;color: #000000;">DWP Workplace Pension</a></h3>
                        <span class="ons-status ons-status--info">New Project</span>
                        <br>
                        <ul class="ons-list" style=";padding-top: 10px;padding-left: 20px;margin-bottom: 10px;">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>My role:</strong> Project Collaborator
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Project Manager:</strong> <a href="#0">Paul Jones</a>
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Lead researcher:</strong> <a href="#0">Paul Jones</a>
                            </li>
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <strong>Project members:</strong> 4
                            </li>
                        </ul>
                        <ul class="ons-list ons-list--bare" style="padding-left: 5px;margin-bottom: 5px">
                            <li class="ons-list__item" style="margin-bottom: 0px;">
                                <a href="#0" class="ons-list__link">Project details</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- Full column finish here -->

        <!-- Main starts here -->

        <div class="ons-grid">

            <!-- 2/3 column starts here -->

            <div class="ons-grid__col ons-col-8@m ons-u-mt-l ons-u-mb-l" style="margin-top: 0px!important;">
                <main id="main-content" class="ons-page__main" style="margin-top: 0px;margin-bottom:0px;">

                    <!-- Panel here -->

                

                    <!-- No more sections -->

                </main>
            </div>

            <!-- 2/3 column finish here -->

            <!-- Side column -->

            <div class="ons-grid__col ons-col-4@m ons-u-mt-l ons-u-mb-l" style="margin-top: 0px!important;">

                <!-- Side content start here -->

                <!-- Panel here -->

                

                <!-- No more sections -->

            </div>

            <!-- Side column finish here -->

        </div>

        <!-- Main finish here -->

    </main>
</div>

<!-- Body finish here -->



{% endblock %}
