---
group: Hub
title: Hub Prototypes
layout: ids_hub/vision/v1/views/_master_for_signin_pages

---

{% from "components/button/_macro.njk" import onsButton %}

{% block pageContent %}
    
<!-- Body starts here -->

<!--
<div class="ons-page__container ons-container ons-container--wide">
    <main id="main-content" class="ons-page__main" style="margin-top: 20px;margin-bottom:100px;">
    </main>
</div>
-->

<!-- Body finish here -->

{% include "../../../../includes/footer_wide.html" %}

{% endblock %}
