---
group: Hub
title: First hub prototype TESTING PAGE 2
layout: example/views/_master
---
{% from "components/button/_macro.njk" import onsButton %}

{% block pageContent %}
  
  Text for page 2

{% endblock %}
