---
group: Examples
title: IDS Prototype
layout: ids_website/v1/views/_master_for_website_pages
theme: ids
---


{% block pageContent %} 

    {% from "components/header/_macro.njk" import onsHeader %}

    {{
        onsHeader({
            "title": 'ONS Service',
            "variants": 'neutral',
            "classes": "ons-u-bb",
            "noMasthead": true,
            "orgLogoHref": '#0',
            "titleLogo": 'ids-logo-en',
            "titleLogoMobile": 'ids-logo-en-mobile',
            "titleLogoClasses": 'ons-u-mt-s ons-u-mb-m',
            "titleLogoMobileClasses": 'ons-u-mt-xs ons-u-mb-s',
            "titleLogoHref": '/',
            "titleLogoAlt": 'Integrated Data Service',
            "navigation": {
                "id": 'main-nav',
                "ariaLabel": 'Main menu',
                "currentPath": 'none',
                "currentPageTitle": 'Design system',
                "itemsList": [
                     {
                        "title": 'Home',
                        "url": 'website_landingpage.html'
                    },
                    {
                        "title": 'About the IDS',
                        "url": 'about_overview.html'
                    },
                    {
                        "title": 'Keeping data secure',
                        "url": 'secure_overview.html'
                    }
                ],
                "toggleNavigationButton": {
                    "text": 'Menu',
                    "ariaLabel": 'Toggle main menu'
                }
            }
        })
    }}
    

    <div class="ons-page__container ons-container">
        <nav class="ons-breadcrumb" aria-label="Breadcrumbs">
            <ol class="ons-breadcrumb__items ons-u-fs-s">
                <li class="ons-breadcrumb__item" id="breadcrumb-1">
                    <a class="ons-breadcrumb__link" href="website_landingpage.html">Home</a> 
                    <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                    </svg>
                </li>
            </ol>
        </nav>
        <div class="ons-grid">
            <div class="ons-grid__col ons-col-8@m">
                <main id="main-content" class="ons-page__main">
                    <h1 class="ons-u-mb-l ons-u-fs-xxl">Accessibility statement</h1>
                    <div class="ons-page__body">
                        <p>The Integrated Data Service website is run by the Office for National Statistics (ONS).<br></p>
                        <p>The ONS aims to be inclusive in all that we do.</p>
                        <p>We want everyone who visits our website to have a positive experience, and easily find and use the information they need.</p>
                        <p>To help you, we have made our website simple to understand and more user-friendly, so you can:</p>
                        <ul>
                            <li>change colours, contrast levels and fonts</li>
                            <li>zoom in up to 300% without the text spilling off the screen</li>
                            <li>navigate most of the website using just a keyboard</li>
                            <li>navigate most of the website using speech recognition software</li>
                            <li>listen to most of the website using a screen reader, including the most recent versions of JAWS, NVDA and VoiceOver</li>
                        </ul>
                        <p>
                            <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability or impairment.
                        </p>
                        <h2>Reporting accessibility problems</h2>
                        <p>We’re always looking to improve the accessibility of this website. If you find any problems, or you think we are not meeting accessibility requirements, please<a href="mailto:IDS.customer.support@ons.gov.uk"> contact us</a>.</p>
                        <h2>Enforcement procedure<br></h2>
                        <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>
                        <h2>Compliance status</h2>
                        <p>This website is fully compliant with the Web Content Accessibility Guidelines version 2.1 AA standard.</p>
                        <h2>Technical information about this website's accessibility</h2>
                        <p>The Integrated Data Service is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</p>
                        <h2>How we tested this website</h2>
                        <p>This website was tested in July 2022. <a href="https://digitalaccessibilitycentre.org/">Digital Accessibility Centre (DAC)</a> carried out the tests.</p>
                        <h2>What we’re doing to improve accessibility</h2>
                        <p>We will continue to monitor how this website meets Web Content Accessibility Guidelines (WCAG) version 2.1 AA standard.</p>
                        <p>We will update this page when we find and fix any accessibility issues.</p>
                        <h2>Accessible formats</h2>
                        <p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, please <a href="mailto:IDS.customer.support@ons.gov.uk">contact us</a>.</p>
                        <h2>Preparation of this accessibility statement</h2>
                        <p>This statement was prepared on 14th July 2022.</p>
                        <br>
                    </div>
                </main>
            </div>
        </div>
    </div>


    {% from "components/footer/_macro.njk" import onsFooter %}
        {{
            onsFooter({
                "poweredBy": {
                    "logo": 'hm-gov-logo-en',
                    "alt": 'Her Majesty’s Government',
                    "partnership": 'In partnership with'
                },
                "legal": [
                    {
                        "itemsList": [
                            {
                                "text": 'Cookies',
                                "url": 'cookies.html'
                            },
                            {
                                "text": 'Accessibility statement',
                                "url": '#'
                            },
                            {
                                "text": 'Privacy and data protection',
                                "url": 'privacy.html'
                            }
                        ]
                    }
                ],
                "OGLLink": true
            })
        }}

            
 
{% endblock %}