---
group: Hub
title: Hub Prototypes
layout: ids_hub/views/_master_for_hub_dashboard
---

{% from "components/button/_macro.njk" import onsButton %}

{% block pageContent %}
    
<!-- Body starts here -->

<div class="ons-page__container ons-container ">
  <div class="ons-grid">
    <div class="ons-grid__col ons-col-12@m">
      <main id="main-content" class="ons-page__main" style="margin-top: 30px;">

      <!-- Content starts here -->

        <!-- Notification -->

        <div class="ons-panel ons-panel--branded ons-panel--no-title" style="background: #fde8dd; border-color: #e77023;">
          <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
          <div class="ons-panel__body">
            Miles Coward, your new project <strong>Yellow Bananas</strong> with 3 accredited researchers has been added to the IDS Hub.<br>You can <a href="#0">access to project Yellow Bananas</a> and participate in the team activities as Project Manager.
          </div>
        </div>

        <!-- Search in page -->

        <!--
        <link rel="stylesheet" href="//cdn.ons.gov.uk/dp-design-system/465b483/css/main.css">
        <div class="search nav-search--hidden print--hide" id="searchBar" style="background: #e9eff4;">
          <div class="wrapper" role="search">
            <form class="col-wrap search__form" action="/search">
              <label class="search__label col col--md-23 col--lg-24" for="nav-search">Search for a keyword(s) or time series ID</label>
              <input type="search" autocomplete="off" class="search__input col col--md-21 col--lg-32" id="nav-search" name="q" value="">
              <button type="submit" class="search__button col--md-3 col--lg-3" id="nav-search-submit">
                <span class="visuallyhidden">Search</span>
                <span class="icon icon-search--light">
                <svg class="ons-svg-icon ons-svg-icon--m" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="currentColor">
                <path d="M11.86 10.23 8.62 6.99a4.63 4.63 0 1 0-6.34 1.64 4.55 4.55 0 0 0 2.36.64 4.65 4.65 0 0 0 2.33-.65l3.24 3.23a.46.46 0 0
                    0 .65 0l1-1a.48.48 0 0 0 0-.62Zm-5-3.32a3.28 3.28 0 0 1-2.31.93 3.22 3.22 0 1 1 2.35-.93Z"></path>
                </svg>
                </span>
              </button>
            </form>
          </div>
        </div>
        -->

        <!-- Project pannels -->

        <div class="ons-container" style="padding-left: 0px; padding-right: 0px; padding-top: 30px;">
          <div class="ons-grid ons-grid--column@xxs@s">

            <!-- Project 1 -->

            <div class="ons-grid__col ons-col-4@m">

              <div class="ons-panel ons-panel--branded" style="background: #e2e2e3;">
                <span style="font-size:14px;margin-top: 0px;padding-left: 20px;">PROJECT </span> 
                <span style="font-size:14px;margin-top: 0px;padding-left: 2px;font-weight: 700;">(NEW)</span>
              </div>

              <div class="ons-card" aria-describedBy="text1" style="background: #f5f5f6;padding: 20px;height: 380px;">

                <!--
                <span style="font-size:14px;margin-top: OPX;">PROJECT</span><br>
                -->
                <h3 style="margin-bottom: 10px;"><a href="#0" style="text-decoration: none;color: #000000;">Yellow Bananas</a></h3>

                <span class="ons-status ons-status--success" style="font-size:16px;">Active</span>

                <br>

                <ul class="ons-list" style="font-size:16px;padding-top: 10px;padding-left: 18px;">
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>My role:</strong> Project Manager
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>Project Manager:</strong> Miles Coward
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>Lead researcher:</strong> Anna Silverstone
                  </li>
                </ul>

                <ul class="ons-list ons-list--bare">
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px;">Manage project</a>
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px">Manage project members (3)</a>
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px">Manage project forums (0)</a>
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px">Manage project requests (1)</a>
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px">Manage support tickets (0)</a>
                  </li>
                  <!--
                  <li class="ons-list__item">
                    <a href="https://goo.gl/maps/ULnVRd16zfFLZWdt7" class="ons-external-link" target="_blank" rel="noopener">
                      <span class="ons-external-link__text">Link x</span><span class="ons-external-link__icon">&nbsp;<svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                          <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                          <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                        </svg></span><span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span></a>
                  </li>
                  -->
                </ul>

              </div>
            </div>


            <!-- Project 2 -->

            <div class="ons-grid__col ons-col-4@m">

              <div class="ons-panel ons-panel--branded" style="background: #e2e2e3;">
                <span style="font-size:14px;margin-top: 0px;padding-left: 20px;">PROJECT </span>
                <span class="ons-status ons-status--pending ons-status--small" style="font-size:14px;margin-top: 0px;padding-left: 100px;border: #e77023;"><a href="hub_project_landingpage.html" style="text-decoration: none;">2 Notifications</a></span>
              </div>

              <div class="ons-card" aria-describedBy="text1" style="background: #f5f5f6;padding: 20px;height: 380px;">

                <h3 style="margin-bottom: 10px;"><a href="hub_project_landingpage.html" style="text-decoration: none;color: #000000;">Red Apples</a></h3>

                <span class="ons-status ons-status--success" style="font-size:16px;">Active</span>

                <br>

                <ul class="ons-list" style="font-size:16px;padding-top: 10px;padding-left: 18px;">
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>My role:</strong> Project Contributor 
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>Project Manager:</strong> Imran Edwards
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>Lead researcher:</strong> Miles Coward
                  </li>
                </ul>

                <ul class="ons-list ons-list--bare">
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="hub_project_landingpage.html" class="ons-list__link" style="font-size:16px;">View project details</a>
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px">View project members (7)</a>
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px">View and write project forums (4)</a>
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px">View project team's work (17)</a>
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px">View project activity</a>
                  </li>
                </ul>

              </div>
            </div>


            <!-- Project 3 -->

            <div class="ons-grid__col ons-col-4@m">

              <div class="ons-panel ons-panel--branded" style="background: #e2e2e3;">
                <span style="font-size:14px;margin-top: 0px;padding-left: 20px;">PROJECT </span>
              </div>

              <div class="ons-card" aria-describedBy="text1" style="background: #f5f5f6;padding: 20px;height: 380px;">

                <h3 style="margin-bottom: 10px;"><a href="#0" style="text-decoration: none;color: #000000;">Green Watermelon</a></h3>

                <span class="ons-status ons-status--error" style="font-size:16px;">Closed (view mode only)</span>

                <br>

                <ul class="ons-list" style="font-size:16px;padding-top: 10px;padding-left: 18px;">
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>My role:</strong> Project Collaborator
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>Project Manager:</strong> Susan White
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <strong>Lead researcher:</strong> John Douglas
                  </li>
                </ul>

                <ul class="ons-list ons-list--bare">
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px;">View project details</a>
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px">View project members (4)</a>
                  </li>
                  <li class="ons-list__item" style="margin-bottom: 0px;">
                    <a href="#0" class="ons-list__link" style="font-size:16px">View project forums (1)</a>
                  </li>
                </ul>

              </div>
            </div>

            <!-- More content -->

            <div class="ons-grid" style="">

              <!-- 2/3 column -->

              <div class="ons-grid__col ons-col-8@m" style="padding-left: 35px;">
                <main id="main-content" class="ons-page__main" style="margin-bottom: 0px;margin-top: 30px;">

                  <!-- Intro -->

                  <!--
                  <h3>Lorum ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                  -->

                  <!-- Project requests -->

                  <div class="ons-panel ons-panel--branded" style="background: #f8f0fd;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 10px;">Project requests</h3>
                    <div class="ons-panel__body" style="padding-top: 0px; font-size: 16px;">
                      <ul class="ons-list ons-list--bare">
                        <li class="ons-list__item">
                          <a href="https://goo.gl/maps/ULnVRd16zfFLZWdt7" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Request join an existing project as collaborator or contributor</span>
                          </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="https://goo.gl/maps/ULnVRd16zfFLZWdt7" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Request a new accredited project as Project Manager</span>
                            <span class="ons-external-link__icon">&nbsp;
                              <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg>
                            </span>
                            <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span>
                          </a>
                        </li>
                        <li class="ons-list__item">
                          <a href="https://goo.gl/maps/ULnVRd16zfFLZWdt7" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">Request collaboration between projects</span>
                          </a>
                        </li>
                      </ul>
                      <!--
                      <span><a href="#0" style="vertical-align: middle;">Explore existing projects</a></span>
                      <br><br>
                      -->
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;padding-top: 5px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Learn more about projects and roles</span>
                        </span>
                      </button>
                    </div>
                  </div>

                  <!-- My inquiries -->

                  <div class="ons-panel ons-panel--branded" style="background: #fff9e2;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 10px;">My inquiries</h3>
                    <div class="ons-panel__body" style="padding-top: 0px;font-size: 16px;font-weight: 400;">
                      <table class="ons-table ons-table--responsive">
                        <thead class="ons-table__head">
                          <tr class="ons-table__row">
                            <th scope="col" class="ons-table__header">
                              <span>Ticket</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Type</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Description</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Status</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ons-table__body">
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">35246148</a>
                            </td>
                            <td class="ons-table__cell">
                              Libra 
                            </td>
                            <td class="ons-table__cell">
                              Lorum vinculas sempre
                            </td>
                            <td class="ons-table__cell" data-sort-value="0">
                              <span class='ons-status ons-status--success'>Resolved</span>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">85626753</a>
                            </td>
                            <td class="ons-table__cell">
                              aquarius 
                            </td>
                            <td class="ons-table__cell">
                              Romanus senatus sumus et doloris
                            </td>
                            <td class="ons-table__cell" data-sort-value="1">
                              <span class='ons-status ons-status--dead'>Not started</span>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">20848837</a>
                            </td>
                            <td class="ons-table__cell">
                              Taurus 
                            </td>
                            <td class="ons-table__cell">
                              Aliquam versatilas
                            </td>
                            <td class="ons-table__cell" data-sort-value="2">
                              <span class='ons-status ons-status--info'>In progress</span>
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell">
                              <a href="#0" style="text-decoration: none;">63502647</a>
                            </td>
                            <td class="ons-table__cell">
                              Piccis 
                            </td>
                            <td class="ons-table__cell">
                              Columbias et pensare populas
                            </td>
                            <td class="ons-table__cell" data-sort-value="3">
                              <span class='ons-status ons-status--error'>Waiting action</span>
                            </td>
                          </tr>
                          <tr class="ons-table__row"></tr>
                        </tbody>
                      </table>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;margin-top: 10px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Make a new enquiry</span>
                        </span>
                      </button>
                    </div>
                  </div>

                  <!-- My research activity in forums -->

                  <div class="ons-panel ons-panel--branded" style="background: #f5f5f6;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 10px;">My research activity in forums 
                      <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:16px;font-weight: 400;"><a href="#0">See all research forums</a></span>--></h3>
                    <div class="ons-panel__body" style="padding-top: 0px;font-size: 16px;">
                      <ul class="ons-document-list">
                        <li class="ons-document-list__item" style="padding-bottom: 5px;margin-bottom: 20px;"></li>
                        <li class="ons-document-list__item" style="padding-top: 0px;padding-bottom: 15px;margin-bottom: 20px;">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li style="padding-bottom: 10px;">
                                  <span style="font-size:16px;"><a href="#0">Peter Smith (6)</a> &nbsp; 18 February 22</span>
                                  <span>&nbsp;|&nbsp; </span>
                                  <span>12 Replies</span>
                                </li>
                                <li class="ons-document-list__item-attribute">
                                  <div class="ons-feedback" style="background: white;">
                                    <span style="font-size: 16px;"><strong>Lorum ipsum est capella dolor est tentare vinculas sempre est dolore causaras alias et oliqua picolas supra alrendas colabras?</strong></span>
                                    <span class="ons-panel__assistive-text ons-u-vh" style="padding-bottom: 50px;">Forum</span>
                                    <div style="font-size: 16px; padding-top: 10px;">
                                      <span><a href="#0">Reply</a></span>
                                    </div>
                                  </div>
                                </li>
                                <li>
                                  <div style="padding-left:50px;">
                                    <span style="font-size:16px;">My Replies &nbsp;&nbsp;</span>
                                  </div>
                                </li>
                                <li style="padding-left:50px;">
                                  <div class="ons-panel ons-panel--info ons-panel--no-title">
                                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                                      <span style="font-size:16px;"><a href="#0">Miles Coward (2)</a></span>
                                      <span>&nbsp;&nbsp; 2 days ago</span>
                                    <br><br>
                                    <div class="ons-panel__body">
                                      <p>Dolor sit amet consectetur adipiscing elit sed in nisi volutpat niras porttitor luctus diam blandit praesent pulvinar consensual est.</p>
                                    </div>
                                    <br>
                                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                                    <span style="font-size: 16px; text-align:right;">
                                      <span>
                                        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous"><i class="fas fa-thumbs-up" style="font-size:20px;color:#000000;"></i> Helpful (5)</span>
                                      <span>&nbsp;|&nbsp; </span>
                                      <span><a href="#0">Remove</a></span>
                                      <span>&nbsp;|&nbsp; </span>
                                      <span><a href="#0">Edit</a></span>
                                      <span>&nbsp;|&nbsp; </span>
                                      <span><a href="#0">Reply</a></span>
                                    </span>
                                  </div>
                                  <br>
                                  <span><a href="#0">See all Replies</a></span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="ons-document-list__item" style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li style="padding-bottom: 10px;">
                                  <span style="font-size:16px;"><a href="#0">Miles Coward (2)</a> &nbsp; 23 February 22</span>
                                  <span>&nbsp;|&nbsp; </span>
                                  <span>7 Replies</span>
                                </li>
                                <li class="ons-document-list__item-attribute">
                                  <div class="ons-feedback" style="background: white;">
                                    <span style="font-size: 16px;"><strong>Vinculas sempre est dolore causaras roman senatus epicolas dolore causas et morte provocas atiu estilas columpias sentare aquas estias momentum colaboras colabria emporias sentare dolor contaminas?</strong></span>
                                    <span class="ons-panel__assistive-text ons-u-vh" style="padding-bottom: 50px;">Forum</span>
                                    <div style="font-size: 16px; padding-top: 10px;">
                                      <span><a href="#0">Remove</a></span>
                                      <span>&nbsp;|&nbsp; </span>
                                      <span><a href="#0">Edit</a></span>
                                      <span>&nbsp;|&nbsp; </span>
                                      <span><a href="#0">Reply</a></span>
                                    </div>
                                  </div>
                                </li>
                                <li>
                                  <div style="padding-left:50px;">
                                    <span style="font-size:16px;">Latest Reply &nbsp;&nbsp;</span>
                                  </div>
                                </li>
                                <li style="padding-left:50px;">
                                  <div class="ons-panel ons-panel--info ons-panel--no-title">
                                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                                      <span style="font-size:16px;"><a href="#0">Ann Carpenter (4)</a></span>
                                      <span>&nbsp;&nbsp; Yesterday</span>
                                    <br><br>
                                    <div class="ons-panel__body">
                                      <p>Dolor sit amet consectetur adipiscing elit sed in nisi volutpat niras porttitor luctus diam blandit praesent pulvinar consensual est.</p>
                                    </div>
                                    <br>
                                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                                    <span style="font-size: 16px; text-align:right;">
                                      <span>
                                        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous"><a href="#0"><i class="fas fa-thumbs-up" style="font-size:20px;color:#206095;"></i> Helpful (2)</a></span>
                                      <span>&nbsp;|&nbsp; </span>
                                      <span><a href="#0">Reply</a></span>
                                    </span>
                                  </div>
                                  <br>
                                  <span><a href="#0">See all Replies</a></span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!-- My latest subscriptions -->

                  <div class="ons-panel ons-panel--branded" style="background: #e7f1f8;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 0px;">My latest subscriptions</h3>
                    <div class="ons-panel__body" style="padding-top: 0px; font-size: 16px;">
                      <table class="ons-table ons-table--responsive">
                        <thead class="ons-table__head">
                          <tr class="ons-table__row">
                            <th scope="col" class="ons-table__header">
                              <span>Subscriptions (5 of 14)</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Last update</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ons-table__body">
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" data-th="Country">
                              Notify updates in data catalog about fruits data
                            </td>
                            <td class="ons-table__cell" data-th="Height">
                              09 Sep 21
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" data-th="Country">
                              Notify updates in research forums about fruit chats
                            </td>
                            <td class="ons-table__cell" data-th="Height">
                             14 dev 21
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" data-th="Country">
                              Notify updates in Service Desk about fruit inquiries
                            </td>
                            <td class="ons-table__cell" data-th="Height">
                              03 Jan 22
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" data-th="Country">
                              Notify updates in projects about team chats
                            </td>
                            <td class="ons-table__cell" data-th="Height">
                              28 Aug 21
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" data-th="Country">
                              Notify updates in projects about new outputs
                            </td>
                            <td class="ons-table__cell" data-th="Height">
                              16 Feb 22
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;margin-top: 10px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Manage subscriptions</span>
                        </span>
                      </button>
                    </div>
                  </div>

                  <!-- Incoming events -->

                  <div class="ons-panel ons-panel--branded" style="background: #f5f5f6;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 0px;">Incoming events</h3>
                    <div class="ons-panel__body" style="padding-top: 0px; font-size: 16px;">
                      <table class="ons-table ons-table--responsive">
                        <thead class="ons-table__head">
                          <tr class="ons-table__row">
                            <th scope="col" class="ons-table__header" width="200">
                              <span>Event</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Host</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Location</span>
                            </th>
                            <th scope="col" class="ons-table__header">
                              <span>Date</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody class="ons-table__body">
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" data-th="Country" width="200">
                              <a href="#0" style="text-decoration: none;">Using satellite images to predict crop yields</a>
                            </td>
                            <td class="ons-table__cell" data-th="Highest mountain">
                              ONS Data Campus
                            </td>
                            <td class="ons-table__cell" data-th="Highest mountain">
                              Webinar
                            </td>
                            <td class="ons-table__cell" data-th="Height">
                              14 Aug 22
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" data-th="Country">
                              <a href="#0" style="text-decoration: none;">Data Show & Tell</a>
                            </td>
                            <td class="ons-table__cell" data-th="Highest mountain">
                              HMRC Data Lab
                            </td>
                            <td class="ons-table__cell" data-th="Highest mountain">
                              Webinar
                            </td>
                            <td class="ons-table__cell" data-th="Height">
                             26 Sep 22
                            </td>
                          </tr>
                          <tr class="ons-table__row">
                            <td class="ons-table__cell" data-th="Country">
                              <a href="#0" style="text-decoration: none;">Flood warning service</a>
                            </td>
                            <td class="ons-table__cell" data-th="Highest mountain">
                              DEFRA Data Team
                            </td>
                            <td class="ons-table__cell" data-th="Highest mountain">
                              Manchester
                            </td>
                            <td class="ons-table__cell" data-th="Height">
                              11 Nov 22
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;margin-top: 10px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Register</span>
                        </span>
                      </button>
                    </div>
                  </div>

                  <!--
                  <div class="ons-panel ons-panel--branded" style="background: #e7eee8;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 20px;padding-top: 20px;margin-bottom: 10px;">Lorum</h3>
                    <div class="ons-panel__body" style="padding-top: 0px;font-size: 16px;">
                      You can <strong>subscribe</strong> to receive notifications about: <br>
                      <ul class="ons-list" style="font-size:16px;padding-top: 10px;padding-left: 18px;">
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          Updates in your projects
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          Updates in data products
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          Updates in forums where you participate
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          Incoming data events, training and more
                        </li>
                      </ul>
                      <button type="button" class="ons-btn ons-btn--small">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Manage subscriptions</span>
                        </span>
                      </button>
                      <span>&nbsp;&nbsp;&nbsp;</span>
                      <span>
                        <a href="#0" style="vertical-align: middle;">Find out more</a>
                    </span>
                    </div>
                  </div>
                  -->

                </main>
              </div>

              <!-- third column -->

              <div class="ons-grid__col ons-col-4@m ons-u-mt-l ons-u-mb-l" style="padding-left:25px;margin-top:30px!important;">

                <!-- Useful links -->

                <div class="ons-panel ons-panel--branded" style="background: #e7f1f8;padding-bottom: 36px;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 17px;padding-top: 20px;margin-bottom: 10px;">Useful links</h3>
                    <div class="ons-panel__body" style="padding-top: 0px; font-size: 16px;">
                      <ul class="ons-list ons-list--bare">
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" rel="noopener">
                            <span class="ons-external-link__text">Reporting</span><span class="ons-external-link__icon">&nbsp;<svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg></span><span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span></a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" rel="noopener">
                            <span class="ons-external-link__text">Methods Library</span><span class="ons-external-link__icon">&nbsp;<svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg></span><span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span></a>
                        </li>
                        <li class="ons-list__item">
                          <a href="#0" class="ons-external-link" rel="noopener">
                            <span class="ons-external-link__text">Projects published outputs</span><span class="ons-external-link__icon">&nbsp;<svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg></span><span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span></a>
                        </li>
                        <li class="ons-list__item">
                          <a href="http://www.integrateddataservice.gov.uk" class="ons-external-link" target="_blank" rel="noopener">
                            <span class="ons-external-link__text">IDS Website</span><span class="ons-external-link__icon">&nbsp;<svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                              </svg></span><span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)</span></a>
                        </li>
                      </ul>
                    </div>
                </div>

                <!-- My activity -->

                <aside class="ons-page__aside" style="padding-top:28px;">
                  <aside class="ons-related-content" aria-label="Related content" style="margin-top:0px!important;">
                    <div class="ons-related-content__body">
                      <div class="ons-related-content__section">
                        <h3>My activity</h3>
                        <div class="ons-related-content__content">
                          <div class="ons-timeline">
                            <div class="ons-timeline__item">
                              <h2 class="ons-timeline__heading">07 June 22</h2>
                              <ul class="ons-list ons-list--bare" style="font-size:16px;">
                                <li class="ons-list__item ons-u-fs-s" style="margin-bottom: 0px;color: #707071;">
                                  Project Yellow Bananas
                                </li>
                                <li class="ons-list__item">
                                  You join <a href="#0">Yellow Bananas</a> project.
                                </li>
                              </ul>
                            </div>
                            <div class="ons-timeline__item">
                              <h2 class="ons-timeline__heading">03 June 22</h2>
                              <ul class="ons-list ons-list--bare" style="font-size:16px;">
                                <li class="ons-list__item ons-u-fs-s" style="margin-bottom: 0px;color: #707071;">
                                  Project Red Apples
                                </li>
                                <li class="ons-list__item">
                                  RAS gains access for the <a href="#0">Red Apples</a> project to access to <a href="#0">Apple Trees</a> data product.
                                </li>
                              </ul>
                            </div>
                            <div class="ons-timeline__item">
                              <h2 class="ons-timeline__heading">02 June 22</h2>
                              <ul class="ons-list ons-list--bare" style="font-size:16px;">
                                <li class="ons-list__item ons-u-fs-s" style="margin-bottom: 0px;color: #707071;">
                                  Research forum
                                </li>
                                <li class="ons-list__item">
                                  You participate in <a href="#0">Applemania</a> public forum.
                                </li>
                              </ul>
                            </div>
                            <div class="ons-timeline__item">
                              <h2 class="ons-timeline__heading">25 May 22</h2>
                              <ul class="ons-list ons-list--bare" style="font-size:16px;">
                                <li class="ons-list__item ons-u-fs-s" style="margin-bottom: 0px;color: #707071;">
                                  Project Red Apples
                                </li>
                                <li class="ons-list__item">
                                  Project Manager request to RAS access to <a href="#0">Apple Trees</a> data product.
                                </li>
                              </ul>
                            </div>
                            <div class="ons-timeline__item">
                              <h2 class="ons-timeline__heading">24 May 22</h2>
                              <ul class="ons-list ons-list--bare" style="font-size:16px;">
                                <li class="ons-list__item ons-u-fs-s" style="margin-bottom: 0px;color: #707071;">
                                  Project Red Apples
                                </li>
                                <li class="ons-list__item">
                                  You request <a href="#0">Apple Trees</a> data product.
                                </li>
                              </ul>
                            </div>
                            <div class="ons-timeline__item">
                              <h2 class="ons-timeline__heading">17 May 22</h2>
                              <ul class="ons-list ons-list--bare" style="font-size:16px;">
                                <li class="ons-list__item ons-u-fs-s" style="margin-bottom: 0px;color: #707071;">
                                  Project Red Apples
                                </li>
                                <li class="ons-list__item">
                                  Project Manager ask you to review <a href="#0">Cider</a> narrative.
                                </li>
                              </ul>
                            </div>
                            <div class="ons-timeline__item">
                              <h2 class="ons-timeline__heading">05 May 22</h2>
                              <ul class="ons-list ons-list--bare" style="font-size:16px;">
                                <li class="ons-list__item ons-u-fs-s" style="margin-bottom: 0px;color: #707071;">
                                  Project Red Apples
                                </li>
                                <li class="ons-list__item" style="margin-bottom: 0px;">
                                  You comment on <a href="#0">apples and cider</a> private forum.
                                </li>
                                <li class="ons-list__item" style="margin-bottom: 0px;">
                                  You view <a href="#0">apples and cider</a> private forum.
                                </li>
                                <li class="ons-list__item" style="margin-bottom: 0px;">
                                  You joined Project Red Apples.
                                </li>
                              </ul>
                            </div>
                            <div class="ons-timeline__item">
                              <h2 class="ons-timeline__heading">28 April 22</h2>
                              <ul class="ons-list ons-list--bare" style="font-size:16px;">
                                <li class="ons-list__item ons-u-fs-s" style="margin-bottom: 0px;color: #707071;">
                                  Project Green Watermelon
                                </li>
                                <li class="ons-list__item">
                                  Project Manager close the project.
                                </li>
                              </ul>
                            </div>
                            <p style="font-size:16px;"><a href="#0">View full activity (39)</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </aside>
                </aside>

                <br>

                <!-- Do you know... -->

                <div class="ons-panel ons-panel--branded" style="background: #e7eee8;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 17px;padding-top: 20px;margin-bottom: 10px;">Do you know...</h3>
                    <div class="ons-panel__body" style="padding-top: 0px;font-size: 16px;">
                      You can <strong>subscribe</strong> to receive notifications about: <br>
                      <ul class="ons-list" style="font-size:16px;padding-top: 10px;padding-left: 17px;">
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          Activity in your projects
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          Updates in data products
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          Updates in analytical tools
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          Comments updates in your forums 
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          Follow popular topics in forums
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          Incoming events and training
                        </li>
                      </ul>
                      <span><a href="#0">Find out more</a></span>
                      <br><br>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom: 10px;margin-top: 0px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Subscribe</span>
                        </span>
                      </button>
                    </div>
                </div>

                <!-- Survey -->

                <div class="ons-panel ons-panel--branded" style="background: #f5f5f6;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 17px;padding-top: 20px;margin-bottom: 10px;">Survey</h3>
                    <div class="ons-panel__body" style="padding-top: 0px; font-size: 16px;">
                      Help us to improve the IDS Hub participating in our survey (only take 5' to be completed). 
                      <br>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom: 10px;margin-top: 20px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Take survey</span>
                        </span>
                      </button>
                    </div>
                </div>

                <!-- How IDS Hub works -->

                <div class="ons-panel ons-panel--branded" style="background: #e7f1f8;">
                    <span class="ons-panel__assistive-text ons-u-vh">Important information: </span>
                    <h3 style="padding-left: 17px;padding-top: 20px;margin-bottom: 0px;">How IDS Hub works</h3>
                    <div class="ons-panel__body" style="padding-top: 0px; font-size: 16px;">
                      <ul class="ons-list" style="font-size:16px;padding-top: 10px;padding-left: 16px;">
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          <a href="#0">Take a tour (2 minutes video)</a>
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          <a href="#0">View demos (3 available demos)</a>
                        </li>
                        <li class="ons-list__item" style="margin-bottom: 0px;">
                          <a href="#0">Tutorials (11 lessons)</a>
                        </li>
                      </ul>
                      <button type="button" class="ons-btn ons-btn--small" style="margin-bottom:10px;margin-top: 10px;">
                        <span class="ons-btn__inner"><span class="ons-btn__text">Get support</span>
                        </span>
                      </button>
                    </div>
                </div>

              </div>

            </div>

        <!-- Content ends here -->

      </main>
    </div>
  </div>
</div>

<!-- Body finish here -->

{% include "../../../includes/footer.html" %}

{% endblock %}
