{% from "components/lists/_macro.njk" import onsList %}

{% set pageConfig = { 
    "title": "IDS Prototypes"
} %}
{% block pageContent %}
    
<!-- Body starts here --> 

  <div class="ons-page__container ons-container ">
    <div class="ons-grid">

      <!-- Content starts here -->

      <div class="ons-grid__col ons-col-8@m">
        <main id="main-content" class="ons-page__main" style="margin-bottom: 0px;">
          <table class="ons-table ons-table--responsive">
            <h2 style="margin-bottom: 5px;">Prototypes</h2>
            <thead class="ons-table__head">
                <tr class="ons-table__row">
                  <th scope="col" class="ons-table__header" width="450px;">
                    <span>Touchpoint</span>
                  </th>
                  <th scope="col" class="ons-table__header">
                    <span>Last changes</span>
                  </th>
                </tr>
            </thead>
            <tbody class="ons-table__body">
                <tr class="ons-table__row">
                  <td class="ons-table__cell" data-th="Touchpoint">
                    <a href="prototypes/ids_website/website_index.html" style="text-decoration: none;">IDS Website</a>
                  </td>
                  <td class="ons-table__cell" data-th="Last changes">
                    20 July 2022
                  </td>
                </tr>
                <tr class="ons-table__row">
                  <td class="ons-table__cell" data-th="Touchpoint">
                    <a href="prototypes/ids_hub/hub_index.html" style="text-decoration: none;">IDS Hub</a>
                  </td>
                  <td class="ons-table__cell" data-th="Last changes">
                    25 July 2022
                  </td>
                </tr>
                <tr class="ons-table__row">
                  <td class="ons-table__cell" data-th="Touchpoint">
                    Dissemination Service
                  </td>
                  <td class="ons-table__cell" data-th="Last changes">
                    20 July 2022
                  </td>
                </tr>
                <tr class="ons-table__row">
                  <td class="ons-table__cell" data-th="Touchpoint">
                    Accreditation Service
                  </td>
                  <td class="ons-table__cell" data-th="Last changes">
                    20 July 2022
                  </td>
                </tr>
            </tbody>
          </table>
        </main>
      </div>

      <div class="ons-grid__col ons-col-12@m">
        <main id="main-content" class="ons-page__main">
          <table class="ons-table ons-table--responsive">
            <h2 style="margin-bottom: 5px;">Usability testing</h2>
            <thead class="ons-table__head">
                <tr class="ons-table__row">
                  <th scope="col" class="ons-table__header" width="300">
                    <span>Prototype</span>
                  </th>
                  <th scope="col" class="ons-table__header" width="100">
                    <span>Sprint</span>
                  </th>
                  <th scope="col" class="ons-table__header" width="120">
                    <span>Start date</span>
                  </th>
                  <th scope="col" class="ons-table__header" width="250">
                    <span>Touch point</span>
                  </th>
                  <th scope="col" class="ons-table__header" width="200">
                    <span>User</span>
                  </th>
                </tr>
            </thead>
            <tbody class="ons-table__body">
                <tr class="ons-table__row">
                  <td class="ons-table__cell" data-th="Prototype">
                    IDS Hub's Vision
                  </td>
                  <td class="ons-table__cell" data-th="Sprint">
                    Sprint 1
                  </td>
                  <td class="ons-table__cell" data-th="Start date">
                    02 Aug 22
                  </td>
                  <td class="ons-table__cell" data-th="Touch point">
                    IDS Hub
                  </td>
                  <td class="ons-table__cell" data-th="Role">
                    Data Analyst
                  </td>
                </tr>
            </tbody>
          </table>
        </main>
      </div>

      <br>
      <br>

      <!-- Content ends here -->

  </div>
</div>

<!-- Body finish here -->

{% endblock %}
