{% from "components/lists/_macro.njk" import onsList %}

{% set pageConfig = { 
    "title": "IDS Hub Prototypes"
} %}
{% block pageContent %}  
    
<!-- Body starts here -->    

<div class="ons-page__container ons-container ">
  <div class="ons-grid">
    <div class="ons-grid__col ons-col-12@m">
      <main id="main-content" class="ons-page__main" style="margin-top: 0px;margin-bottom: 0px;">

        {% include "../../includes/back_home.html" %}

        <br>

        <!-- Content starts here -->

        <table class="ons-table ons-table--responsive">
          <h2 style="margin-bottom: 5px;">Development prototypes</h2>
          <thead class="ons-table__head">
              <tr class="ons-table__row">
                <th scope="col" class="ons-table__header" width="450">
                  <span>Description</span>
                </th>
                <th scope="col" class="ons-table__header" width="70">
                  <span>Sprint</span>
                </th>
                <th scope="col" class="ons-table__header" width="100">
                  <span>Last change</span>
                </th>
                <th scope="col" class="ons-table__header ons-table__header--numeric" width="100">
                  <span>Versions</span>
                </th>
              </tr>
          </thead>
          <tbody class="ons-table__body">
            <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Add project landing page with some components from vision
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 6
                </td>
                <td class="ons-table__cell" data-th="HEnd date">
                  19 Oct 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="developers/sprint_6/v1/signin.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Existing hub landing page with new brand
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 5
                </td>
                <td class="ons-table__cell" data-th="End date">
                  06 Oct 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="developers/sprint_5/v1/dashboard.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
          </tbody>
        </table> 
  
        <br>
 
        <table class="ons-table ons-table--responsive">
          <h2 style="margin-bottom: 5px;">Vision prototypes</h2>
          <thead class="ons-table__head">
              <tr class="ons-table__row">
                <th scope="col" class="ons-table__header" width="450">
                  <span>Description</span>
                </th>
                <th scope="col" class="ons-table__header" width="70">
                  <span>Sprint</span>
                </th> 
                <th scope="col" class="ons-table__header" width="100">
                  <span>Last change</span>
                </th>
                <th scope="col" class="ons-table__header ons-table__header--numeric" width="100">
                  <span>Versions</span>
                </th>
              </tr>
          </thead>
          <tbody class="ons-table__body">
            <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Hub dashboard - Scenario 1: Access to the hub for first time
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 1
                </td>
                <td class="ons-table__cell" data-th="HEnd date">
                  22 Sep 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 8px 5px 8px ;"><a href="vision/v2/scenario_1_website.html" style="text-decoration: none;color:#FFFFFF">v2</a></span>
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="vision/v1/scenario_1_website.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Hub dashboard - Scenario 2: Busy activity in multiple projects
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 1
                </td>
                <td class="ons-table__cell" data-th="End date">
                  22 Sep 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 8px 5px 8px ;"><a href="vision/v2/scenario_2_website.html" style="text-decoration: none;color:#FFFFFF">v2</a></span>
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="vision/v1/scenario_2_website.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Hub dashboard - Scenario 3: No projects but active in the hub
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 1
                </td>
                <td class="ons-table__cell" data-th="End date">
                  06 Oct 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 8px 5px 8px ;"><a href="vision/v2/scenario_3_website.html" style="text-decoration: none;color:#FFFFFF">v2</a></span>
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="vision/v1/scenario_3_website.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Dynamic layout for the visualisation of multiple projects
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 1
                </td>
                <td class="ons-table__cell" data-th="End date">
                  25 Aug 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="vision/v1/projects_visualisation_in_dashboard.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Initial concept for the IDS Hub
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint 0
                </td>
                <td class="ons-table__cell" data-th="End date">
                  22 Jul 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="vision/concept/hub_dashboard.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <!--
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Description
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  Sprint x
                </td>
                <td class="ons-table__cell" data-th="End date">
                  06 Oct 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 8px 5px 8px ;"><a href="#0" style="text-decoration: none;color:#FFFFFF">v3</a></span>
                  <span style="background-color:#206095;padding: 5px 8px 5px 8px ;"><a href="#0" style="text-decoration: none;color:#FFFFFF">v2</a></span>
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="#0" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              -->
          </tbody>
        </table>

        <br>
        <br>
        <br>
        <br>


        <!-- Content ends here -->

      </main>
    </div>
  </div>
</div>

<!-- Body finish here -->

{% endblock %}
