{% from "components/lists/_macro.njk" import onsList %}

{% set pageConfig = { 
    "title": "IDS Website Prototypes"
} %}
{% block pageContent %}
    
<!-- Body starts here -->

<div class="ons-page__container ons-container ">
  <div class="ons-grid">
    <div class="ons-grid__col ons-col-12@m">
      <main id="main-content" class="ons-page__main" style="margin-top: 20px;margin-bottom: 0px;">

        {% include "../../includes/back_home.html" %}

        <!-- Content starts here -->

        <br>

        <table class="ons-table ons-table--responsive">
          <!--
          <h2 style="margin-bottom: 5px;">Prototypes by sprint</h2>
          -->
          <thead class="ons-table__head">
              <tr class="ons-table__row">
                <th scope="col" class="ons-table__header" width="60">
                  <span>Sprint</span>
                </th>
                <th scope="col" class="ons-table__header" width="500">
                  <span>Description</span>
                </th>
                <th scope="col" class="ons-table__header" width="100">
                  <span>Start date</span>
                </th>
                <th scope="col" class="ons-table__header" width="100">
                  <span>End date</span>
                </th>
                <th scope="col" class="ons-table__header ons-table__header--numeric" width="50">
                  <span>Version</span>
                </th>
              </tr>  
          </thead>
          <tbody class="ons-table__body">
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Sprint">
                  <a href="website_landingpage.html" style="text-decoration: none;">Sprint 1</a>
                </td>
                <td class="ons-table__cell" data-th="Description">
                  Prototype replica of the current IDS website
                </td>
                <td class="ons-table__cell" data-th="Start date">
                  25 Jul 22
                </td>
                <td class="ons-table__cell" data-th="HEnd date">
                  5 Aug 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Version">
                  1.0
                </td>
              </tr>
          </tbody>
        </table>

        <!-- Content ends here -->

      </main>
    </div>
  </div>
</div>

<!-- Body finish here -->

{% endblock %}
