{% from "components/lists/_macro.njk" import onsList %}

{% set pageConfig = { 
    "title": "IDS Website Prototypes"
} %}
{% block pageContent %}  
    
<!-- Body starts here -->    

<div class="ons-page__container ons-container ">
  <div class="ons-grid">
    <div class="ons-grid__col ons-col-12@m">
      <main id="main-content" class="ons-page__main" style="margin-top: 0px;margin-bottom: 0px;">

        {% include "../../includes/back_home.html" %}

        <br>

        <!-- Content starts here -->

        <table class="ons-table ons-table--responsive">
          <h2 style="margin-bottom: 5px;">Development prototypes</h2>
          <thead class="ons-table__head">
              <tr class="ons-table__row">
                <th scope="col" class="ons-table__header" width="450">
                  <span>Description</span>
                </th>
                <th scope="col" class="ons-table__header" width="70">
                  <span>Sprint</span>
                </th>
                <th scope="col" class="ons-table__header" width="100">
                  <span>Last change</span>
                </th>
                <th scope="col" class="ons-table__header ons-table__header--numeric" width="150">
                  <span>Versions</span>
                </th>
              </tr>
          </thead>
          <tbody class="ons-table__body">
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  <strong>Prototype replica of the current IDS website</strong>
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="End date">
                  17 Jan 23
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v3/website_landingpage.html" style="text-decoration: none;color:#FFFFFF">v3</a></span>
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/website_landingpage.html" style="text-decoration: none;color:#FFFFFF">v2</a></span>
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v1/website_landingpage.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                 Available data Index page 
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="End date">
                  13 Dec 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_5c.html" style="text-decoration: none;color:#FFFFFF">v3</a></span> 
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_2c.html" style="text-decoration: none;color:#FFFFFF">v2</a></span> 
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_1c.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                 Available data Details page 
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="End date">
                  13 Dec 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions"> 
                   <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_ext_5.html" style="text-decoration: none;color:#FFFFFF">v4</a></span>
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_ext_3.html" style="text-decoration: none;color:#FFFFFF">v3</a></span>
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_ext_2.html" style="text-decoration: none;color:#FFFFFF">v2</a></span>
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_ext_1.html" style="text-decoration: none;color:#FFFFFF">v1</a></span> 
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Partnerships page work
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="End date">
                  13 Sep 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/about_partnerships.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Scenario 1a. Data page without Search (207 result)
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="End date">
                  8 Sep 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_1a.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Scenario 1b. Data page without filters (207 result)
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="End date">
                  8 Sep 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_1b.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Scenario 1c. Data page without Search or filters (207 result)
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="End date">
                  8 Sep 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_1c.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Scenario 1. Design for the data page with filters and search (207 results)
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="End date">
                  26 Aug 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_1.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Scenario 2. Design for the data page without search (7 results)
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="End date">
                  26 Aug 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_2.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
              <tr class="ons-table__row">
                <td class="ons-table__cell" data-th="Description">
                  Scenario 3. Design for the data page with one result (1 result)
                </td>
                <td class="ons-table__cell" data-th="Sprint">
                  -
                </td>
                <td class="ons-table__cell" data-th="End date">
                  26 Aug 22
                </td>
                <td class="ons-table__cell ons-table__cell--numeric" data-th="Versions">
                  <span style="background-color:#206095;padding: 5px 10px 5px 10px ;"><a href="v2/data_3.html" style="text-decoration: none;color:#FFFFFF">v1</a></span>
                </td>
              </tr>
          </tbody>
        </table> 
  
        <br>
 


        <br>
        <br>
        <br>
        <br>


        <!-- Content ends here -->

      </main>
    </div>
  </div>
</div>

<!-- Body finish here -->

{% endblock %}
