---
group: Examples
title: IDS Prototype
layout: ids_website/v2/views/_master_for_website_pages
theme: ids
---


{% block pageContent %} 

    {% from "components/header/_macro.njk" import onsHeader %}

    {{
        onsHeader({
            "title": 'ONS Service',
            "variants": 'neutral',
            "classes": "ons-u-bb",
            "noMasthead": true,
            "orgLogoHref": '#0',
            "titleLogo": 'ids-logo-en',
            "titleLogoMobile": 'ids-logo-en-mobile',
            "titleLogoClasses": 'ons-u-mt-s ons-u-mb-m',
            "titleLogoMobileClasses": 'ons-u-mt-xs ons-u-mb-s',
            "titleLogoHref": '/',
            "titleLogoAlt": 'Integrated Data Service',
            "navigation": {
                "id": 'main-nav',
                "ariaLabel": 'Main menu',
                "currentPath": 'none',
                "currentPageTitle": 'Design system',
                "itemsList": [
                     {
                        "title": 'Home',
                        "url": 'website_landingpage.html'
                    },
                    {
                        "title": 'About the IDS',
                        "url": 'about_overview.html'
                    },
                    {
                        "title": 'Keeping data secure',
                        "url": 'secure_overview.html'
                    },
                    { "title": 'Current data available',
                        "url": 'data_2c.html'
                    }
                ],
                "toggleNavigationButton": {
                    "text": 'Menu',
                    "ariaLabel": 'Toggle main menu'
                }
            }
        })
    }}
    

    <div class="ons-page__container ons-container">
        <nav class="ons-breadcrumb" aria-label="Breadcrumbs">
            <ol class="ons-breadcrumb__items ons-u-fs-s">
                <li class="ons-breadcrumb__item" id="breadcrumb-1">
                    <a class="ons-breadcrumb__link" href="website_landingpage.html">Home</a> 
                    <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                    </svg>
                </li>
            </ol>
        </nav>
        <div class="ons-grid">
            <div class="ons-grid__col ons-col-8@m">
                <main id="main-content" class="ons-page__main">
                    <h1 class="ons-u-mb-l ons-u-fs-xxl">Cookies on integrateddataservice.gov.uk</h1>
                    <div class="ons-page__body">
                        <p>Cookies are small files stored on your phone, tablet or computer when you visit a website.<br></p>
                        <p>We use cookies and similar technologies to store information about how you use integrateddataservice.gov.uk, such as the pages you visit.</p>
                        <p>From now we will use the single term “cookies” to refer to cookies and similar technologies.</p>
                       
                        <h2>Cookie settings</h2>
                        <p>We use four types of cookie. You can choose which cookies you're happy for us to use.</p>

                        <h3>Cookies that measure website use<br></h3>
                        <p>We use Google Analytics to measure how you use the website so we can improve it based on user needs. Google Analytics sets cookies that store anonymised information about:</p>
                        <ul>
                            <li>how you got to the site</li>
                            <li>the pages you visit on integrateddataservice.gov.uk and how long you spend on each page</li>
                            <li>what you click on while you're visiting the site</li>
                        </ul>
                        <!-- Collapsible begining -->
                        <details id="collapsible" class="ons-collapsible ons-js-collapsible">
                            <summary class="ons-collapsible__heading ons-js-collapsible-heading">
                                <h3 class="ons-collapsible__title">Learn more about these Google Analytics cookies</h3>
                                <span class="ons-collapsible__icon">
                                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                    <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                                </svg>
                                </span>
                            </summary>
                            <div id="collapsible-content" class="ons-collapsible__content ons-js-collapsible-content">
                                <table id="basic-table" class="ons-table">
                            
                            <!-- Beging of table -->
                            <!-- 
                            <caption class="ons-table__caption">A basic table with a caption</caption> 
                            -->
                            <thead class="ons-table__head">
                                <tr class="ons-table__row">
                                <th scope="col" class="ons-table__header">
                                    <span>Name</span>
                                </th>
                                <th scope="col" class="ons-table__header">
                                    <span>Purpose</span>
                                </th>
                                <th scope="col" class="ons-table__header">
                                    <span>Expires</span>
                                </th>
                                </tr>
                            </thead>
                            <tbody class="ons-table__body">
                                <tr class="ons-table__row">
                                <td class="ons-table__cell" name="cell-name">
                                    <p class="ons-u-fs-s"> _ga</p>
                                </td>
                                <td class="ons-table__cell">
                                    This helps us count how many people visit integrateddataservice.gov.uk by tracking if you’ve visited before
                                </td>
                                <td class="ons-table__cell">
                                    2 years
                                </td>
                                </tr>
                                <tr class="ons-table__row">
                                <td class="ons-table__cell">
                                     <p class="ons-u-fs-s">_gid</p>
                                </td>
                                <td class="ons-table__cell">
                                    This helps us count how many people visit integrateddataservice.gov.uk by tracking if you’ve visited before
                                </td>
                                <td class="ons-table__cell">
                                    24 hours
                                </td>
                                </tr>
                                 <tr class="ons-table__row">
                                <td class="ons-table__cell">
                                     <p class="ons-u-fs-s">_gat</p>
                                </td>
                                <td class="ons-table__cell">
                                    Used to manage the rate at which page view requests are made
                                </td>
                                <td class="ons-table__cell">
                                    10 minutes
                                </td>
                                 <td class="ons-table__cell">
                                </tr>
                                <tr class="ons-table__row">
                            </tbody>
                            </table>
                            <!-- end of table-->
                            <div class="ons-checkboxes__items">
                            </div>
                            </details>
                              <!-- end of Collapsible -->
                            <br>
                         <p>We do not allow Google to use or share the data about how you use this site.</p>
                            <!-- Radio Button -->
                            <div class="ons-question ons-u-mb-l ons-u-mt-no">
                            <div class="ons-question__answer ons-u-mb-m">
                                <fieldset class="ons-fieldset">
                                <div class="ons-input-items">
                                    <div class="ons-radios__items">
                                    <span class="ons-radios__item">
                                        <span class="ons-radio">
                                        <input type="radio" id="measure-on" class="ons-radio__input ons-js-radio" value="measure1-on" name="property-type_1" checked="checked">
                                        <label class=" ons-radio__label " for="measure1-on" id="on-label">On</label>
                                        </span>
                                    </span>
                                    <br>
                                    <span class="ons-radios__item">
                                        <span class="ons-radio">
                                        <input type="radio" id="measure-off" class="ons-radio__input ons-js-radio" value="off" name="property-type_1">
                                        <label class=" ons-radio__label " for="off" id="flat-label">Off</label>
                                        </span>
                                    </span>
                                    </div>
                                </div>
                                </fieldset>
                            </div>
                            </div>
                             <!-- Radio Button end --> 

                        <h3>Cookies that help with our communications</h3>
                        <p>Some of our pages may contain content from other sites, like YouTube, which may set their own cookies. These sites are sometimes called “third party” services. This tells us how many people are seeing the content and whether it’s useful.</p>
                        <p>In addition, if you share a link to a integrateddataservice.gov.uk page, the service you share it on may set a cookie. We have no control over cookies set on other websites – you can turn them off, but not through us.</p>
                       
                        <h4>YouTube videos</h4>
                        <p>We use YouTube to show videos on some integrateddataservice.gov.uk pages. YouTube sets cookies when you visit one of these pages.</p>
                        <!-- Collapsible begining -->
                        <details id="collapsible" class="ons-collapsible ons-js-collapsible">
                            <summary class="ons-collapsible__heading ons-js-collapsible-heading">
                                <h3 class="ons-collapsible__title">Learn more about these YouTube cookies</h3>
                                <span class="ons-collapsible__icon">
                                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                    <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                                </svg>
                                </span>
                            </summary>
                            <div id="collapsible-content" class="ons-collapsible__content ons-js-collapsible-content">
                                <table id="basic-table" class="ons-table">
                            <br>
                            <!-- Beging of table -->
                            <!-- 
                            <caption class="ons-table__caption">A basic table with a caption</caption> 
                            -->
                            <thead class="ons-table__head">
                                <tr class="ons-table__row">
                                <th scope="col" class="ons-table__header">
                                    <span>Name</span>
                                </th>
                                <th scope="col" class="ons-table__header">
                                    <span>Purpose</span>
                                </th>
                                <th scope="col" class="ons-table__header">
                                    <span>Expires</span>
                                </th>
                                </tr>
                            </thead>
                            <tbody class="ons-table__body">
                                <tr class="ons-table__row">
                                    <td class="ons-table__cell" name="cell-name">
                                        <p class="ons-u-fs-s">_use_hitbox</p>
                                    </td>
                                     <td class="ons-table__cell">
                                    This is a randomly generated number that identifies your browser
                                    </td>
                                     <td class="ons-table__cell">
                                    When you close your browser
                                    </td>
                               </tr>
                                <tr class="ons-table__row">
                                    <td class="ons-table__cell">
                                        <p class="ons-u-fs-s">VISITOR_INFO1_LIVE</p>	
                                    </td>
                                    <td class="ons-table__cell">
                                        Lets Youtube count the views of embedded Youtube videos
                                    </td>
                                    <td class="ons-table__cell">
                                        9 months
                                    </td>
                                </tr>
                                <tr class="ons-table__row">      
                            </tbody>
                            </table>
                            <!-- end of table-->
                            <div class="ons-checkboxes__items">
                            </div>
                            </details>
                              <!-- end of Collapsible -->
                            <br>
                            <!-- Radio button begin -->
                                  <div class="ons-question ons-u-mb-l ons-u-mt-no">
                            <div class="ons-question__answer ons-u-mb-m">
                                <fieldset class="ons-fieldset">
                                <div class="ons-input-items">
                                    <div class="ons-radios__items">
                                    <span class="ons-radios__item">
                                        <span class="ons-radio">
                                        <input type="radio" id="on" class="ons-radio__input ons-js-radio" value="on" name="property-type2" checked="checked">
                                        <label class=" ons-radio__label " for="on" id="on-label">On</label>
                                        </span>
                                    </span>
                                    <br>
                                    <span class="ons-radios__item">
                                        <span class="ons-radio">
                                        <input type="radio" id="off" class="ons-radio__input ons-js-radio" value="off" name="property-type2">
                                        <label class=" ons-radio__label " for="off" id="flat-label">Off</label>
                                        </span>
                                    </span>
                                    </div>
                                </div>
                                </fieldset>
                            </div>
                            </div>
                             <!-- Radio button end --> 
                         <h3>Cookies that remember your settings</h3>
                        <p>These cookies do things like remember your preferences and the choices you make, to personalise your experience of using the site.</p>
                            <!-- Radio begin -->
                                  <div class="ons-question ons-u-mb-l ons-u-mt-no">
                            <div class="ons-question__answer ons-u-mb-m">
                                <fieldset class="ons-fieldset">
                                <div class="ons-input-items">
                                    <div class="ons-radios__items">
                                    <span class="ons-radios__item">
                                        <span class="ons-radio">
                                        <input type="radio" id="on" class="ons-radio__input ons-js-radio" value="on" name="property-type_3" checked="checked">
                                        <label class=" ons-radio__label " for="on" id="on-label">On</label>
                                        </span>
                                    </span>
                                    <br>
                                    <span class="ons-radios__item">
                                        <span class="ons-radio">
                                        <input type="radio" id="off" class="ons-radio__input ons-js-radio" value="off" name="property-type_3">
                                        <label class=" ons-radio__label " for="off" id="flat-label">Off</label>
                                        </span>
                                    </span>
                                    </div>
                                </div>
                                </fieldset>
                            </div>
                            </div> 
                           <!-- Radio end -->      
                        <h3>Strictly necessary cookies</h3>
                        <p class="ons-u-fs-s--b">These essential cookies do things like:</p>
                       <ul>
                            <li>remember the notifications you've seen so we do not show them to you again</li>
                        </ul>
                        <p>They always need to be on.</p>
                        <details id="collapsible" class="ons-collapsible ons-js-collapsible">
                            <summary class="ons-collapsible__heading ons-js-collapsible-heading">
                                <h3 class="ons-collapsible__title">Learn more about these essential cookies</h3>
                                <span class="ons-collapsible__icon">
                                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                    <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                                </svg>
                                </span>
                            </summary>
                            <div id="collapsible-content" class="ons-collapsible__content ons-js-collapsible-content">
                                   <p class="ons-u-fs-s--b">Cookie message</b></p>
                                <p>You may see a banner when you visit integrateddataservice.gov.uk inviting you to accept cookies or review your settings. We’ll set cookies so that your computer knows you’ve seen it and not to show it again, and also to store your settings.</p>
                            <table id="basic-table" class="ons-table">
                            <thead class="ons-table__head">
                                <tr class="ons-table__row">
                                <th scope="col" class="ons-table__header">
                                    <span>Name</span>
                                </th>
                                <th scope="col" class="ons-table__header">
                                    <span>Purpose</span>
                                </th>
                                <th scope="col" class="ons-table__header">
                                    <span>Expires</span>
                                </th>
                                </tr>
                            </thead>
                            <tbody class="ons-table__body">
                                <tr class="ons-table__row">
                                <td class="ons-table__cell" name="cell-name">
                                    <p class="ons-u-fs-s">ons_cookie_message_displayed<p>
                                </td>
                                <td class="ons-table__cell">
                                    Lets us know that you’ve seen our cookie message
                                </td>
                                <td class="ons-table__cell">
                                    1 year
                                </td>
                                </tr>
                                <tr class="ons-table__row">
                                <td class="ons-table__cell">
                                    <p class="ons-u-fs-s"> ons_cookie_policy</p>
                                </td>
                                <td class="ons-table__cell">
                                    Saves your cookie consent settings
                                </td>
                                <td class="ons-table__cell">
                                    1 year
                                </td>
                                </tr>
                                <tr class="ons-table__row">
                            </tbody>
                            </table>
                            </div>
                            </details>
                            <br>
                    </div>
                    <!-- Save button -->
                    {% from "components/button/_macro.njk" import onsButton %}
                    {{
                        onsButton({
                            "text": "Save changes "
                        })
                    }}
                    <!-- button end -->
                </main>
            </div>
        </div>
    </div>
    


{% include "../../../includes/footer_website.html" %}
            
 
{% endblock %}