---
group: Examples
title: IDS Prototype
layout: ids_website/v1/views/_master_for_website_pages
theme: ids
---


{% block pageContent %} 

    {% from "components/header/_macro.njk" import onsHeader %}

    {{
        onsHeader({
            "title": 'ONS Service',
            "variants": 'neutral',
            "classes": "ons-u-bb",
            "noMasthead": true,
            "orgLogoHref": '#0',
            "titleLogo": 'ids-logo-en',
            "titleLogoMobile": 'ids-logo-en-mobile',
            "titleLogoClasses": 'ons-u-mt-s ons-u-mb-m',
            "titleLogoMobileClasses": 'ons-u-mt-xs ons-u-mb-s',
            "titleLogoHref": '/',
            "titleLogoAlt": 'Integrated Data Service',
            "navigation": {
                "id": 'main-nav',
                "ariaLabel": 'Main menu',
                "currentPath": 'none',
                "currentPageTitle": 'Design system',
                "itemsList": [
                     {
                        "title": 'Home',
                        "url": 'website_landingpage.html'
                    },
                    {
                        "title": 'About the IDS',
                        "url": 'about_overview.html'
                    },
                    {
                        "title": 'Keeping data secure',
                        "url": 'secure_overview.html'
                    },
                    { "title": 'Current data available',
                        "url": 'data_1c.html'
                    }
                     ],
                "toggleNavigationButton": {
                    "text": 'Menu',
                    "ariaLabel": 'Toggle main menu'
                }
            }
        })
    }}
    


  <body>

        
        <div class="ons-page__container ons-container ">
          <nav class="ons-breadcrumb" aria-label="Breadcrumbs">
            <ol class="ons-breadcrumb__items ons-u-fs-s">
              <li class="ons-breadcrumb__item" id="breadcrumb-1">
                <a class="ons-breadcrumb__link" href="#0">Home</a>
                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                  <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                </svg>
              </li>
                <li class="ons-breadcrumb__item" id="breadcrumb-2">
                    <a class="ons-breadcrumb__link" href="#0">Current data available</a> 
                    <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                    </svg>
                </li>
            </ol>
          </nav>
          <div class="ons-grid">
            <div class="ons-grid__col ons-col-12@m">
              <main id="main-content" class="ons-page__main">
                <div class="ons-grid_col ons-col-6@m ">
                  <div class="ons-pl-grid-col">
                <h1 class="ons-u-fs-xxl">Current data available</h1>
                  </div>
                </div>
               <div>
                 <p>Datasets currently available in the Integrated Data Service (IDS).</p>
               </div>   
            </div>
                    <div class="ons-grid__col ons-col-8@m">
                      

                      <ul id="adv-filter-gallery" class="ons-document-list ons-adv-filter__gallery ons-js-adv-filter__gallery" data-filter-animation="off">
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                         
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_0.html">Annual Survey of Hours and Earnings (ASHE)
                                  <span class="ons-u-vh">  
                                  </span>
                                </a>
                              </h2>
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li class="ons-document-list__item-attribute ons-u-mr-no">
                                 <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                        
                                  <li class="ons-document-list__item-attribute">
                                    <span class="ons-u-fw-b">From</span>
                                  </li>
                                  <span>ONS</span>
                                </li>

                                
                                <li class="ons-document-list__item-attribute" aria-hidden="true">
                      
                                </li>
                              </ul>
                            </div>
                            <div class="ons-document-list__item-description">De-identified data on hours worked and earnings foremployees by sex, full-time and part-time, and postcode level geography, 1990 to 2020.</div>
                          </div>
                        </li>
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="2">
                          
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="#0">BBC News Sentiment Analysis
                                  <span class="ons-u-vh">
                                  BBC, Sentiment Analysis
                                  </span></a>
                              </h2>
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li class="ons-document-list__item-attribute ons-u-mr-no">
                                  <span>BBC,</span>
                                </li>
                                <li class="ons-document-list__item-attribute" aria-hidden="true"> 
                                   Sentiment Analysis
                                </li>
                              </ul>
                            </div>
                            <div class="ons-document-list__item-description">BBC News regional text analysis, January 2019 to October 2021.</div>
                          </div>
                        </li>
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="3">
                        
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="#0">Energy Performance Certificates for Domestic Buildings
                                  <span class="ons-u-vh">
                                    , PDF document download, 499KB, 1 page
                                  </span>
                                </a>
                              </h2>
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li class="ons-document-list__item-attribute ons-u-mr-no">
                                  <span>Energy,</span>
                                </li>
                                <li class="ons-document-list__item-attribute" aria-hidden="true">
                                  Performance, Domestic Buildings
                                </li>
                              </ul>
                            </div>
                            <div class="ons-document-list__item-description">Department for Levelling Up, Housing and Communities
                            (DLUHC) Open Data Energy Performance Certificates (EPC) issued 
                            for domestic buildings constructed, sold or let since 2008. This data 
                            has been matched to the Office for National Statistics (ONS)’s 
                            address index matching service.</div>
                          </div>
                        </li>
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="booklet english local-authorities community-groups recruitment" data-sort-index="4">
                          
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="#0">Mid-year population estimates
                                  <span class="ons-u-vh">
                                    , PDF document download, 3.3MB, 16 pages
                                  </span></a>
                              </h2>
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li class="ons-document-list__item-attribute ons-u-mr-no">
                                  <span>Mid-year,</span>
                                </li>
                                <li class="ons-document-list__item-attribute" aria-hidden="true">
                                   Population estimates
                                </li>
                              </ul>
                            </div>
                            <div class="ons-document-list__item-description">Mid-year population estimates by age, sex and local authority, 20 June 2012 to 30 June 2020.</div>
                          </div>
                        </li>
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="booklet english local-authorities community-groups recruitment" data-sort-index="5">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="#0">Birth estimates
                                  <span class="ons-u-vh">
                                    , PDF document download, 7.4MB, 70 pages
                                  </span></a>
                              </h2>
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li class="ons-document-list__item-attribute ons-u-mr-no">
                                  <span>Birth estimates,</span>
                                </li>
                                <li class="ons-document-list__item-attribute" aria-hidden="true">
                                 
                                </li>
                              </ul>
                            </div>
                            <div class="ons-document-list__item-description">Births registered in England and Wales by age, sex, and local 
                            authority, with disclosure control applied, 2012 to 2020. Includes 
                            sex of child and age of mother at time of birth.
                            </div>
                          </div>
                        </li>
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="booklet english local-authorities community-groups recruitment" data-sort-index="6">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="#0">Death estimates
                                  
                                  </span></a>
                              </h2>
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li class="ons-document-list__item-attribute ons-u-mr-no">
                                  <span>Deaths,</span>
                                </li>
                                <li class="ons-document-list__item-attribute" aria-hidden="true">
                                 
                                </li>
                              </ul>
                            </div>
                            <div class="ons-document-list__item-description">Deaths registered in England and Wales by age, sex, and local 
                            authority, with  disclosure control applied, 2012 to 2020. Includes age at
                            death, sex coded to  male and female and count within each group.</div>
                          </div>
                        </li>
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="7">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="#0">Lorem ipsum dolor sit amet </a>
                              </h2>
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li class="ons-document-list__item-attribute ons-u-mr-no">
                                  <span>Loren Ipsum,</span>
                                </li>
                                <li class="ons-document-list__item-attribute" aria-hidden="true">
                               Dolor
                                </li>
                              </ul>
                            </div>
                            <div class="ons-document-list__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</div>
                          </div>
                        </li>
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="8">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="#0">Lorem ipsum dolor sit amet</a>
                                  <span class="ons-u-vh">
                                    
                                  </span></a>
                              </h2>
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li class="ons-document-list__item-attribute ons-u-mr-no">
                                  <span>Loren ipsum,</span>
                                </li>
                                <li class="ons-document-list__item-attribute" aria-hidden="true">
                                  Dolor
                                </li>
                              </ul>
                            </div>
                            <div class="ons-document-list__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</div>
                          </div>
                        </li>
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="logo english local-authorities community-groups recruitment" data-sort-index="9">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="#0">Lorem ipsum dolor sit amet
                                  <span class="ons-u-vh">
                                    
                                  </span></a>
                              </h2>
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li class="ons-document-list__item-attribute ons-u-mr-no">
                                  <span>Loren ipsum,</span>
                                </li>
                                <li class="ons-document-list__item-attribute" aria-hidden="true">
                                  dolor
                                </li>
                              </ul>
                            </div>
                            <div class="ons-document-list__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                          </div>
                        </li>
                         <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="2">
                          
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="#0">BBC News Sentiment Analysis
                                  <span class="ons-u-vh">
                                  BBC, Sentiment Analysis
                                  </span></a>
                              </h2>
                              <ul class="ons-document-list__item-metadata ons-u-mb-xs">
                                <li class="ons-document-list__item-attribute ons-u-mr-no">
                                  <span>BBC,</span>
                                </li>
                                <li class="ons-document-list__item-attribute" aria-hidden="true"> 
                                   Sentiment Analysis
                                </li>
                              </ul>
                            </div>
                            <div class="ons-document-list__item-description">BBC News Regional Text Analysis January 2019 to October 2021.</div>
                          </div>
                        </li>
                  
                      </ul>

                    
                       <div>
                         <fieldset class="ons-fieldset ons-u-mb-s">
                      </div>
                      <br>
                      <!--pagination 
                      <nav class="ons-content-pagination" aria-label="Guide pagination">
                        <ul class="ons-content-pagination__list">
                          <li class="ons-content-pagination__item">
                            <a href="#0" class="ons-content-pagination__link" rel="next">
                              <span class="ons-content-pagination__link-title">
                                <svg class="ons-svg-icon ons-svg-icon--m" viewBox="0 0 17 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                  <path d="m10 .2-.9.9c-.1.1-.1.4 0 .5l4 4H.6c-.2 0-.4.2-.4.4v1.2c0 .2.2.4.4.4h12.5l-3.9 3.7c-.2.2-.2.4 0 .6l.8.9c.2.2.4.2.6 0L16.8 7c.2-.2.2-.4 0-.6L10.7.3c-.3-.2-.5-.2-.7-.1z" />
                                </svg>
                                <span class="ons-content-pagination__link-text">
                                  Next
                                </span>
                              </span>
                              <span class="ons-content-pagination__link-divider ons-u-vh">page in this guide is:</span>
                              <span class="ons-content-pagination__link-label">View more data available</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                      end of pagination -->

                      <div class="ons-adv-filter__no-results" data-fallback-gallery-id="adv-filter-gallery">
                        <h2>No results found</h2>
                        <p>Try selecting different filters to get results.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      (function() {
        var s = '/scripts/main.js,/scripts/patternlib.js'.split(','),
          c = document.createElement('script');
        if (!('noModule' in c)) {
          for (var i = 0; i < s.length; i++) {
            s[i] = s[i].replace('.js', '.es5.js');
          }
        }
        for (var i = 0; i < s.length; i++) {
          var e = document.createElement('script');
          e.src = s[i];
          document.body.appendChild(e);
        }
      })();
    </script>
  </body>
</html>
                </main>
            </div>
        </div>
    </div>

    <br>
            
 
{% include "../../../includes/footer_website.html" %}

{% endblock %}