---
group: Examples
title: IDS Prototype
layout: ids_website/v1/views/_master_for_website_pages
theme: ids
---


{% block pageContent %} 

    {% from "components/header/_macro.njk" import onsHeader %}

    {{
        onsHeader({
            "title": 'ONS Service',
            "variants": 'neutral',
            "classes": "ons-u-bb",
            "noMasthead": true,
            "orgLogoHref": '#0',
            "titleLogo": 'ids-logo-en',
            "titleLogoMobile": 'ids-logo-en-mobile',
            "titleLogoClasses": 'ons-u-mt-s ons-u-mb-m',
            "titleLogoMobileClasses": 'ons-u-mt-xs ons-u-mb-s',
            "titleLogoHref": '/',
            "titleLogoAlt": 'Integrated Data Service',
            "navigation": {
                "id": 'main-nav',
                "ariaLabel": 'Main menu',
                "currentPath": 'none',
                "currentPageTitle": 'Design system',
                "itemsList": [
                     {
                        "title": 'Home',
                        "url": 'website_landingpage.html'
                    },
                    {
                        "title": 'About the IDS',
                        "url": 'about_overview.html'
                    },
                    {
                        "title": 'Keeping data secure',
                        "url": 'secure_overview.html'
                    },
                    { "title": 'Current data available',
                        "url": 'data_1c.html'
                    }
                     ],
                "toggleNavigationButton": {
                    "text": 'Menu',
                    "ariaLabel": 'Toggle main menu'
                }
            }
        })
    }}
  <body>
        <div class="ons-page__container ons-container ">
          <nav class="ons-breadcrumb" aria-label="Breadcrumbs">
            <ol class="ons-breadcrumb__items ons-u-fs-s">
              <li class="ons-breadcrumb__item" id="breadcrumb-1">
                <a class="ons-breadcrumb__link" href="#0">Home</a>
                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                  <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                </svg>
              </li>
                <li class="ons-breadcrumb__item" id="breadcrumb-2">
                    <a class="ons-breadcrumb__link" href="#0">Current data available</a> 
                    <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                    </svg>
                </li>
            </ol>
          </nav>
          <div class="ons-grid">
            <div class="ons-grid__col ons-col-8@m">
              <main id="main-content" class="ons-page__main">
              {# <div class="ons-grid__col ons-col-6@m ">
                  <div class="ons-pl-grid-col">  #}
                <h1 class="ons-u-fs-xxl">Current data available</h1>
                  {# </div>
                </div> #}
               {# <div> #}
                 <p>Datasets currently available in the Integrated Data Service (IDS).</p>
               {# </div>    #}
                    {# <div class="ons-grid__col ons-col-8@m"> #}
                      <ul id="adv-filter-gallery" class="ons-document-list ons-adv-filter__gallery ons-js-adv-filter__gallery" data-filter-animation="off">
                       {# ASHE #}
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">Annual Survey of Hours and Earnings (ASHE)
                                  <span class="ons-u-vh">  
                                  </span>
                                </a>
                              </h2>
                              <p class="ons-u-fs-s">From ONS</p>
                            </div>
                            <div class="ons-document-list__item-description">De-identified data on hours worked and earnings foremployees by sex, full-time and part-time, and postcode level geography, 1990 to 2020.</div>
                          </div>
                        </li>
                        {# BBC #}
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="2">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">BBC News Sentiment Analysis
                                  </a>
                              </h2>
                                  <p class="ons-u-fs-s">From IDS and BBC</p>   
                            </div>
                            <div class="ons-document-list__item-description">BBC News regional text analysis, January 2019 to October 2021.</div>
                          </div>
                        </li>
                         {# Energy Performance #}
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="3">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">Energy Performance Certificates for Domestic Buildings
                                </a>
                              </h2>
                              <p class="ons-u-fs-s">From IDS and ONS</p>
                            </div>
                            <div class="ons-document-list__item-description">DLUHC Open Data Energy Performance Certificates (EPC) issued for domestic buildings constructed, sold or let since 2008.   This data has been matched to the ONS Address index Matching Service.</div>
                          </div>
                        </li>
                        {# Annual Business Survey #}
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">Annual Business Survey
                                </a>
                              </h2>
                              <p class="ons-u-fs-s">From ONS</p>
                            </div>
                            <div class="ons-document-list__item-description">The Annual Business Survey (ABS) formerly known as the Annual Business Inquiry - part 2 (ABI/2) is an annual survey of businesses covering the production construction distribution and service industries which represents about two-thirds of the UK economy in terms of Gross Value Added (GVA). Coverage is from January 2008 to December 2019 for Local Authority down to Postcode geography's.
                            The ABS is the largest business survey conducted by the ONS in terms of the combined number of respondents and variables it covers (62 000 questionnaires despatched in Great Britain with around 600 different questions asked). ABS provides high-level indicators of economic activity such as the total value of sales and work completed by businesses the value of purchases of goods materials and services and total employment costs.</div>
                          </div>
                        {# International Passenger Survey Estimates #}
                        </li>
                          <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">International Passenger Survey Estimates
                                </a>
                              </h2>
                              <p class="ons-u-fs-s"> </p>
                            </div>
                            <div class="ons-document-list__item-description">Origin-destination matrix by local authorities in the UK, by age, sex, and year. These data include expected counts of moves into and out of each local authority in England and Wales (including moves to and from Scotland and Northern Ireland) and in and out of the UK. The coverage of this survey is 2011 to March 2020 due to covid disruption.</div>
                          </div>
                        </li>
                        {# Statistical Population Dataset #}
                        </li>
                          <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">Statistical Population Dataset
                                </a>
                              </h2>
                              <p class="ons-u-fs-s">From ONS </p>
                            </div>
                            <div class="ons-document-list__item-description">Derived from Customer Information System, Higher Education Statistics Authority, English Schools Census & Welsh School Census, Personal Demographic Service, Benefits and Income Database System, this contains aggregated age/sex counts for population estimates by local authority and output areas for 2011 to 2020. (Formerly known as Admin Based Population Estimates).</div>
                          </div>
                        </li>
                        {# GP Registration Data Estimates #}
                        </li>
                          <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">GP Registration Data Estimates
                                </a>
                              </h2>
                              <p class="ons-u-fs-s"> </p>
                            </div>
                            <div class="ons-document-list__item-description">Number of individuals registered on the NHS Patient Register aggregated by age/sex/year and local authority 2016 to 2020.</div>
                          </div>
                        </li>
                        {# Mid Year Population Estimates #}
                        </li>
                          <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">Mid Year Population Estimates
                                </a>
                              </h2>
                              <p class="ons-u-fs-s"> </p>
                            </div>
                            <div class="ons-document-list__item-description">Mid-year population estimates as 30 June, by age, sex and local authority for 20th June 2012 to 30th June 2020.</div>
                          </div>
                        </li>
                         {# Birth Estimates #}
                          <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">Birth Estimates
                                </a>
                              </h2>
                              <p class="ons-u-fs-s"> </p>
                            </div>
                            <div class="ons-document-list__item-description">Birth's data that has been aggregated by age/sex to local authority (2021 definition) with disclosure control applied in England and Wales for 2012 to 2020 including sex of child, age of mother at time of birth, disclosure controlled through aggregation into 18 and below and 40 and above and count of birth within group.</div>
                          </div>
                        </li>
                        {# Death Esimates #}
                         <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">Death Esimates
                                </a>
                              </h2>
                              <p class="ons-u-fs-s"> </p>
                            </div>
                            <div class="ons-document-list__item-description">Death's data that has been aggregated by age/sex to local authority with disclosure control applied in England and Wales for 2012 to 2020 including age at death, sex coded to M=Male or F=Female and count within group.</div>
                          </div>
                        </li>
                        {# Prison Estimates #}
                         <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">Prison Estimates
                                </a>
                              </h2>
                              <p class="ons-u-fs-s"> </p>
                            </div>
                            <div class="ons-document-list__item-description">Prisoners held in establishments in England/Wales sentenced to six months or more as at 30 June each year, aggregated age/sex counts for Prisoners by prison, age and sex by local authority 2011 to 2020.</div>
                          </div>
                        </li>
                        {# Forces and Gurkhas Estimates #}
                        <li class="ons-document-list__item ons-filter__item ons-js-filter__item" data-filter="poster english local-authorities community-groups recruitment" data-sort-index="1">
                          <div class="ons-document-list__item-content">
                            <div class="ons-document-list__item-header">
                              <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                                <a href="data_ext_1.html">UK Regular Forces and Gurkhas Estimates 2011 to 2020
                                </a>
                              </h2>
                              <p class="ons-u-fs-s"> </p>
                            </div>
                            <div class="ons-document-list__item-description">Aggregate age/sex counts for UK Regular Forces and Gurkhas 2011 to 2020 used in experimental modelling.</div>
                          </div>
                        </li>
                      </ul>
                       <div>
                         <fieldset class="ons-fieldset ons-u-mb-s">
                      </div>
                      <br>
                      <!--pagination 
                      <nav class="ons-content-pagination" aria-label="Guide pagination">
                        <ul class="ons-content-pagination__list">
                          <li class="ons-content-pagination__item">
                            <a href="#0" class="ons-content-pagination__link" rel="next">
                              <span class="ons-content-pagination__link-title">
                                <svg class="ons-svg-icon ons-svg-icon--m" viewBox="0 0 17 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                  <path d="m10 .2-.9.9c-.1.1-.1.4 0 .5l4 4H.6c-.2 0-.4.2-.4.4v1.2c0 .2.2.4.4.4h12.5l-3.9 3.7c-.2.2-.2.4 0 .6l.8.9c.2.2.4.2.6 0L16.8 7c.2-.2.2-.4 0-.6L10.7.3c-.3-.2-.5-.2-.7-.1z" />
                                </svg>
                                <span class="ons-content-pagination__link-text">
                                  Next
                                </span>
                              </span>
                              <span class="ons-content-pagination__link-divider ons-u-vh">page in this guide is:</span>
                              <span class="ons-content-pagination__link-label">View more data available</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                      end of pagination -->

                      <div class="ons-adv-filter__no-results" data-fallback-gallery-id="adv-filter-gallery">
                        <h2>No results found</h2>
                        <p>Try selecting different filters to get results.</p>
                      </div>
                    {# </div> #}
                  </div>
                </div>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      (function() {
        var s = '/scripts/main.js,/scripts/patternlib.js'.split(','),
          c = document.createElement('script');
        if (!('noModule' in c)) {
          for (var i = 0; i < s.length; i++) {
            s[i] = s[i].replace('.js', '.es5.js');
          }
        }
        for (var i = 0; i < s.length; i++) {
          var e = document.createElement('script');
          e.src = s[i];
          document.body.appendChild(e);
        }
      })();
    </script>
  </body>
</html>
                </main>
            </div>
        </div>
    </div>

    <br>
            
 
{% include "../../../includes/footer_website.html" %}

{% endblock %}