---
group: Examples
title: IDS Prototype
layout: ids_website/v1/views/_master_for_website_pages
theme: ids
---


{% block pageContent %} 

    {% from "components/header/_macro.njk" import onsHeader %}

    {{
        onsHeader({
            "title": 'ONS Service',
            "variants": 'neutral',
            "classes": "ons-u-bb",
            "noMasthead": true,
            "orgLogoHref": '#0',
            "titleLogo": 'ids-logo-en',
            "titleLogoMobile": 'ids-logo-en-mobile',
            "titleLogoClasses": 'ons-u-mt-s ons-u-mb-m',
            "titleLogoMobileClasses": 'ons-u-mt-xs ons-u-mb-s',
            "titleLogoHref": '/',
            "titleLogoAlt": 'Integrated Data Service',
            "navigation": {
                "id": 'main-nav',
                "ariaLabel": 'Main menu',
                "currentPath": 'none',
                "currentPageTitle": 'Design system',
                "itemsList": [
                     {
                        "title": 'Home',
                        "url": 'website_landingpage.html'
                    },
                    {
                        "title": 'About the IDS',
                        "url": 'about_overview.html'
                    },
                    {
                        "title": 'Keeping data secure',
                        "url": 'secure_overview.html'
                    },
                    { "title": 'Current data available',
                        "url": 'data_1c.html'
                    }
                     ],
                "toggleNavigationButton": {
                    "text": 'Menu',
                    "ariaLabel": 'Toggle main menu'
                }
            }
        })
    }}
    
<!--
    <div class="ons-page__container ons-container">
        <nav class="ons-breadcrumb" aria-label="Breadcrumbs">
            <ol class="ons-breadcrumb__items ons-u-fs-s">
                <li class="ons-breadcrumb__item" id="breadcrumb-1">
                    <a class="ons-breadcrumb__link" href="website_landingpage.html">Home</a> 
                    <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                    </svg>
                </li>
                
            </ol>
        </nav>
        <div class="ons-grid">
            <div class="ons-grid__col ons-col-8@m">
                <main id="main-content" class="ons-page__main">
                    <div class="ons-grid__col ons-col-6@m"><h1>Current data in the Integrated Data Service</h1>
                    </div>
                    <p>Find data available in the Integrated data servicesto help you build products and services</p>
               

                    <div class="ons-page__body"><h2>
                        
                        <strong>Annual Survey of Hours and Earnings (ASHE)</strong></h2>
                        <p>The Annual Survey of Hours and Earnings, de-identified, provides information about the levels, distribution and make-up of earnings and hours paid for employees within the UK by sex, and full-time and part-time working from 1990 to 2020 down to postcode level geography.</p>
                        <h2><strong>BBC News Sentiment Analysis</strong></h2>
                        <p>BBC News Regional Text Analysis January 2019 to October 2021.</p>
                        <h2><strong>Energy Performance Certificates for Domestic Buildings</strong></h2>
                        <p>DLUHC Open Data Energy Performance Certificates (EPC) issued for domestic buildings constructed, sold or let since 2008. This data has been matched to the ONS Address index Matching Service.</p>
                        <h2><strong>Mid Year Population Estimates</strong></h2>
                        <p>Mid-year population estimates as 30 June, by age, sex and local authority for 20th June 2012 to 30th June 2020.</p>
                        <h2><strong>Birth Estimates</strong></h2>
                        <p>Birth's data that has been aggregated by age/sex to local authority (2021 definition) with disclosure control applied in England and Wales for 2012 to 2020 including sex of child, age of mother at time of birth, disclosure controlled through aggregation into 18 and below and 40 and above and count of birth within group.</p>
                        <h2><strong>Death Estimates</strong></h2>
                        <p>Death's data that has been aggregated by age/sex to local authority with disclosure control applied in England and Wales for 2012 to 2020 including age at death, sex coded to M=Male or F=Female and count within group.</p>
                   
                    </div>

                    -->



  <body>

        
        <div class="ons-page__container ons-container ">
          <nav class="ons-breadcrumb" aria-label="Breadcrumbs">
            <ol class="ons-breadcrumb__items ons-u-fs-s">
              <li class="ons-breadcrumb__item" id="breadcrumb-1">
                <a class="ons-breadcrumb__link" href="#0">Home</a>
                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                  <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                </svg>
              </li>
                <li class="ons-breadcrumb__item" id="breadcrumb-2">
                    <a class="ons-breadcrumb__link" href="#0">Current data available</a> 
                    <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                    </svg>
                </li>
                <li class="ons-breadcrumb__item" id="breadcrumb-2">
                    <a class="ons-breadcrumb__link" href="#0">ASHE</a> 
                    <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                    </svg>
                </li>
            </ol>
          </nav>
          <div class="ons-grid">
            <div class="ons-grid__col ons-col-8@m">
              <main id="main-content" class="ons-page__main">
                <div class="ons-grid_col ons-col-12@m ">
                  <div class="ons-pl-grid-col">
                <h1 class="ons-u-fs-xxl">Annual Survey of Hours and Earnings (ASHE)</h1>
                  </div>
                </div>
                

  <section class="ons-tabs">
  <h2 class="ons-tabs__title ons-u-fs-r--b ons-u-mt-no">Contents</h2>
  <ul class="ons-tabs__list">
    <li class="ons-tab__list-item"><a href="#Details" class="ons-tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Details" data-ga-label="Show: Details">Details</a></li>
    <li class="ons-tab__list-item"><a href="#vacancy-survey" class="ons-tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Vacancy survey" data-ga-label="Show: Vacancy survey">Vacancy survey</a></li>
    <li class="ons-tab__list-item"><a href="#monthly-business-survey" class="ons-tab" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Monthly Business Survey" data-ga-label="Show: Monthly Business Survey">Monthly Business Survey</a></li>
  </ul>
  <section id="Details" class="ons-tabs__panel">
      <!--  start grey s  -->
              <ul class="ons-document-list">
                <li class="ons-document-list__item ons-document-list__item--featured">
                  <div class="ons-document-list__item-content">
                    <div class="ons-document-list__item-header ons-document-list__item-header--reverse">
                    </div>
                    <div class="ons-document-list__item-description">
                      <p>De-identified data on hours worked and earnings foremployees by sex, full-time and part-time, and postcode level geography, 1990 to 2020.</P>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- and grey s-->
  </section>
  <section id="vacancy-survey" class="ons-tabs__panel">
    <h3>Purpose</h3>
    <p class="ons-u-fs-r">The Vacancy Survey is a regular survey of businesses, which provides an accurate and comprehensive measure of the total number of vacancies across the economy and fills a gap in the information available regarding the demand for labour. Before the Vacancy Survey was introduced, the only information available nationally about vacancies was from records of vacancies notified to Job Centres by employers. This provided only a partial picture, possibly less than half of all vacancies, because employers are under no obligation to notify vacancies to Job Centres. This business based survey has a more complete coverage and is included in the monthly ONS Labour Market Statistical Bulletin.</p>
    <p>You can <a href="https://www.ons.gov.uk/surveys/informationforbusinesses/businesssurveys/vacancysurvey">find more information on the Vacancy Survey on the ONS website</a>.</p>
  </section>
  <section id="monthly-business-survey" class="ons-tabs__panel">
    <h3>Aim of this survey</h3>
    <p class="ons-u-fs-r">The Monthly Business Survey (MBS) collects monthly information on employment of businesses in Great Britain. Your response contributes to Labour Market Statistics.</p>
    <h4>What you need to know</h4>
    <p class="ons-u-fs-r">To complete the survey, you will need the following information to answer the survey questions:</p>
    <ul>
      <li>number of full-time/part-time male employees</li>
      <li>number of full-time/part-time female employees</li>
      <li>total number of employees for the business</li>
    </ul>
    <p>You can <a href="https://www.ons.gov.uk/surveys/informationforbusinesses/businesssurveys/monthlybusinesssurveyretailsalesindex">find more information on the Monthly Business Survey on the ONS website</a>.</p>
  </section>
</section>
              <!--  start grey s  
              <ul class="ons-document-list">
                <li class="ons-document-list__item ons-document-list__item--featured">
                  <div class="ons-document-list__item-content">
                    <div class="ons-document-list__item-header ons-document-list__item-header--reverse">
                      <h2 class="ons-document-list__item-title ons-u-fs-m ons-u-mt-no ons-u-mb-xs">
                        <a href="#0">Hours and Earnings
                          </span></a>
                      </h2>
                    </div>
                    <div class="ons-document-list__item-description">
                      <p>De-identified data on hours worked and earnings foremployees by sex, full-time and part-time, and postcode level geography, 1990 to 2020.</P>
                    </div>
                  </div>
                </li>
              </ul>
              and grey s-->
                       <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.</P>
                     <br>
                      <!--pagination -->
                    <nav class="ons-content-pagination" aria-label="Guide pagination">
                    <ul class="ons-content-pagination__list">
                          <li class="ons-content-pagination__item">
                            <a href="data_1c.html" class="ons-content-pagination__link" rel="prev">
                              <span class="ons-content-pagination__link-title">
                                <svg class="ons-svg-icon ons-svg-icon--m" viewBox="0 0 17 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                  <path d="M6.4.2.3 6.4c-.2.2-.2.4 0 .6l6.2 5.8c.2.2.4.1.6 0l.8-.9c.2-.2.1-.4 0-.6l-4-3.7h12.5c.2 0 .4-.2.4-.4V6c0-.2-.2-.4-.4-.4H3.8l4-4c.2-.1.2-.4.1-.5L7 .2c-.1-.1-.4-.1-.6 0z" />
                                </svg>
                                <span class="ons-content-pagination__link-text">
                                  Previous
                                </span>
                              </span>
                              <span class="ons-content-pagination__link-divider ons-u-vh">page in this guide is:</span>
                              <span class="ons-content-pagination__link-label">Current data available</span>
                            </a>
                          </li>
                    </ul>
                  </nav>
                        <!-- end of pagination -->

                     
                  </div>
                </div>
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      (function() {
        var s = '/scripts/main.js,/scripts/patternlib.js'.split(','),
          c = document.createElement('script');
        if (!('noModule' in c)) {
          for (var i = 0; i < s.length; i++) {
            s[i] = s[i].replace('.js', '.es5.js');
          }
        }
        for (var i = 0; i < s.length; i++) {
          var e = document.createElement('script');
          e.src = s[i];
          document.body.appendChild(e);
        }
      })();
    </script>
  </body>
</html>
                </main>
            </div>
        </div>
    </div>

    <br>
            
 
{% include "../../../includes/footer_website.html" %}

{% endblock %}