---
group: Examples
title: IDS Prototype
layout: ids_website/v3/views/_master
theme: ids
---


{% block pageContent %} 

  <body>
        <div class="ons-page__container ons-container ">
          <nav class="ons-breadcrumb" aria-label="Breadcrumbs">
            <ol class="ons-breadcrumb__items ons-u-fs-s">
              <li class="ons-breadcrumb__item" id="breadcrumb-1">
                <a class="ons-breadcrumb__link" href="website_landingpage.html">Home</a>
                <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                  <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)" />
                </svg>
              </li>
                <li class="ons-breadcrumb__item" id="breadcrumb-2">
                    <a class="ons-breadcrumb__link" href="data_5c.html">Currently available data</a> 
                    <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                    </svg>
                </li>
                <li class="ons-breadcrumb__item" id="breadcrumb-2">
                    <a class="ons-breadcrumb__link" href="#0">Annual Survey of Hours and Earnings (ASHE)</a> 
                    <svg class="ons-svg-icon" viewBox="0 0 8 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                        <path d="M5.74,14.28l-.57-.56a.5.5,0,0,1,0-.71h0l5-5-5-5a.5.5,0,0,1,0-.71h0l.57-.56a.5.5,0,0,1,.71,0h0l5.93,5.93a.5.5,0,0,1,0,.7L6.45,14.28a.5.5,0,0,1-.71,0Z" transform="translate(-5.02 -1.59)"></path>
                    </svg>
                </li>
            </ol>
          </nav>

        <!--Star Grid --> 
        <div class="ons-grid">
          <!-- Start of main -->
          <main id="main-content" class="ons-page__main">  
            <!--Start of first column --> 
          <div class="ons-grid__col ons-col-7@m ">    
             <div class="ons-pl-grid-col">
               <div class="ons-pl-grid-col">
                  <h1 class="ons-u-fs-xxl">Annual Survey of Hours and Earnings (ASHE)</h1>
                  </div>
                  <!-- start summary in grey square -->
              <ul class="ons-document-list">
                <li class="ons-document-list__item ons-document-list__item--featured">
                  <div class="ons-document-list__item-content">
                    <div class="ons-document-list__item-description">
                      <p>De-identified data on hours worked and earnings for UK employees by sex, full-time and part-time working, and postcode level geography, 1990 to 2020.</p>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- end summary -->
              <br>
              <div>
                <P>The Annual Survey of Hours and Earnings (ASHE) provides de-identified information about the levels, distribution and make-up of earnings and hours paid for employees. Estimates are available by sex, full-time and part-time working, and breakdowns include industries, occupations, geographies and age groups within the UK. A number of geographies are linkable, including local authority districts and units, lower output areas and travel to work areas.
                    ASHE is used to produce hours and earnings statistics for a range of weekly, annual and hourly measures. It is the official source of estimates for the number of jobs paid below the national minimum wage.
                    It is also used to produce estimates of the proportions of jobs within workplace pension categories. This is available as individual years, including profiling information around the usage of variables across years. We are working towards making the longitudinal version available linked to geography.
                    Further information about the survey is available on the  
                   <a href="https://www.ons.gov.uk/employmentandlabourmarket/peopleinwork/earningsandworkinghours/methodologies/annualsurveyofhoursandearningslowpayandannualsurveyofhoursandearningspensionresultsqmi" class="ons-external-link" target="_blank" rel="noreferrer noopener">
                      <span class="ons-external-link__text">Office for National Statistics (ONS) website
                          </span>
                            <span class="ons-external-link__icon">
                                <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                         <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                         <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                                </svg>
                            </span>
                          <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)
                      </span>   
                   </a>
                  </P>
                  <br>
                     <!--pagination -->
                    <nav class="ons-content-pagination" aria-label="Guide pagination">
                    <ul class="ons-content-pagination__list">
                          <li class="ons-content-pagination__item">
                            <a href="data_5c.html" class="ons-content-pagination__link" rel="prev">
                              <span class="ons-content-pagination__link-title">
                                <svg class="ons-svg-icon ons-svg-icon--m" viewBox="0 0 17 13" xmlns="http://www.w3.org/2000/svg" focusable="false" fill="currentColor">
                                  <path d="M6.4.2.3 6.4c-.2.2-.2.4 0 .6l6.2 5.8c.2.2.4.1.6 0l.8-.9c.2-.2.1-.4 0-.6l-4-3.7h12.5c.2 0 .4-.2.4-.4V6c0-.2-.2-.4-.4-.4H3.8l4-4c.2-.1.2-.4.1-.5L7 .2c-.1-.1-.4-.1-.6 0z" />
                                </svg>
                                <span class="ons-content-pagination__link-text">
                                  Previous
                                </span>
                              </span>
                              <span class="ons-content-pagination__link-divider ons-u-vh">page in this guide is:</span>
                              <span class="ons-content-pagination__link-label">Currently available data</span>
                            </a>
                          </li>
                    </ul>
                  </nav>
                        <!-- end of pagination --> 
                  </div>
               </div>
          </div>
          
                   


<!--Start of second column -->
          <div class="ons-grid__col ons-col-4@m ons-push-1@m">
          
          
            

            <div class="ons-pl-grid-col">
                <div class="ons-pl-grid-col">
                  <br>
                  <br>
                  <br>
                 
                <div class="ons-pl-grid-col">
                <div class="ons-pl-grid-col">

<aside class="ons-related-content" aria-label="Related content">
  <div class="ons-related-content__body">
    <div class="ons-related-content__section">
      <div class="ons-related-content__content">

   {# Start HTML Metadata #}
   <!-- 
  <dl class="ons-metadata ons-metadata__list ons-grid ons-grid--gutterless ons-u-cf ons-u-mb-no" title="Information about this business and its survey requirements" aria-label="Information about this business and its survey requirements">
  <dt class="ons-metadata__term ons-grid__col ons-col-4@m">Srom:</dt>
  <dd class="ons-metadata__value ons-grid__col ons-col-8@m">Bricks &amp; Blocks</dd>
  <dt class="ons-metadata__term ons-grid__col ons-col-4@m">RU Refs:</dt>
  <dd class="ons-metadata__value ons-grid__col ons-col-8@m">49900000118</dd>
  <dd class="ons-metadata__value ons-grid__col ons-col-8@m">49300005832</dd>
  <dt class="ons-metadata__term ons-grid__col ons-col-4@m">Business:</dt>
  <dd class="ons-metadata__value ons-grid__col ons-col-8@m">Bolts &amp; Ratchets Ltd.</dd>
  <dt class="ons-metadata__term ons-grid__col ons-col-4@m">Trading as:</dt>
  <dd class="ons-metadata__value ons-grid__col ons-col-8@m">Bolts &amp; Ratchets</dd>
  <dt class="ons-metadata__term ons-grid__col ons-col-4@m">To:</dt>
  <dd class="ons-metadata__value ons-grid__col ons-col-8@m">Jacky Turner</dd>
  <dd class="ons-metadata__value ons-grid__col ons-col-8@m">Louise Goodland</dd>
</dl>

   -->
        <dl class="ons-metadata ons-metadata__list ons-grid ons-grid--gutterless ons-u-cf ons-u-mb-no" title="Information about this business and its survey requirements" aria-label="Information about this business and its survey requirements">
          <dt class="ons-metadata__term ons-grid__col ons-col-12@m">From:</dt>
          <dd class="ons-metadata__value ons-grid__col ons-col-12@m">Office for National Statistics</dd>
          <dt class="ons-metadata__term ons-grid__col ons-col-12@m">Theme:</dt>
          <dd class="ons-metadata__value ons-grid__col ons-col-12@m" style="margin-top:0;">Society - Labour - Employment</dd>
        </dl>
      </div>
    </div>

    <div class="ons-related-content__section">
      <div class="ons-related-content__content">
         <dl class="ons-metadata ons-metadata__list ons-grid ons-grid--gutterless ons-u-cf ons-u-mb-no" title="Information about this business and its survey requirements" aria-label="Information about this business and its survey requirements">
          <dt class="ons-metadata__term ons-grid__col ons-col-12@m">Date Coverage:</dt>
          <dd class="ons-metadata__value ons-grid__col ons-col-12@m" style="margin-top:0;">1 January 1999 to 1 January 2020</dd>
            {# <dd class="ons-metadata__value ons-grid__col ons-col-8@m">01/01/2020</dd> #}
          <dt class="ons-metadata__term ons-grid__col ons-col-12@m">Updated:</dt>
          <dd class="ons-metadata__value ons-grid__col ons-col-12@m" style="margin-top:0;">Annually</dd>
          <dt class="ons-metadata__term ons-grid__col ons-col-12@m">Region covered:</dt>
          <dd class="ons-metadata__value ons-grid__col ons-col-12@m" style="margin-top:0;">UK</dd>
        </dl>
      </div>
    </div>

    <div class="ons-related-content__section">
      <div class="ons-related-content__content">
           <dl class="ons-metadata ons-metadata__list ons-grid ons-grid--gutterless ons-u-cf ons-u-mb-no" title="Information about this business and its survey requirements" aria-label="Information about this business and its survey requirements">
          <dt class="ons-metadata__term ons-grid__col ons-col-12@m">Links:</dt>
          <dd class="ons-metadata__value ons-grid__col ons-col-12@m"><a href="https://www.gov.uk/government/publications/uk-national-data-strategy/national-data-strategy" class="ons-external-link" target="_blank" rel="noreferrer noopener">
                      <span class="ons-external-link__text">Documentation
                          </span>
                            <span class="ons-external-link__icon">
                                <svg class="ons-svg-icon" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true">
                                         <path d="M13.5,9H13a.5.5,0,0,0-.5.5v3h-9v-9h3A.5.5,0,0,0,7,3V2.5A.5.5,0,0,0,6.5,2h-4a.5.5,0,0,0-.5.5v11a.5.5,0,0,0,.5.5h11a.5.5,0,0,0,.5-.5v-4A.5.5,0,0,0,13.5,9Z" transform="translate(-2 -1.99)" />
                                         <path d="M8.83,7.88a.51.51,0,0,0,.71,0l2.31-2.32,1.28,1.28A.51.51,0,0,0,14,6.49v-4a.52.52,0,0,0-.5-.5h-4A.51.51,0,0,0,9,2.52a.58.58,0,0,0,.14.33l1.28,1.28L8.12,6.46a.51.51,0,0,0,0,.71Z" transform="translate(-2 -1.99)" />
                                </svg>
                            </span>
                          <span class="ons-external-link__new-window-description ons-u-vh">(opens in a new tab)
                      </span>   
                   </a>
          </dd>         
            
        </dl>
      </div>
    </div>

    <div class="ons-related-content__section">
      <div class="ons-related-content__content">
         <dl class="ons-metadata ons-metadata__list ons-grid ons-grid--gutterless ons-u-cf ons-u-mb-no" title="Information about this business and its survey requirements" aria-label="Information about this business and its survey requirements">
          <dt class="ons-metadata__term ons-grid__col ons-col-4@m">Keywords:</dt>
          </dl>
        <ul class="ons-list ons-u-mb-no ons-list--bare">
          <li class="ons-u-fs-s--b">
          </li><p>Income, Pay and incentives, Earnings, ASHE, United Kingdom, Local Authority District, LSOA, MSOA, Region, LAU, NUTS, Postcode, TTWA, WPC, Employment and labour market, Time Use</p>
        </ul>
      </div>
    </div>

  </div>
</aside>
<!--  column 2 content -->
                  </div>
            </div>
          </div>
          <!-- end of second column -->

        </div>

         </main>
          <!-- end of main -->
        </div>
        <!-- end of grid -->
    <script>
      (function() {
        var s = '/scripts/main.js,/scripts/patternlib.js'.split(','),
          c = document.createElement('script');
        if (!('noModule' in c)) {
          for (var i = 0; i < s.length; i++) {
            s[i] = s[i].replace('.js', '.es5.js');
          }
        }
        for (var i = 0; i < s.length; i++) {
          var e = document.createElement('script');
          e.src = s[i];
          document.body.appendChild(e);
        }
      })();
    </script>
  </body>
</html>
                </main>
            </div>
        </div>
    </div>
    <br>         
{% include "../../../includes/footer_website.html" %}

{% endblock %}